<section class="container wrapper">
    <div class="col-sx-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">

        <div class="m-b">
            <a ui-sref="app.public.place">
                <i class="fa fa-chevron-left m-r-xs"></i> 
                <span>retour</span>
            </a>
        </div>

        <h1 class="txt-orange m-b">Projet collectif</h1>

        <!-- INTRO -->
        <div class="conditions-intro m-b">
            LabBoîte n’est pas une maison de quartier ou une bibliothèque et reste avant tout un lieu ouvert sur l’innovation, le collaboratif et la culture projet…
        </div>

        <div class="m-b">
            <p>L’accès au lieu pour une association ou une structure locale dans le cadre d’un projet collectif est <b>gratuit</b>.</p>
        </div>

        <!-- HOW TO -->
        <div class="m-b-xl">
            <h3 class="txt-orange m-b-sm">Comment s&apos;inscrire ?</h3>
            <p>Vous devez nous fournir les pièces suivantes (tout dossier incomplet ne sera pas accepté) :</p>
            <ul class="list-documents">
                <li>
                    <div class="doc-label">
                        <span class="doc-name">Fiche projet collectif</span> <span class="doc-info">· à remplir et à signer</span>
                    </div>
                    <div class="doc-buttons">
                        <a href="files/Fiche_projet_collectif.pdf" class="btn-small btn-public btn-medium list-document-link">Télécharger</a>
                    </div>
                </li>
                <li>
                    <div class="doc-label">
                        <span class="doc-name">Attestation d’assurance responsabilité civile</span> <span class="doc-info">· hors services et composantes CYU</span>
                    </div>
                </li>
                <li>
                    <div class="doc-label">
                        <span class="doc-name">Attestation de règlement intérieur</span> <span class="doc-info">· à remplir et à signer</span>
                    </div>
                    <div class="doc-buttons">
                        <a href="files/Attestation_reglement.pdf" class="btn-small btn-public btn-medium list-document-link">Télécharger</a>
                    </div>
                </li>
                <li>
                    <div class="doc-label">
                        <span class="doc-name">Annexe(s) précisant le projet</span> <span class="doc-info">· le cas échéant</span>
                    </div>
                </li>
            </ul>
        </div>
        
        <!-- OFFER -->
        <div class="m-b">
            <h3 class="txt-orange m-b-sm">En élaborant mon projet…</h3>
            <ul class="list-default">   
                <li>Je <b>contribue à l’animation du lieu et du parc machine</b> en amenant des publics non avertis à les utiliser ou à les découvrir.</li>
                <li>Je peux ouvrir mon projet/activité à toutes et à tous et <b>m’inscrire ainsi dans la programmation</b> du lieu.</li>
                <li>Je peux <b>stocker</b> des projets gratuitement dans un délai d’un jour à une semaine (au delà, le service sera facturé, dans le cas contraire le matériel sera évacué).</li>
            </ul>
            <div class="row m-t">
                <div class="col-sx-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="storage-plan m-b">
                        <div class="storage-title">Mini box</div>
                        <div class="storage-description">Boîte de 45 L</div>
                        <div class="storage-price">
                            <span class="storage-amount">6 €</span>
                            <span class="storage-duration">&sol; trimestre</span>
                        </div>
                        <div class="storage-price">
                            <span class="storage-amount">24 €</span>
                            <span class="storage-duration">&sol; an</span>
                        </div>
                    </div>
                </div>
                <div class="col-sx-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="storage-plan m-b">
                        <div class="storage-title">Medium box</div>
                        <div class="storage-description">Boîte de 130 L</div>
                        <div class="storage-price">
                            <span class="storage-amount">12 €</span>
                            <span class="storage-duration">&sol; trimestre</span>
                        </div>
                        <div class="storage-price">
                            <span class="storage-amount">36 €</span>
                            <span class="storage-duration">&sol; an</span>
                        </div>
                    </div>
                </div>
                <div class="col-sx-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="storage-plan m-b">
                        <div class="storage-title">Big box</div>
                        <div class="storage-description">Surface au sol d'environ 1 m2</div>
                        <div class="storage-price">
                            <span class="storage-amount">24 €</span>
                            <span class="storage-duration">&sol; trimestre</span>
                        </div>
                        <div class="storage-price">
                            <span class="storage-amount">84 €</span>
                            <span class="storage-duration">&sol; an</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- CONDITIONS -->
        <div class="m-b-xl">
            <h3 class="txt-orange m-b-sm">Oui, mais…</h3>
            <ul class="list-default">   
                <li>Je m’engage à <b>documenter</b> les réalisations faites dans le lieu et à communiquer sur l’utilisation de LabBoîte dans le cadre du développement de son projet collectif, associatif ou citoyen.</li>
                <li>Je ne peux pas réaliser des projets à vocation commerciale, de petites séries ou des projets personnels d’autant plus s’ils sont exclusivement confidentiels ou protégés par une licence ou un brevet.</li>
                <li>Je dois absolument <b>être présent(e)</b> lors des animations et activités proposées. Je dois préalablement m’initier aux outils et machines du lieu.</li>
                <li>Je peux utiliser les espaces et réserver les outils du lieu dans une logique <b>partagée</b>. Je ne peux me les accaparer (des seuils et limites d’utilisation sont définis) et doit ranger derrière moi.</li>
                <li>Je dois <b>amener le consommable</b> destiné à être usiné sur les machines. Nous ne fournissons pas de matériaux ; un chutier est néanmoins à disposition pour du prototypage et dans un usage raisonné.</li>
            </ul>
        </div>

        <!-- Q AND A -->
        <div class="m-b">
            <div ng-init="accordion=1">
                <div class="question-item">
                    <div class="question-title" ng-class="{active:accordion==1}">
                        <a href ng-click="accordion = 1">Un adhérent/sympathisant à ma structure peut-il venir à LabBoîte ?</a>
                    </div>
                    <div class="question-content" ng-show="accordion==1">
                        <p>Les personnes s’inscrivant dans un projet collectif peuvent uniquement utiliser l’espace machines dans le cadre des créneaux et conditions du projet défini avec le référent. En dehors, l’utilisateur pourra uniquement utiliser les espaces ouverts à toutes et tous ou devra souscrire à une inscription adaptée dans le cadre d’un projet personnel, si besoin d’utilisation des machines.</p>
                    </div>
                </div>
                <div class="question-item">
                    <div class="question-title" ng-class="{active:accordion==2}">
                        <a href ng-click="accordion = 2">Pourquoi élaborer une fiche projet ?</a>
                    </div>
                    <div class="question-content" ng-show="accordion==2">
                        <p>LabBoîte tend à valoriser la démarche en mode projet. L’élaboration concertée de cette fiche permet d’en définir les contours et modalités sans avoir recours à des procédures administratives lourdes. Il s’agit d’un engagement moral entre les deux structures. L’objectif de LabBoîte est de rendre accessible les outils numériques au plus grand nombre. Ainsi, en tant que service public, les locaux sont mis à disposition des structures locales et associations à but non lucratives dans le cadre du développement de leurs projets. LabBoîte s’inscrit en complémentarité des maisons de quartiers et autres équipements du territoire.</p>
                    </div>
                </div>
                <div class="question-item">
                    <div class="question-title" ng-class="{active:accordion==3}">
                        <a href ng-click="accordion = 3">Pourquoi une attestation d’assurance est-elle demandée ?</a>
                    </div>
                    <div class="question-content" ng-show="accordion==3">
                        <p>La structure organisatrice peut être tenu pour responsable des personnes participant à son activité en cas de dégradation d’outils ou machines ou de blessures sur un tiers.</p>
                    </div>
                </div>
                <div class="question-item">
                    <div class="question-title" ng-class="{active:accordion==4}">
                        <a href ng-click="accordion = 4">Comment avoir accès à son espace membre ?</a>
                    </div>
                    <div class="question-content" ng-show="accordion==4">
                        <p>Après élaboration des contours du projet. Un (ou deux) comptes seront créés pour les référents du projet collectif. Une fois les identifiants transmis, vous pourrez réserver les outils et/ou espaces adaptés depuis votre espace membre : pour vous y connecter, cliquez sur <i>Se connecter</i>, en haut de cette page.</p>
                    </div>
                </div>
                <div class="question-item">
                    <div class="question-title" ng-class="{active:accordion==5}">
                        <a href ng-click="accordion = 5">Pourquoi créer son espace membre ?</a>
                    </div>
                    <div class="question-content" ng-show="accordion==5">
                        <p>L’espace membre favorise l’autonomie des utilisateurs et référents. Il permet de s’inscrire aux ateliers et initiations, de réserver des outils et machines (une fois initié) et documenter ses projets.</p>
                    </div>
                </div>
                <div class="question-item">
                    <div class="question-title" ng-class="{active:accordion==6}">
                        <a href ng-click="accordion = 6">Comment documenter un projet ?</a>
                    </div>
                    <div class="question-content" ng-show="accordion==6">
                        <ul class="list-default">   
                            <li>Connectez-vous à votre espace membre en cliquant sur <i>Se connecter</i> en haut de cette page.</li>
                            <li>Accédez à la rubrique <a ui-sref="app.public.projects_list">Projets</a></li>
                            <li>Cliquez sur <i>Ajouter un projet</i> et remplissez le formulaire du projet.</li>
                            <li>À minima, indiquer un titre, une description, les ressources utilisées et charger une photo du projet. Au mieux, indiquez également les étapes du projet et chargez les fichiers sources.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>