<section class="container wrapper">
    <div class="col-sx-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">

        <div class="m-b">
            <a ui-sref="app.public.place">
                <i class="fa fa-chevron-left m-r-xs"></i> 
                <span>retour</span>
            </a>
        </div>

        <h1 class="txt-orange m-b">Je suis une association ou une structure locale</h1>
        <div class="m-b">
            <p>Associations et structures locales, vous portez des projets et animations autour de la fabrication, du partage de savoirs ou de l’entrepreneuriat ?</p>
            <p>Les espaces et outils de LabBoîte peuvent supporter et booster vos initiatives !</p>
        </div>
        <div class="m-b">
            <ul class="list-conditions">
                <li>Ayez accès aux espaces et aux outils gratuitement</li>
                <li>Formez vos équipes en amont de vos projets</li>
                <li>Contribuez à la vie et à la visibilité du lieu</li>
            <ul>
        </div>
        <div class="row">
            <div class="col-sx-6 col-sm-6 col-md-6 col-lg-6">
                <a class="btn btn-block btn-small btn-public btn-medium m-b-sm" href="mailto:contact@labboite.fr">Contactez-nous</a>
            </div>
            <div class="col-sx-6 col-sm-6 col-md-6 col-lg-6">
                <a href="files/Convention-Partenaire-2019-2020.pdf" class="btn btn-block btn-small btn-neutral btn-medium m-b-sm">Consultez la fiche partenaire</a>
            </div>
        </div>

    </div>
</section>