<section class="container wrapper">
    <div class="col-sx-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">

        <div class="m-b">
            <a ui-sref="app.public.place">
                <i class="fa fa-chevron-left m-r-xs"></i> 
                <span>retour</span>
            </a>
        </div>

        <!-- MACHINE LOCATION -->
        <div class="m-b">
            <h1 class="txt-orange m-b">J'ai un projet à but commercial</h1>
            <div class="m-b">
                <h3 class="txt-orange m-b-sm">Location de machines</h3>
                <p>LabBoîte est un lieu de l’open source et du prototypage : il s’inscrit dans une logique de  pré-développement de projet. Aucune prestation de conception et de fabrication sur-mesure n’est proposée. La série et la commercialisation de produits fabriqués dans le lieu n’est, de fait, pas envisageable. LabBoîte ne peut assurer la confidentialité des projets.</p>
                <p>Cependant, LabBoîte offre la possibilité de louer du temps machine dans la perspective de projets commercialisables. Pour cela, l’utilisation de ces machines implique que les personnes soient initiées en amont, trois possibilités s’offrent à vous :</p>
                <ul class="list-default">   
                    <li>Un de vos salariés peut adhérer en tant que particulier et s’initier aux machines selon la programmation du lieu.</li>
                    <li>Un groupe de 3 ou 4 salariés peut suivre une initiation sur mesure payante (créneaux à définir)</li>
                    <li>Des packs « Créativité entreprises » sont proposés afin de stimuler la créativité de vos salariés et de bénéficier d’un tarif d’adhésion préférentiel.</li>
                </ul>
            </div>
            <div class="row">
                <div class="col-sx-12 col-sm-6 col-md-6 col-lg-6">
                    <a class="btn btn-block btn-small btn-neutral btn-medium m-b-sm" href="#">Voir les tarifs</a>
                </div>
            </div>
        </div>

        <!-- SPACE LOCATION -->
        <div class="m-b">
            <div class="m-b">
                <h3 class="txt-orange m-b-sm">Location d’espaces</h3>
                <p>LabBoîte ne propose pas d’animation d’ateliers d’idéation ou de créativité.</p>
                <p>Cependant, elle peut accueillir des évènements, séminaires, réunions hors-les-murs, sessions de team building… Elle propose des tarifs de location de l’espace libre (Cube et Galerie) et la possibilité de privatiser le lieu.</p>
            </div>
            <div class="row">
                <div class="col-sx-12 col-sm-6 col-md-6 col-lg-6">
                    <a class="btn btn-block btn-small btn-neutral btn-medium m-b-sm" href="#">Voir les tarifs</a>
                </div>
            </div>
        </div>
        
        <!-- SPONSOR -->
        <div class="m-b">
            <div class="m-b">
                <h3 class="txt-orange m-b-sm">Devenez mécène !</h3>
                <p>LabBoîte est associée à la Fondation de l’Université de Cergy-Pontoise.</p>
                <p>Devenir mécène c’est soutenir l’action et l’esprit collaboratif d’un lieu innovant, contribuer aux projets de développement du campus international et du quartier Grand Centre et encourager le développement de projets et d’initiatives personnelles, entrepreneuriales et collectives.</p>
                <p>Vous pourrez ainsi gagner en visibilité dans un quartier central et vitrine à l’ouest du Grand Paris, intégrer un réseau d’acteurs locaux et accéder à un espace créatif.</p>
            </div>
            <div class="row m-t">
                <div class="col-sx-12 col-sm-6 col-md-6 col-lg-6">
                    <a class="btn btn-block btn-small btn-neutral btn-medium m-b-sm" href="#">Contactez-nous</a>
                </div>
            </div>
        </div>

    </div>
</section>