<section class="container wrapper">
    <div class="col-sx-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">

        <div class="m-b">
            <a ui-sref="app.public.place">
                <i class="fa fa-chevron-left m-r-xs"></i> 
                <span>retour</span>
            </a>
        </div>

        <h1 class="txt-orange m-b">J'ai un projet pédagogique</h1>
        <div class="m-b">
            <p>Membre de l’Université Paris-Seine, enseignant, chercheur, animateur, éducateur… Vous souhaitez co-construire un projet en utilisant les espaces et/ou les outils de LabBoîte ? </p>
            <p>Organiser un TD ou un atelier hors-les-murs, développer un projet de R&D, expérimenter de nouveaux outils pédagogiques et collaboratifs, élaborer des ateliers pluridisciplinaires, rendre les sciences et techniques accessibles à tous… Tout reste possible et envisageable.</p>
        </div>
        <div class="m-b">
            <ul class="list-conditions">
                <li>Anticipez votre projet au minimum un mois à l’avance</li>
                <li>Commencez à élaborer votre projet à partir de la fiche pédagogique</li>
                <li>Déterminez le format final avec l’équipe</li>
            <ul>
        </div>
        <div class="row">
            <div class="col-sx-6 col-sm-6 col-md-6 col-lg-6">
                <a class="btn btn-block btn-small btn-public btn-medium m-b-sm" href="mailto:contact@labboite.fr">Contactez-nous</a>
            </div>
            <div class="col-sx-6 col-sm-6 col-md-6 col-lg-6">
                <a href="files/Projet-Pedagogique-2019-2020.pdf" class="btn btn-block btn-small btn-neutral btn-medium m-b-sm">Consultez la fiche pédagogique</a>
            </div>
        </div>

    </div>
</section>