<section class="container wrapper">
    <div class="col-sx-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">

        <div class="m-b">
            <a ui-sref="app.public.place">
                <i class="fa fa-chevron-left m-r-xs"></i> 
                <span>retour</span>
            </a>
        </div>

        <h1 class="txt-orange m-b">Inscription Entrepreneur</h1>

        <!-- INTRO -->
        <div class="conditions-intro m-b">
            LabBoîte n’est pas un espace de co-working, un incubateur mais soutient les porteurs de projet en phase de pré-développement et reste avant tout un lieu d’innovation ouverte et de prototypage…
        </div>

        <!-- PLANS -->
        <div class="m-b">
            <div class="row">
                <div class="col-sx-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="individual-plan m-b">
                        <div class="plan-infos">
                            <div class="plan-title">Tarif normal</div>
                            <div class="plan-conditions">Valable à l’année (de septembre à septembre ou de janvier à janvier) ou sur un trimestre glissant.</div>
                        </div>
                        <div class="plan-price">
                            <span class="price-amount">90 €</span>
                            <span class="price-duration">&sol; trimestre</span>
                        </div>
                        <div class="plan-price">
                            <span class="price-amount">200 €</span>
                            <span class="price-duration">&sol; an</span>
                        </div>
                    </div>
                </div>
                <div class="col-sx-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="individual-plan m-b">
                        <div class="plan-infos">    
                            <div class="plan-title">Réduction écosystème</div>
                            <div class="plan-conditions">Réduction accordée aux entrepreneurs et porteurs de projets accompagnés par une structure partenaire.</div>
                        </div>
                        <div class="plan-price">
                            <span class="price-amount">45 €</span>
                            <span class="price-duration">&sol; trimestre</span>
                        </div>
                        <div class="plan-price">
                            <span class="price-amount">100 €</span>
                            <span class="price-duration">&sol; an</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- HOW TO -->
        <div class="m-b-xl">
            <h3 class="txt-orange m-b-sm">Comment s'inscrire ?</h3>
            <p>Vous devez nous fournir les pièces suivantes (tout dossier incomplet ne sera pas accepté) :</p>
            <ul class="list-documents">
                <li>
                    <div class="doc-label">
                        <span class="doc-name">bulletin d’inscription</span> <span class="doc-info">· à remplir et à signer</span>
                    </div>
                    <div class="doc-buttons">
                        <a href="files/Formulaire_d_inscription_-_Entrepreneuriat.pdf" class="btn-small btn-public btn-medium list-document-link">Télécharger</a>
                    </div>
                </li>
                <li>
                    <div class="doc-label">
                        <span class="doc-name">autorisation de droit à l’image</span>
                    </div>
                    <div class="doc-buttons">
                        <a href="files/Droit_a_l_image_-_majeur.pdf" class="btn-small btn-public btn-medium list-document-link">Télécharger</a>
                    </div>
                </li>
                <li>
                    <div class="doc-label">
                        <span class="doc-name">avis de situation au répertoire SIRENE</span>
                    </div>
                </li>
                <li>
                    <div class="doc-label">
                        <span class="doc-name">attestation d’assurance responsabilité civile</span>
                    </div>
                </li>
                <li>
                    <div class="doc-label">
                    <span class="doc-name">règlement de la somme dûe</span> <span class="doc-info">par espèces ou par chèque (à l’ordre de l’Agent Comptable de CY Cergy Paris Université)</span>
                    </div>
                </li>
            </ul>
        </div>
        
        <!-- OFFER -->
        <div class="m-b">
            <h3 class="txt-orange m-b-sm">En devenant membre…</h3>
            <ul class="list-default">   
                <li>Je peux réaliser mes prototypes, mes projets et objets à l’unité ou en très petites séries à vocation commerciale et confidentiels (sous conditions et limites d’utilisation).</li>
                <li>Je peux <b>utiliser les espaces et réserver les outils du lieu</b> dans une logique partagée. Je ne peux me les accaparer (des seuils et limites d’utilisation sont définis) et doit ranger derrière moi.</li>
                <li>Je peux <b>contribuer à l’animation du parc machine</b> en partageant des techniques utilisées, expérimentées ou en animant certaines initiations machines.</li>
                <li>Je peux <b>documenter</b> à minima mes projets réalisés à partir des outils du lieu pour mieux montrer les possibilités qu’offrent les machines.</li>
                <li>Je peux <b>participer à la vie du lieu</b>, partager mes compétences de manière formelle en proposant des ateliers ouverts à toutes et tous ou de manière plus informelle en aidant les autres utilisateurs.</li>
                <li>Je peux <b>stocker</b> des projets gratuitement dans un délai d’un jour à une semaine (au delà, le service sera facturé, dans le cas contraire le matériel sera évacué).</li>
            </ul>
            <div class="row m-t">
                <div class="col-sx-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="storage-plan m-b">
                        <div class="storage-title">Mini box</div>
                        <div class="storage-description">Boîte de 45 L</div>
                        <div class="storage-price">
                            <span class="storage-amount">8,4 €</span>
                            <span class="storage-duration">&sol; trimestre</span>
                        </div>
                        <div class="storage-price">
                            <span class="storage-amount">36 €</span>
                            <span class="storage-duration">&sol; an</span>
                        </div>
                    </div>
                </div>
                <div class="col-sx-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="m-b">
                        <div class="storage-plan">
                            <div class="storage-title">Medium box</div>
                            <div class="storage-description">Boîte de 130 L</div>
                            <div class="storage-price">
                                <span class="storage-amount">18 €</span>
                                <span class="storage-duration">&sol; trimestre</span>
                            </div>
                            <div class="storage-price">
                                <span class="storage-amount">60 €</span>
                                <span class="storage-duration">&sol; an</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sx-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="storage-plan m-b">
                        <div class="storage-title">Big box</div>
                        <div class="storage-description">Surface au sol d'environ 1 m2</div>
                        <div class="storage-price">
                            <span class="storage-amount">36 €</span>
                            <span class="storage-duration">&sol; trimestre</span>
                        </div>
                        <div class="storage-price">
                            <span class="storage-amount">120 €</span>
                            <span class="storage-duration">&sol; an</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- CONDITIONS -->
        <div class="m-b-xl">
            <h3 class="txt-orange m-b-sm">Oui, mais…</h3>
            <ul class="list-default">   
                <li>Je m’engage à <b>communiquer</b> sur l’utilisation de LabBoîte dans le cadre du développement de mon projet professionnel avec une forte dimension fabrication, création et artisanale (toute utilisation abusive ou non adaptée sera régulée).</li>
                <li>Je dois <b>amener le consommable</b> destiné à être usiné sur les machines. Nous ne fournissons pas de matériaux ; un chutier est néanmoins à disposition pour du prototypage et dans un usage raisonné.</li>
            </ul>
        </div>

        <!-- Q AND A -->
        <div class="m-b">
            <div ng-init="accordion=1">
                <div class="question-item">
                    <div class="question-title" ng-class="{active:accordion==1}">
                        <a href ng-click="accordion = 1">Quelle différence entre un Explorateur et un Entrepreneur ?</a>
                    </div>
                    <div class="question-content" ng-show="accordion==1">
                        <p>Le membre Explorateur réalise uniquement des projets à titre de loisirs, non confidentiels, non commerciaux et pas en série. Il ne s’inscrit pas dans une démarche entrepreneuriale ou pré-commerciale et n’a pas de statut entrepreneur. Il s’inscrit dans une démarche totalement ouverte et collaborative. Le membre Entrepreneur a moins d’engagement sur la participation à la vie du lieu et a la possibilité de réserver ponctuellement la salle créative Le Cube.</p>
                    </div>
                </div>
                <div class="question-item">
                    <div class="question-title" ng-class="{active:accordion==2}">
                        <a href ng-click="accordion = 2">Puis-je venir avec quelqu’un ?</a>
                    </div>
                    <div class="question-content" ng-show="accordion==2">
                        <p>Le membre peut venir accompagné. En revanche, il sera le seul autorisé à manipuler les outils du lieu : le ou les autres personnes devront s’inscrire si elles veulent les utiliser.</p>
                    </div>
                </div>
                <div class="question-item">
                    <div class="question-title" ng-class="{active:accordion==3}">
                        <a href ng-click="accordion = 3">À quoi sert mon inscription ?</a>
                    </div>
                    <div class="question-content" ng-show="accordion==3">
                        <p>Le montant de l’inscription permet d’assurer la maintenance des outils et machines, de remplacer des pièces usées ou endommagées ou de mettre à disposition du petit consommable nécessaire au nettoyage ou à leur utilisation. Elle permet également de participer à l’animation de la communauté d’inscrits et du lieu (ateliers, temps conviviaux ou événements par exemple).</p>
                    </div>
                </div>
                <div class="question-item">
                    <div class="question-title" ng-class="{active:accordion==4}">
                        <a href ng-click="accordion = 4">Existe t-il une réduction ?</a>
                    </div>
                    <div class="question-content" ng-show="accordion==4">
                        <p>Les porteurs de projets suivis, adhérents ou incubés par des acteurs économiques et d’accompagnement entrepreneurial locaux identifiés et conventionnés peuvent avoir accès à une réduction de 50 % sur leur inscription Entrepreneur (sur éligibilité et validation du référent structure).</p>
                    </div>
                </div>
                <div class="question-item">
                    <div class="question-title" ng-class="{active:accordion==5}">
                        <a href ng-click="accordion = 5">Pourquoi une attestation de responsabilité civile est demandée ?</a>
                    </div>
                    <div class="question-content" ng-show="accordion==5">
                        <p>En cas de dégradation d’outils ou machines ou de blessures sur un tiers, l’auteur sera tenu pour responsable, ce qui peut engendrer une réparation ou un dédommagement.</p>
                    </div>
                </div>
                <div class="question-item">
                    <div class="question-title" ng-class="{active:accordion==6}">
                        <a href ng-click="accordion = 6">Comment créer son espace membre ?</a>
                    </div>
                    <div class="question-content" ng-show="accordion==6">
                        <p>Cliquez sur <i>S’inscrire</i> en haut de cette page et remplissez les champs demandés.</p>
                    </div>
                </div>
                <div class="question-item">
                    <div class="question-title" ng-class="{active:accordion==7}">
                        <a href ng-click="accordion = 7">Pourquoi créer son espace membre ?</a>
                    </div>
                    <div class="question-content" ng-show="accordion==7">
                        <p>L’espace membre favorise l’autonomie des utilisateurs membres ou non. Il permet de s’inscrire aux ateliers et initiations, de réserver des outils et machines (une fois initié) et de documenter ses projets.</p>
                    </div>
                </div>
                <div class="question-item">
                    <div class="question-title" ng-class="{active:accordion==8}">
                        <a href ng-click="accordion = 8">Comment documenter un projet ?</a>
                    </div>
                    <div class="question-content" ng-show="accordion==8">
                        <ul class="list-default">   
                            <li>Connectez-vous à votre espace membre en cliquant sur <i>Se connecter</i> en haut de cette page.</li>
                            <li>Accédez à la rubrique <a ui-sref="app.public.projects_list">Projets</a></li>
                            <li>Cliquez sur <i>Ajouter un projet</i> et remplissez le formulaire du projet.</li>
                            <li>À minima, indiquer un titre, une description, les ressources utilisées et charger une photo du projet. Au mieux, indiquez également les étapes du projet et chargez les fichiers sources.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>