<section class="container wrapper">
    <div class="col-sx-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">

        <div class="m-b">
            <a ui-sref="app.public.place">
                <i class="fa fa-chevron-left m-r-xs"></i> 
                <span>retour</span>
            </a>
        </div>

        <h1 class="txt-orange m-b">Inscription Explorateur</h1>

        <!-- INTRO -->
        <div class="conditions-intro m-b">
            LabBoîte n’est pas une maison de quartier ou une bibliothèque et reste avant tout un lieu ouvert sur l’innovation et le collaboratif…
        </div>

        <!-- PLANS -->
        <div class="m-b">
            <div class="row">
                <div class="col-sx-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="individual-plan m-b">
                        <div class="plan-infos">
                            <div class="plan-title">Tarif normal</div>
                            <div class="plan-conditions">Valable de septembre à septembre ou de janvier à janvier.</div>
                        </div>
                        <div class="plan-price">
                            <span class="price-amount">30 €</span>
                            <span class="price-duration">&sol; an</span>
                        </div>
                    </div>
                </div>
                <div class="col-sx-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="individual-plan m-b">
                        <div class="plan-infos">    
                            <div class="plan-title">Pass Campus</div>
                            <div class="plan-conditions">Réduction accordée aux étudiants détenteurs du Pass Campus, disponible au CIJ pour 5 €.</div>
                        </div>
                        <div class="plan-price">
                            <span class="price-amount">15 €</span>
                            <span class="price-duration">&sol; an</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- HOW TO -->
        <div class="m-b-xl">
            <h3 class="txt-orange m-b-sm">Comment s'inscrire ?</h3>
            <p>Vous devez nous fournir les pièces suivantes (tout dossier incomplet ne sera pas accepté) :</p>
            <ul class="list-documents">
                <li>
                    <div class="doc-label">
                        <span class="doc-name">bulletin d’inscription</span> <span class="doc-info">· à remplir et à signer</span>
                    </div>
                    <div class="doc-buttons">
                        <a href="files/lb_form_explorateur_2021.pdf" class="btn-small btn-public btn-medium list-document-link">Télécharger</a>
                    </div>
                </li>
                <li>
                    <div class="doc-label">
                        <span class="doc-name">autorisation de droit à l’image</span>
                    </div>
                    <div class="doc-buttons">
                        <a href="files/lb_droitimage_2021.pdf" class="btn-small btn-public btn-medium list-document-link">Télécharger</a>
                    </div>
                </li>
                <li>
                    <div class="doc-label">
                        <span class="doc-name">décharge de reponsabilité</span> <span class="doc-info">· à ne fournir que si l'inscrit(e) est agé(e) de 16 à 18 ans</span>
                    </div>
                    <div class="doc-buttons">
                        <a href="files/lb_mineur_2021.pdf" class="btn-small btn-public btn-medium list-document-link">Télécharger</a>
                    </div>
                </li>
                <li>
                    <div class="doc-label">
                        <span class="doc-name">attestation d’assurance responsabilité civile</span>
                    </div>
                </li>
                <li>
                    <div class="doc-label">
                    <span class="doc-name">règlement de la somme dûe</span> <span class="doc-info">par espèces ou par chèque (à l’ordre de l’Agent Comptable de CY Cergy Paris Université)</span>
                    </div>
                </li>
            </ul>
        </div>
        
        <!-- OFFER -->
        <div class="m-b">
            <h3 class="txt-orange m-b-sm">En devenant membre…</h3>
            <ul class="list-default">   
                <li>Je peux <b>utiliser les espaces et réserver les outils</b> du lieu dans une logique partagée. Je ne peux me les accaparer (des seuils et limites d’utilisation sont définis) et doit ranger derrière moi.</li>
                <li>Je peux <b>contribuer à l’animation du parc machine</b> en partageant des techniques utilisées, expérimentées ou en animant certaines initiations machines.</li>
                <li>Je peux <b>participer à la vie du lieu</b>, partager mes compétences de manière formelle en proposant des ateliers ouverts à toutes et tous ou de manière plus informelle en aidant les autres utilisateurs.</li>
                <li>Je peux <b>recevoir des informations</b> sur la programmation, les horaires d’ouverture et les appels à projets via la newsletter et être mis en relation avec les autres utilisateurs du lieu.</li>
                <li>Je peux <b>stocker</b> des projets gratuitement dans un délai d’un jour à une semaine (au delà, le service sera facturé, dans le cas contraire le matériel sera évacué).</li>
            </ul>
            <div class="row m-t">
                <div class="col-sx-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="storage-plan m-b">
                        <div class="storage-title">Mini box</div>
                        <div class="storage-description">Boîte de 45 L</div>
                        <div class="storage-price">
                            <span class="storage-amount">6 €</span>
                            <span class="storage-duration">&sol; trimestre</span>
                        </div>
                        <div class="storage-price">
                            <span class="storage-amount">24 €</span>
                            <span class="storage-duration">&sol; an</span>
                        </div>
                    </div>
                </div>
                <div class="col-sx-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="storage-plan m-b">
                        <div class="storage-title">Medium box</div>
                        <div class="storage-description">Boîte de 130 L</div>
                        <div class="storage-price">
                            <span class="storage-amount">12 €</span>
                            <span class="storage-duration">&sol; trimestre</span>
                        </div>
                        <div class="storage-price">
                            <span class="storage-amount">36 €</span>
                            <span class="storage-duration">&sol; an</span>
                        </div>
                    </div>
                </div>
                <div class="col-sx-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="storage-plan m-b">
                        <div class="storage-title">Big box</div>
                        <div class="storage-description">Surface au sol d'environ 1 m2</div>
                        <div class="storage-price">
                            <span class="storage-amount">24 €</span>
                            <span class="storage-duration">&sol; trimestre</span>
                        </div>
                        <div class="storage-price">
                            <span class="storage-amount">84 €</span>
                            <span class="storage-duration">&sol; an</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- CONDITIONS -->
        <div class="m-b-xl">
            <h3 class="txt-orange m-b-sm">Oui, mais…</h3>
            <ul class="list-default">   
                <li>Je m’engage à <b>documenter</b> à minima mes projets réalisés à partir des outils du lieu pour mieux montrer les possibilités qu’offrent les machines.</li>
                <li>Je ne peux pas réaliser des projets à vocation commerciale, de petites séries ou des projets personnels exclusivement confidentiels ou protégés par une licence ou un brevet.</li>
                <li>Je dois <b>amener le consommable</b> destiné à être usiné sur les machines. Nous ne fournissons pas de matériaux ; un chutier est néanmoins à disposition pour du prototypage et dans un usage raisonné.</li>
            </ul>
        </div>

        <!-- Q AND A -->
        <div class="m-b">
            <div ng-init="accordion=1">
                <div class="question-item">
                    <div class="question-title" ng-class="{active:accordion==1}">
                        <a href ng-click="accordion = 1">Quelle différence entre un membre et un non-membre ?</a>
                    </div>
                    <div class="question-content" ng-show="accordion==1">
                        <p>Le membre peut suivre les initiations, utiliser et réserver les outils et machines du lieu. Le non-membre peut uniquement utiliser les espaces libres du lieu (sans garantie de disponibilité, sans réservation) et assister/proposer aux/des ateliers ouverts à tou(te)s.</p>
                    </div>
                </div>
                <div class="question-item">
                    <div class="question-title" ng-class="{active:accordion==2}">
                        <a href ng-click="accordion = 2">Puis-je venir avec quelqu’un ?</a>
                    </div>
                    <div class="question-content" ng-show="accordion==2">
                        <p>Le membre peut venir accompagné. En revanche, il sera le seul autorisé à manipuler les outils du lieu : le ou les autres personnes devront s’inscrire si elles veulent les utiliser.</p>
                    </div>
                </div>
                <div class="question-item">
                    <div class="question-title" ng-class="{active:accordion==3}">
                        <a href ng-click="accordion = 3">À quoi sert mon inscription ?</a>
                    </div>
                    <div class="question-content" ng-show="accordion==3">
                        <p>Le montant de l’inscription permet d’assurer la maintenance des outils et machines, de remplacer des pièces usées ou endommagées ou de mettre à disposition du petit consommable nécessaire au nettoyage ou à leur utilisation. Elle permet également de participer à l’animation de la communauté d’inscrits et du lieu (ateliers, temps conviviaux ou événements par exemple).</p>
                    </div>
                </div>
                <div class="question-item">
                    <div class="question-title" ng-class="{active:accordion==4}">
                        <a href ng-click="accordion = 4">Existe t-il une réduction ?</a>
                    </div>
                    <div class="question-content" ng-show="accordion==4">
                        <p>Seuls les étudiants inscrits dans un établissement d’enseignement supérieur de l’agglomération de Cergy-Pontoise (ou habitant dans une commune de l’agglomération) ayant souscrit au Pass Campus peuvent avoir accès à une réduction de 50 % sur leur inscription Explorateur, sur éligibilité et validation du référent structure. Le Pass Campus est disponible au Centre d’Information Jeunesse (Place des Arts à Cergy-Préfecture)</p>
                    </div>
                </div>
                <div class="question-item">
                    <div class="question-title" ng-class="{active:accordion==5}">
                        <a href ng-click="accordion = 5">Un mineur peut-il venir dans le lieu et/ou s’inscrire ?</a>
                    </div>
                    <div class="question-content" ng-show="accordion==5">
                        <p>Les mineurs de moins de 16 ans doivent obligatoirement être accompagnés d’un adulte et sont sous sa responsabilité. Pour utiliser la partie <i>Fablab</i>, l’accompagnateur doit s’inscrire et s’initier au préalable. Aucune inscription supplémentaire ne sera à effectuer pour le mineur. Les mineurs âgés de plus de 16 ans peuvent adhérer au lieu et y venir seuls sous condition d’un document de décharge de responsabilité signé par un tuteur légal.</p>
                    </div>
                </div>
                <div class="question-item">
                    <div class="question-title" ng-class="{active:accordion==6}">
                        <a href ng-click="accordion = 6">Pourquoi une attestation de responsabilité civile est demandée ?</a>
                    </div>
                    <div class="question-content" ng-show="accordion==6">
                        <p>En cas de dégradation d’outils ou machines ou de blessures sur un tiers, l’auteur sera tenu pour responsable, ce qui peut engendrer une réparation ou un dédommagement.</p>
                    </div>
                </div>
                <div class="question-item">
                    <div class="question-title" ng-class="{active:accordion==7}">
                        <a href ng-click="accordion = 7">Comment créer son espace membre ?</a>
                    </div>
                    <div class="question-content" ng-show="accordion==7">
                        <p>Cliquez sur <i>S’inscrire</i> en haut de cette page et remplissez les champs demandés.</p>
                    </div>
                </div>
                <div class="question-item">
                    <div class="question-title" ng-class="{active:accordion==8}">
                        <a href ng-click="accordion = 8">Comment documenter un projet ?</a>
                    </div>
                    <div class="question-content" ng-show="accordion==8">
                        <ul class="list-default">   
                            <li>Connectez-vous à votre espace membre en cliquant sur <i>Se connecter</i> en haut de cette page.</li>
                            <li>Accédez à la rubrique <a ui-sref="app.public.projects_list">Projets</a></li>
                            <li>Cliquez sur <i>Ajouter un projet</i> et remplissez le formulaire du projet.</li>
                            <li>À minima, indiquer un titre, une description, les ressources utilisées et charger une photo du projet. Au mieux, indiquez également les étapes du projet et chargez les fichiers sources.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>