<section class="container wrapper">
    <div class="col-sx-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">

        <div class="m-b">
            <a ui-sref="app.public.place">
                <i class="fa fa-chevron-left m-r-xs"></i> 
                <span>retour</span>
            </a>
        </div>

        <h1 class="txt-orange m-b">Je suis un particulier</h1>

        <!-- TABLE CONDITIONS -->
        <div class="m-b">
            <table class="conditions-individual">
                <thead>
                    <tr>
                        <th width="50%"></th>
                        <th width="25%">Grand public</th>
                        <th width="25%">Adhérent</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="condition-item">Accès au WiFi</td>
                        <td class="condition-check"><span class="conditions-available"></span></td>
                        <td class="condition-check"><span class="conditions-available"></span></td>
                    </tr>
                    <tr>
                        <td class="condition-item">Accès à l'espace libre</td>
                        <td class="condition-check"><span class="conditions-available"></span></td>
                        <td class="condition-check"><span class="conditions-available"></span></td>
                    </tr>
                    <tr>
                        <td class="condition-item">Partager ses compétences et ses projets</td>
                        <td class="condition-check"><span class="conditions-available"></span></td>
                        <td class="condition-check"><span class="conditions-available"></span></td>
                    </tr>
                    <tr>
                        <td class="condition-item">Inscription aux ateliers et aux rencontres</td>
                        <td class="condition-check"><span class="conditions-available"></span></td>
                        <td class="condition-check"><span class="conditions-available"></span></td>
                    </tr>
                    <tr>
                        <td class="condition-item">Documenter un projet</td>
                        <td class="condition-check"><span class="conditions-available"></span></td>
                        <td class="condition-check"><span class="conditions-available"></span></td>
                    </tr>
                    <tr>
                        <td class="condition-item">Accès à l'espace fablab</td>
                        <td class="condition-check"><span class="conditions-not-available"></span></td>
                        <td class="condition-check"><span class="conditions-available"></span></td>
                    </tr>
                    <tr>
                        <td class="condition-item">Inscription aux initiations</td>
                        <td class="condition-check"><span class="conditions-not-available"></span></td>
                        <td class="condition-check"><span class="conditions-available"></span></td>
                    </tr>
                    <tr>
                        <td class="condition-item">Réservation / utilisation des machines et du Cube</td>
                        <td class="condition-check"><span class="conditions-not-available"></span></td>
                        <td class="condition-check"><span class="conditions-available"></span></td>
                    </tr>
                    <tr>
                        <td class="condition-item">Stockage de projets</td>
                        <td class="condition-check"><span class="conditions-not-available"></span></td>
                        <td class="condition-check"><span class="conditions-available"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- PLANS -->
        <div class="m-b">
            <div class="row">
                <div class="col-sx-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="individual-plan m-b">
                        <div class="individual-plan-title">Grand public</div>
                        <div class="individual-plan-price">
                            <div class="individual-plan-item">
                                <div class="plan-price">Gratuit</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sx-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="individual-plan m-b">
                        <div class="individual-plan-title">Adhérent</div>
                        <div class="individual-plan-price">
                            <div class="individual-plan-item separator">
                                <div class="plan-price">30 €</div>
                                <div class="plan-conditions">de septembre à septembre</div>
                            </div>
                            <div class="individual-plan-item separator">
                                <div class="plan-price">15 €</div>
                                <div class="plan-conditions">de mars à septembre</div>
                            </div>
                            <div class="individual-plan-item">
                                <div class="plan-price">15 €</div>
                                <div class="plan-conditions">détenteurs du Pass Campus</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="m-b">
            <h3 class="txt-orange m-b-sm">Pass Campus</h3>
            <p>Le Pass Campus est une carte réservée aux étudiants qui offre des réductions sur des lieux sociaux et culturels sur le campus de Cergy. Il est proposé au Centre Information Jeunesse au prix de 5 €.</p>
        </div>

        <div class="m-b">
            <h3 class="txt-orange m-b-sm">Documents à fournir</h3>
            <ul class="list-default">   
                <li>Le bulletin d’inscription renseigné et signé</li>
                <li>Une attestation d’Assurance Responsabilité Civile</li>
                <li>Un chèque ou une attestation de virement bancaire</li>
                <li>Une décharge du tuteur légal (si âgé-e de 16 à 18 ans)</li>
            </ul>
        </div>

        <div class="m-b">
            <h3 class="txt-orange m-b-sm">Mineurs</h3>
            <p>Les mineurs âgés de 16 à 18 ans peuvent adhérer, à condition que le tuteur légal fournisse une décharge de responsabilité lors de l’inscription. Un mineur de moins de 16 ans ne peut s'inscrire ; néanmoins, il peut accompagner un représentant légal qui aurait adhéré (sans souscrire d'adhésion supplémentaire).</p>
        </div>

    </div>
</section>