<section class="container">
  <div class="col-lg-12">

    <!-- INFOS -->
    <div class="wrapper">

      <!-- Infobox -->
      <div class="row m-b">
        <div class="col-lg-12">

          <div class="m-b">
            <h1 class="txt-orange m-b-sm">Projets réalisés à LabBoîte</h1>
            <p>Découvrez ici les projets réalisés à LabBoîte et documentés par les utilisateurs du lieu.</p>
          </div>

          <!-- TIPS -->
          <div class="tips-list">
            <div class="tips-item m-b-sm">
              <div class="tips-icon">
                <img src="img/tips_carnetprojet.png"/>
              </div>
              <div class="tips-content">
                <div class="tips-text">Vous souhaitez vous lancer… Mais vous êtes un peu perdu·e ? Découvrez notre <a href="https://fr.calameo.com/read/0065798498b6684c60f5c" target="_blank">carnet de projet</a> : vous y trouverez toutes les informations utiles pour réaliser votre projet de A à Z. Des versions imprimées sont disponibles sur place.</div>
              </div>
            </div>
            <div class="tips-item m-b-sm">
              <div class="tips-icon">
                <img src="img/tips_lookingforprojects.png"/>
              </div>
              <div class="tips-content">
                <div class="tips-text">En panne d'inspiration ? Découvrez des idées de projets à réaliser, des tutoriels ainsi que des ressources sur <a href="https://www.instructables.com/" target="_blank">Instructables</a>, <a href="https://www.thingiverse.com/" target="_blank">Thingiverse</a>, <a href="https://wikifab.org/wiki/Accueil" target="_blank">Wikifab</a>, <a href="https://wiki.lowtechlab.org/wiki/Accueil" target="_blank">Low Tech Lab</a> ou <a href="https://www.myminifactory.com/fr/" target="_blank">MyMiniFactory</a>.</div>
              </div>
            </div>
          </div>

        </div>
      </div>
    
    </div>

    <!-- SEARCH -->
    <div class="wrapper">

      <!-- Filters -->
      <div class="row">
        <div class="form-light-orange">
          <div class="col-md-3 m-b-sm">
            <form class="form-inline" role="form" ng-submit="setUrlQueryParams(search) && triggerSearch()">
              <div class="form-group">
                <div class="input-group">
                  <input type="search" class="form-control" placeholder="Mots-clés" ng-model="search.q"/>
                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-public btn-medium" translate><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-3 m-b-sm">
            <select ng-model="search.machine_id" ng-change="setUrlQueryParams(search) && triggerSearch()" class="form-control" ng-options="m.id as m.name for m in machines">
              <option value="" translate>{{ 'projects_list.all_machines' }}</option>
            </select>
          </div>
          <div class="col-md-3 m-b-sm">
            <select ng-model="search.theme_id" ng-change="setUrlQueryParams(search) && triggerSearch()" class="form-control" ng-options="t.id as t.name for t in themes">
              <option value="" translate>{{ 'projects_list.all_themes' }}</option>
            </select>
          </div>
          <div class="col-md-3 m-b-sm">
            <select ng-model="search.component_id" ng-change="setUrlQueryParams(search) && triggerSearch()" class="form-control" ng-options="t.id as t.name for t in components">
              <option value="" translate>{{ 'projects_list.all_materials' }}</option>
            </select>
          </div>
        </div>
      </div>

      <!-- Reset -->
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <a href="javascript:void(0);" class="pull-right" name="button" ng-click="resetFiltersAndTriggerSearch()">{{ 'projects_list.reset_all_filters' | translate }}</a>
        </div>
      </div>

    </div>


    <!-- CONTENT -->
    <div class="wrapper">

      <!-- Add a project -->
      <div class="row m-b" ng-if="isAuthorized(['admin','member'])">
        <div class="col-lg-12">
          <a class="btn-small btn-profile btn-medium" ui-sref="app.logged.projects_new" role="button">
            <i class="fa fa-plus m-r-xs"></i> 
            <span translate>{{ 'add_a_project' }}</span>
          </a>
        </div>
      </div>

      <!-- If no projects -->
      <div class="row">
        <div class="col-lg-12 text-center">
          <span class="txt-neutral" ng-show="projects && (projects.length == 0)"> {{ 'projects_list.project_search_result_is_empty' | translate }} </span>
        </div>
      </div>

      <!-- PROJECT LIST -->
      <div class="row" ng-repeat="project in (projects.length/3 | array)">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" ng-repeat="project in projects.slice(3*$index, 3*$index + 3)" ng-click="showProject(project)">
          <div class="card m-b card-project">
            <div class="card-header" style="background-image: url('/thumbnail_blank.png'); background-size: cover; background-repeat: no-repeat; background-position: center;">
              <div class="card-header-bg-l" style="background-image: url({{project.project_image}});"></div>
            </div>
            <div class="card-body">
              <div class="card-title">{{project.name}}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 text-center">
            <a class="btn-small btn-public btn-light" ng-click="loadMore()" ng-if="projectsPagination.hasNextPage()" translate>{{ 'projects_list.load_next_projects' }}</a>
        </div>
      </div>

    </div>
  
  </div>
</section>