<div>
  <section class="container wrapper">

    <div class="col-lg-12">

      <!-- TITLE -->
      <div class="row m-b">
        <div class="col-lg-12">
          <h1 class="txt-green" translate>{{ 'add_a_new_project' }}</h1>
        </div>
      </div>

      <!-- FORM -->
      <form role="form" name="projectForm" novalidate action="{{ actionUrl }}" ng-upload="submited(content)" upload-options-enable-rails-csrf="true" unsaved-warning-form>
        <ng-include src="'<%= asset_path 'projects/_form.html' %>'"></ng-include>
      </form>

    </div>

  </section>
</div>