<section class="container wrapper">
  <div class="col-lg-12">

    <!-- BACK -->
    <div class="row">
      <div class="col-lg-12 m-b">
        <a ui-sref="app.public.events_list"><i class="fa fa-chevron-left"></i> {{ 'all_the_events' | translate }}</a>
      </div>
    </div>

    <div class="row">
      <!-- MAIN -->
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="article">
          <div class="article-thumbnail" ng-if="event.event_image">
            <img ng-src="{{event.event_image}}" alt="{{event.title}}" class="img-responsive">
          </div>
          <h1 class="txt-orange m-b-sm">{{ event.title }}</h1>
          <p ng-bind-html="event.description | toTrusted"></p>
        </div>
      </div>

      <!-- SIDE INFOS -->
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

        <!-- ADMIN -->
        <div class="m-b" ng-if="isAuthorized('admin')">
          <a ui-sref="app.admin.events_edit({id: event.id})" ng-if="isAuthorized('admin')" class="btn btn-profile btn-medium btn-small m-r-xs"><i class="fa fa-edit m-r-xs"></i> {{ 'edit' | translate }}</a>
          <a ng-click="deleteEvent(event)" ng-if="isAuthorized('admin')" class="btn btn-profile btn-medium btn-small"><i class="fa fa-trash m-r-xs"></i> {{ 'delete' | translate }}</a>
        </div>

        <div ng-if="currentUser.role === 'admin'">
          <select-member></select-member>
        </div>

        <!-- FILES -->
        <section class="panel" ng-if="event.event_files_attributes">
          <div class="panel-heading">
            <div class="panel-title">
              <span class="badge bg-warning pull-right">{{event.event_files_attributes.length}}</span>
              <span translate>{{ 'downloadable_documents' }}</span>
            </div>
          </div>
          <ul class="panel-content list-group p-l">       
            <li ng-repeat="file in event.event_files_attributes" class="list-group-item">
              <a target="_blank" ng-href="{{file.attachment_url}}">{{file.attachment | humanize : 25}}</a>
            </li>             
          </ul>
        </section>

        <!-- BOOKING -->
        <section class="panel">
          <div class="panel-heading">
            <div class="panel-title-event">
              <div class="event-type">{{event.category.name}}</div>
              <div class="event-conditions" ng-if="event.category.name == 'Atelier'">gratuit sur inscription</div>
              <div class="event-conditions" ng-if="event.category.name == 'Rencontre'">en accès libre</div>
            </div>
          </div>
          <div class="panel-content p-l">

            <!-- Age -->
            <div class="m-b-sm" ng-if="event.age_range">
              <div class="panel-data-title">{{ 'dates' | translate }}</div>
              <div>{{event.age_range.name}}</div>
            </div>

            <!-- Date -->
            <div class="m-b-sm">
              <div class="panel-data-title">{{ 'dates' | translate }}</div>
              <div>{{ 'beginning' | translate }} <span>{{event.start_date | amDateFormat:'L'}}</span><br>{{ 'ending' | translate }} <span>{{event.end_date | amDateFormat:'L'}}</span></div>
            </div>

            <!-- Hours -->
            <div class="m-b-sm">
              <div class="panel-data-title">{{ 'opening_hours' | translate }}</div>
              <div ng-if="event.all_day == 'true'"><span translate>{{ 'all_day' }}</span></div>
              <div ng-if="event.all_day == 'false'">{{ 'from_time' | translate }} <span>{{event.start_date | amDateFormat:'LT'}}</span> {{ 'to_time' | translate }} <span>{{event.end_date | amDateFormat:'LT'}}</span></div>
            </div>

            <!-- Prices -->
            <div class="m-b-sm" ng-if="event.amount">
              <div>{{ 'full_price_' | translate }} <span>{{ event.amount | currency}}</span></div>
              <div ng-repeat="price in event.prices" class="description-hover">
                <span uib-popover="{{getPriceCategoryConditions(price.category.id)}}" popover-trigger="mouseenter">
                  {{price.category.name}} :
                </span>
                {{price.amount | currency}}
              </div>
            </div>

            <!-- Availability -->
            <div>
              <div ng-if="event.nb_total_places">
                <div ng-if="event.nb_free_places > 0"><span class="font-sbold">{{event.nb_free_places}}</span> {{ 'tickets_still_availables' | translate }}</div>
                <div ng-if="event.nb_total_places > 0 && event.nb_free_places <= 0"><span class="badge font-sbold" translate>{{ 'sold_out' }}</span></div>
                <div ng-if="event.nb_total_places == -1"><span class="badge font-sbold" translate>{{ 'cancelled' }}</span></div>
              </div>
              <div ng-if="!event.nb_total_places">
                <span class="badge font-sbold" translate>{{ 'free_entry' }}</span>
              </div>
            </div>
          </div>

          <!-- RESERVATION -->
          <div class="panel-content">

            <!-- Process -->  
            <div ng-show="reserve.toReserve">
              <div class="p-l">
                <div class="m-b-sm">
                  <span class="event-subscribe" translate>{{ 'to_subscribe' }}</span>
                </div>
                <div>
                    <select ng-model="reserve.nbReservePlaces" ng-change="changeNbPlaces()" ng-options="i for i in reserve.nbPlaces.normal"></select> 
                    {{ 'ticket' | translate:{NUMBER:reserve.nbReservePlaces}:"messageformat" }}

                    <!-- gift HIDDEN
                    <div ng-show="currentUser.role == 'admin'" class="m-t">
                      <label for="offerSlot" class="control-label m-r" translate>{{ 'make_a_gift_of_this_reservation' }}</label>
                      <input bs-switch
                          ng-model="event.offered"
                          id="offerSlot"
                          type="checkbox"
                          class="form-control"
                          switch-on-text="{{ 'yes' | translate }}"
                          switch-off-text="{{ 'no' | translate }}"
                          switch-animate="true"
                          switch-readonly="{{trainingIsValid}}"
                          ng-change="computeEventAmount()"/>
                    </div>
                    -->
                </div>
              </div>
            </div>

            <!-- Success -->
            <div ng-show="reserve.toReserve">
              <div class="p-l"> 
                <div ng-if="reserveSuccess">
                  <div class="alert alert-success">
                    {{ 'thank_you_your_payment_has_been_successfully_registered' | translate }}<br>{{ 'you_can_find_your_reservation_s_details_on_your_' | translate }} <a ui-sref="app.logged.dashboard.invoices" translate>{{ 'dashboard' }}</a>
                  </div>
                </div>
                <div class="event-ticket" ng-if="reservations && !reserve.toReserve" ng-repeat="reservation in reservations">
                  <div class="event-ticket-icon">
                    <i class="fa fa-ticket m-r"></i>
                  </div>
                  <div class="event-ticket-content">
                    <span class="event-ticket-msg">Vous avez réservé <span class="font-sbold" ng-if="reservation.nb_reserve_places > 0">{{reservation.nb_reserve_places}} {{ 'ticket' | translate:{NUMBER:reservation.nb_reserve_places}:"messageformat" }}</span></span><br/>
                    <span class="event-ticket-date">{{ 'you_booked_DATE' | translate:{DATE:(reservation.created_at | amDateFormat:'L LT')} }}</span>
                  </div>
                  <!--
                  <div class="font-sbold text-sm" ng-repeat="ticket in reservation.tickets">
                    {{ticket.event_price_category.price_category.name}} : {{ticket.booked}} {{ 'ticket' | translate:{NUMBER:ticket.booked}:"messageformat" }}
                  </div>
                  -->
                  <div class="clear" ng-if="event.recurrence_events.length > 0 && reservationCanModify(reservation)">
                    <a class="pull-right m-t-xs text-u-l" href="#" ng-click="modifyReservation(reservation, $event)" translate>{{ 'change' }}</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
            
          <!-- CONFIRM BUTTONS -->
          <div class="panel-footer">
            <button class="btn btn-default btn-block btn-public btn-medium" ng-click="reserveEvent()" ng-show="event.nb_free_places > 0 && !reserve.toReserve">{{ 'book' | translate }}</button>
          </div>
          <div class="panel-footer no-padder ng-scope" ng-if="event.amount">
            <button class="btn btn-default btn-block btn-public btn-medium" ng-click="payEvent()" ng-if="reserve.totalSeats > 0">{{ 'confirm_and_pay' | translate }} {{reserve.amountTotal | currency}}</button>
          </div>
          <div class="panel-footer no-padder ng-scope" ng-if="event.amount == 0">
            <button class="btn btn-default btn-block btn-public btn-medium" ng-click="validReserveEvent()" ng-if="reserve.totalSeats > 0" ng-disabled="attempting">{{ 'confirm' | translate }}</button>
          </div>

        </section>

        <uib-alert type="warning m" ng-if="eventExplicationsAlert.length > 0">
          <p>
            <i class="fa fa-warning"></i>
            <div class="m-l-lg" ng-bind-html="eventExplicationsAlert"></div>
          </p>
        </uib-alert>

      </div>
    </div>
  
  </div>
</section>