<section class="container wrapper">
  <div>
    <!--<ui-view autoscroll='true'></ui-view>-->

    <div class="col-lg-12">
      
      <!-- BACK -->
      <div class="col-lg-12 m-b">
        <a ui-sref="app.public.events_list">{{ 'all_the_events' | translate }}</a>
      </div>
      
      <!-- MAIN -->
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="article">
          <div class="article-thumbnail" ng-if="event.event_image">
            <img ng-src="{{event.event_image}}" alt="{{event.title}}" class="img-responsive">
          </div>
          <h6 ng-if="event.event_themes.length > 0">{{event.event_themes[0].name}}</h6>
          <h1>{{ event.title }}</h1>
          <p ng-bind-html="event.description | toTrusted"></p>
        </div>
      </div>

      <!-- SIDE INFOS -->
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        
        <!-- Files -->
        <section class="panel" ng-if="event.event_files_attributes">
          <div class="panel-heading">
            <span class="badge bg-warning pull-right">{{event.event_files_attributes.length}}</span>
            <h3 translate>{{ 'downloadable_documents' }}</h3>
          </div>
          <ul class="widget-content list-group list-group-lg no-bg auto">
            <li ng-repeat="file in event.event_files_attributes" class="list-group-item no-b clearfix">
              <a target="_blank" ng-href="{{file.attachment_url}}"><i class="fa fa-arrow-circle-o-down"> </i> {{file.attachment | humanize : 25}}</a>
            </li>
          </ul>
        </section>

        <!-- Dates -->
        <section class="panel">
          <div class="panel-heading">
            <h2>{{event.category.name}}</h2>
            <div class="txt-orange" ng-if="event.category.name == 'Atelier'">{{ 'msg_workshop_condition' | translate }}</div>
            <div class="txt-orange" ng-if="event.category.name == 'Rencontre'">{{ 'msg_meeting_condition' | translate }}</div>
          </div>
          <div class="panel-content">
            <dl>
              <dt><h5>{{ 'dates' | translate }}</h5></dt>
              <dd>{{ 'beginning' | translate }} <span class="text-l">{{event.start_date | amDateFormat:'LL'}}</span><br>{{ 'ending' | translate }} <span class="text-l">{{event.end_date | amDateFormat:'LL'}}</span></dd>
              <dt><h5>{{ 'opening_hours' | translate }}</h5></dt>
              <dd ng-if="event.all_day == 'true'"><span translate>{{ 'all_day' }}</span></dd>
              <dd ng-if="event.all_day == 'false'">{{ 'from_time' | translate }} <span class="text-l">{{event.start_date | amDateFormat:'LT'}}</span> {{ 'to_time' | translate }} <span class="text-l">{{event.end_date | amDateFormat:'LT'}}</span></dd>
            </dl>
            <div ng-if="event.amount">
              <div>{{ 'full_price_' | translate }} <span>{{ event.amount | currency}}</span></div>
              <div ng-repeat="price in event.prices" class="description-hover">
                <span uib-popover="{{getPriceCategoryConditions(price.category.id)}}" popover-trigger="mouseenter">
                  {{price.category.name}} :
                </span>
                {{price.amount | currency}}
              </div>
            </div>
            <div ng-if="event.nb_total_places">
              <div ng-if="event.nb_free_places > 0"><span class="font-sbold">{{event.nb_free_places}}</span> {{ 'tickets_still_availables' | translate }}</div>
              <div ng-if="event.nb_total_places > 0 && event.nb_free_places <= 0"><span class="font-sbold" translate>{{ 'sold_out' }}</span></div>
              <div ng-if="event.nb_total_places == -1"><span class="font-sbold" translate>{{ 'cancelled' }}</span></div>
            </div>
            <div ng-if="!event.nb_total_places">
              <div><span class="font-sbold" translate>{{ 'free_entry' }}</span></div>
            </div>

            <div class="m-b">
              <div ng-show="reserve.toReserve">

                <div class="panel panel-default bg-light m-n text-sm">
                  <div class="panel-body">
                    <div class="row">
                      <label class="col-sm-6 control-label">{{ 'full_price_' | translate }} <span class="text-blue">{{event.amount | currency}}</span></label>
                      <div class="col-sm-6">
                        <select ng-model="reserve.nbReservePlaces" ng-change="changeNbPlaces()" ng-options="i for i in reserve.nbPlaces.normal">
                        </select> {{ 'ticket' | translate:{NUMBER:reserve.nbReservePlaces}:"messageformat" }}
                      </div>
                    </div>
                    <div class="row" ng-repeat="price in event.prices">
                      <label class="col-sm-6 control-label">{{price.category.name}} : <span class="text-blue">{{price.amount | currency}}</span></label>
                      <div class="col-sm-6">
                        <select ng-model="reserve.tickets[price.id]" ng-change="changeNbPlaces()" ng-options="i for i in reserve.nbPlaces[price.id]">
                        </select> {{ 'ticket' | translate:{NUMBER:reserve.tickets[price.id]}:"messageformat" }}
                      </div>
                    </div>

                    <div ng-show="currentUser.role == 'admin'" class="m-t">
                        <label for="offerSlot" class="control-label m-r" translate>{{ 'make_a_gift_of_this_reservation' }}</label>
                        <input bs-switch
                              ng-model="event.offered"
                              id="offerSlot"
                              type="checkbox"
                              class="form-control"
                              switch-on-text="{{ 'yes' | translate }}"
                              switch-off-text="{{ 'no' | translate }}"
                              switch-animate="true"
                              switch-readonly="{{trainingIsValid}}"
                              ng-change="computeEventAmount()"/>
                    </div>
                  </div>
                </div>

              </div>

              <div class="clear">
                <a class="pull-right m-t-xs text-u-l ng-scope" href="#" ng-click="cancelReserve($event)" ng-show="reserve.toReserve" translate>{{ 'cancel' }}</a>
              </div>

              <div ng-if="reserveSuccess" class="alert alert-success">{{ 'thank_you_your_payment_has_been_successfully_registered' | translate }}<br>
                {{ 'you_can_find_your_reservation_s_details_on_your_' | translate }} <a ui-sref="app.logged.dashboard.invoices" translate>{{ 'dashboard' }}</a>
              </div>
              <div class="well well-warning m-t-sm" ng-if="reservations && !reserve.toReserve" ng-repeat="reservation in reservations">
                <div class="font-sbold text-u-c text-sm">{{ 'you_booked_DATE' | translate:{DATE:(reservation.created_at | amDateFormat:'L LT')} }}</div>
                <div class="font-sbold text-sm" ng-if="reservation.nb_reserve_places > 0">{{ 'full_price_' | translate }} {{reservation.nb_reserve_places}} {{ 'ticket' | translate:{NUMBER:reservation.nb_reserve_places}:"messageformat" }}</div>
                <div class="font-sbold text-sm" ng-repeat="ticket in reservation.tickets">
                  {{ticket.event_price_category.price_category.name}} : {{ticket.booked}} {{ 'ticket' | translate:{NUMBER:ticket.booked}:"messageformat" }}
                </div>
                <div class="clear" ng-if="event.recurrence_events.length > 0 && reservationCanModify(reservation)">
                  <a class="pull-right m-t-xs text-u-l" href="#" ng-click="modifyReservation(reservation, $event)" translate>{{ 'change' }}</a>
                </div>
              </div>
              <coupon show="reserve.totalSeats > 0 && ctrl.member" coupon="coupon.applied" total="reserve.totalNoCoupon" user-id="{{ctrl.member.id}}"></coupon>
            </div>
          </div>

          <div class="panel-footer no-padder ng-scope" ng-if="event.amount">
            <button class="btn btn-valid btn-info btn-block p-l btn-lg text-u-c r-b text-base" ng-click="payEvent()" ng-if="reserve.totalSeats > 0">{{ 'confirm_and_pay' | translate }} {{reserve.amountTotal | currency}}</button>
          </div>
          <div class="panel-footer no-padder ng-scope" ng-if="event.amount == 0">
            <button class="btn btn-valid btn-info btn-block p-l btn-lg text-u-c r-b text-base" ng-click="validReserveEvent()" ng-if="reserve.totalSeats > 0" ng-disabled="attempting">{{ 'confirm' | translate }}</button>
          </div>
          
          <!-- Reservation button -->
          <div class="panel-footer no-padder ng-scope">
            <button class="btn-default btn-block" ng-click="reserveEvent()" ng-show="event.nb_free_places > 0 && !reserve.toReserve">{{ 'book' | translate }}</button>
          </div>
        </section>
        
        <div ng-if="currentUser.role === 'admin'">
          <select-member></select-member>
        </div>

        <uib-alert type="warning m" ng-if="eventExplicationsAlert.length > 0">
          <p class="text-sm pull-left">
            <i class="fa fa-warning"></i>
            <div class="m-l-lg" ng-bind-html="eventExplicationsAlert"></div>
          </p>
        </uib-alert>

      </div>

    </div>

  </div>
</section>