<section class="container wrapper">
  <div class="col-md-12">
    <h1 class="txt-green m-b" translate>{{ 'users_management' }}</h1>
    <uib-tabset justified="true">
      <uib-tab heading="{{ 'members' | translate }}">
        <ng-include src="'<%= asset_path 'admin/members/members.html' %>'"></ng-include>
      </uib-tab>
      <uib-tab heading="{{ 'administrators' | translate }}">
        <ng-include src="'<%= asset_path 'admin/members/administrators.html' %>'"></ng-include>
      </uib-tab>
      <uib-tab heading="{{ 'groups' | translate }}">
        <div ui-view="groups"></div>
      </uib-tab>
      <uib-tab heading="{{ 'tags' | translate }}">
        <div ui-view="tags"></div>
      </uib-tab>
      <uib-tab heading="{{ 'authentication' | translate }}">
        <div ui-view="authentification"></div>
      </uib-tab>
    </uib-tabset>
  </div>
</section>
