<div>
  <section class="container wrapper">
    
    <div class="col-lg-12">
    
      <!-- BACK -->
      <div class="row m-b">
        <div class="col-lg-12">
          <a class="link-profile m-b" ng-click="cancel()"><i class="fa fa-chevron-left"></i> {{ 'cancel' | translate }}</a>
        </div>
      </div>

      <!-- TITLE -->
      <div class="row m-b">
        <div class="col-lg-12">
          <h1 class="txt-green" translate>{{ 'members_new.add_a_member' }}</h1>
        </div>
      </div>

      <!-- FORM -->
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
          <form role="form" name="userForm" class="form-horizontal" novalidate  action="{{ actionUrl }}" ng-upload="submited(content)" upload-options-enable-rails-csrf="true">
            <section class="panel">
              <div class="panel-body p-lg">
                <ng-include src="'<%= asset_path 'shared/_member_form.html' %>'"></ng-include>
                <ng-include src="'<%= asset_path 'admin/members/_form.html' %>'"></ng-include>
              </div>   <!-- ./panel-body  -->
              <div class="panel-footer no-padder">
                <input type="submit" value="{{ 'save' | translate }}" class="btn-big btn-block btn-profile btn-medium" ng-disabled="userForm.$invalid"/>
              </div>
            </section>
          </form>
        </div>
      </div>

    </div>
    
  </section>
</div>
