<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>

<div class="form-medium-green">

    <div class="form-group m-b" ng-class="{'has-error': spaceForm['space[name]'].$dirty && spaceForm['space[name]'].$invalid}">
        <label for="space_name" class="settings-label">{{ 'space.name' | translate }} *</label>
        <input ng-model="space.name"
                type="text"
                name="space[name]"
                class="form-control"
                id="space_name"
                placeholder="{{'space.name' | translate}}"
                required>
        <span class="help-block" ng-show="spaceForm['space[name]'].$dirty && spaceForm['space[name]'].$error.required" translate>{{ 'space.name_is_required' }}</span>
    </div>

    <div class="form-group m-b">
        <label for="space_image" class="settings-label">{{ 'space.illustration' | translate }} *</label>
        <div>
            <div class="fileinput" data-provides="fileinput" ng-class="fileinputClass(space.space_image)">
                <div class="fileinput-new thumbnail" style="width: 334px; height: 250px;">
                    <img src="data:image/png;base64," data-src="holder.js/100%x100%/text:&#xf03e;/font:FontAwesome/icon" bs-holder ng-if="!space.space_image">
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 334px;">
                    <img ng-src="{{ space.space_image }}" alt="" />
                </div>
                <div>
                    <span class="btn btn-profile btn-small btn-white btn-file">
                        <span class="fileinput-new">{{ 'space.add_an_illustration' | translate }}</span>
                        <span class="fileinput-exists" translate>{{ 'change' }}</span>
                        <input type="file"
                                id="space_image"
                                ng-model="space.space_image"
                                name="space[space_image_attributes][attachment]"
                                accept="image/*"
                                required
                                bs-jasny-fileinput>
                    </span>
                    <a href="#" class="btn btn-small btn-danger fileinput-exists" data-dismiss="fileinput" translate>{{ 'delete' }}</a>
                </div>
            </div>
        </div>
    </div>


    <div class="form-group m-b" ng-class="{'has-error': spaceForm['space[default_places]'].$dirty && spaceForm['space[default_places]'].$invalid}">
        <label for="default_places" class="settings-label">{{ 'space.default_places' | translate }} *</label>
        <input type="number"
                name="space[default_places]"
                ng-model="space.default_places"
                id="default_places"
                class="form-control"
                required>
        <span class="help-block" ng-show="spaceForm['space[default_places]'].$dirty && spaceForm['space[default_places]'].$error.required" translate>{{ 'space.default_places_is_required' }}</span>
    </div>


    <div class="form-group m-b">
        <label for="space_description" class="settings-label" translate>{{ 'space.description' }}</label>
        <input type="hidden"
                name="space[description]"
                ng-value="space.description" />
        <summernote ng-model="space.description"
                        id="space_description"
                        placeholder=""
                        config="summernoteOpts"
                        name="space[description]">
        </summernote>
    </div>

    <div class="form-group m-b">
        <label for="space_characteristics" class="settings-label" translate>{{ 'space.characteristics' }}</label>
        <input type="hidden"
                name="space[characteristics]"
                ng-value="space.characteristics" />
        <summernote ng-model="space.characteristics"
                        id="space_characteristics"
                        placeholder=""
                        config="summernoteOpts"
                        name="space[characteristics]">
        </summernote>
    </div>

    <div class="form-group m-b">
        <label class="settings-label" translate>{{ 'space.attached_files_pdf' }}</label>
        <div ng-repeat="file in space.space_files_attributes" ng-show="!file._destroy">
            <input type="hidden" ng-model="file.id" name="space[space_files_attributes][][id]" ng-value="file.id" />
            <input type="hidden" ng-model="file._destroy" name="space[space_files_attributes][][_destroy]" ng-value="file._destroy"/>
            <div class="fileinput input-group" data-provides="fileinput" ng-class="fileinputClass(file.attachment)">
                <div class="form-control" data-trigger="fileinput">
                    <i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename">{{file.attachment}}</span>
                </div>
                <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new" translate>{{ 'space.attach_a_file' }}</span>
                <span class="fileinput-exists" translate>{{ 'change' }}</span><input type="file" name="space[space_files_attributes][][attachment]" accept=".pdf"></span>
                <a class="input-group-addon btn btn-danger fileinput-exists" data-dismiss="fileinput" ng-click="deleteFile(file)"><i class="fa fa-trash-o"></i></a>
            </div>
        </div>
        <div>
            <a class="btn btn-profile btn-small btn-white btn-file" ng-click="addFile()" role="button"> {{ 'space.add_an_attachment' | translate }}</a>
        </div>
    </div>

    <div class="form-group m-b">
        <label for="space[disabled]" class="settings-label" translate>
            {{ 'space.disable_space' }}
        </label>
        <div>
            <input bs-switch
                    ng-model="space.disabled"
                    name="space[disabled]"
                    id="space[disabled]"
                    type="checkbox"
                    class="form-control"
                    switch-on-text="{{ 'yes' | translate }}"
                    switch-off-text="{{ 'no' | translate }}"
                    switch-animate="true"/>
        </div>
        <input type="hidden" name="space[disabled]" value="{{space.disabled}}">
    </div>

</div>