<section class="col-lg-10 col-md-offset-1 p-n wrapper">
  
  <!-- INTRO  -->
  <div class="col-lg-12">
    <h2>Espace libre</h2>
    <p>Disposant d’un point d’accès à internet (wi-fi) espace vous permet de travailler en co-working. Des espaces de détente ont également été aménagés. L’accès à cet espace est gratuit et ouvert à tous.</p>
  </div>

  <!-- SPACES LIST -->
  <div class="row m-b-md" ng-repeat="space in (spaces.length/4 | array)">
    <!-- Space card -->
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" ng-repeat="space in spaces.slice(4*$index, 4*$index + 4)" ng-click="showSpace(space)">
      <div class="card">
        <div class="card-header" ng-if="!space.space_image">
          <img src="data:image/png;base64," data-src="holder.js/100%x100%/text:&#xf03e;/font:FontAwesome/icon" bs-holder class="img-responsive">
        </div>
        <div class="card-header" style="background-image:url({{space.space_image}})" ng-if="space.space_image"></div>
        <div class="card-body">
          <h2>{{space.name}}</h2>
        </div>
      </div>
    </div>
  </div>

  <!-- ADMIN CONTROLS -->
  <div class="col-md-12">
    <a class="link-button button-admin" ui-sref="app.admin.space_new" role="button" translate>{{ 'spaces_list.add_a_space' }}</a>
  </div>
  
</section>