<section class="container wrapper">
  <div class="col-lg-12">
    
    <!-- INTRO  -->
    <h2 class="txt-orange m-b-sm">Espace libre</h2>
    <p class="m-b">Ces espaces de travail et de détente sont accessibles gratuitement et disposent d’un accès à Internet en Wi-Fi.</p>

    <!-- SPACES LIST -->
    <div class="row" ng-repeat="space in (spaces.length/4 | array)">
      <!-- Space card -->
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3" ng-repeat="space in spaces.slice(4*$index, 4*$index + 4)" ng-click="showSpace(space)">
        <div class="card">
          <div class="card-header" style="background-image: url('/thumb_blank.png'); background-size: cover; background-repeat: no-repeat; background-position: center;">
            <div class="card-header-bg-m" style="background-image:url({{space.space_image}});"></div>
          </div>
          <div class="card-body">
            <div class="card-title">{{space.name}}</div> 
          </div>
        </div>
      </div>
    </div>

    <!-- ADMIN CONTROLS -->
    <a class="btn-profile btn-small btn-medium" ui-sref="app.admin.space_new" role="button" ng-if="isAuthorized('admin')">
      <i class="fa fa-plus m-r-xs"></i> 
      <span translate>{{ 'spaces_list.add_a_space' }}</span>
    </a>

  </div>
</section>