<section class="container wrapper">

    <div class="col-lg-12">

        <!-- BACK -->
        <div class="row">
            <div class="col-lg-12 m-b">
                <a ui-sref="app.public.tools">
                    <i class="fa fa-chevron-left m-r-xs"></i> 
                    <span>tous les outils</span>
                </a>
            </div>
        </div>

        <div class="row">
            <!-- MAIN -->
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="article">
                    <div class="article-thumbnail" ng-if="space.space_image">
                        <img ng-src="{{space.space_image}}" alt="{{space.name}}" class="img-responsive">
                    </div>
                    <h1 class="txt-orange m-b-sm">{{ space.name }}</h1>
                    <p ng-bind-html="space.description | toTrusted"></p>
                </div>
            </div>

            <!-- SIDE INFOS -->
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

                <!-- ADMIN -->
                <div class="m-b" ng-if="isAuthorized('admin')">
                    <a ui-sref="app.admin.space_edit({id:space.slug})" ng-if="isAuthorized('admin')" class="btn-profile btn-small btn-medium"><i class="fa fa-edit m-r-xs"></i> {{ 'edit' | translate }}</a>
                    <a ng-click="deleteSpace($event)" ng-if="isAuthorized('admin')" class="btn-profile btn-small btn-medium"><i class="fa fa-trash m-r-xs"></i> {{ 'delete' | translate }}</a>                
                </div>

                <!-- Specs -->
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <span translate>{{ 'space_show.characteristics' }}</span>
                        </div>
                    </div>
                    <div class="panel-content p-l" ng-if="space.characteristics">
                        <h3></h3>
                        <p ng-bind-html="space.characteristics | toTrusted"></p>
                    </div>
                    <!-- Reservation button -->
                    <div class="panel-footer no-padder ng-scope">
                        <a ng-click="reserveSpace($event)" class="button-public link-button link-button-block" ng-if="!isAuthorized('admin')" translate>{{ 'space_show.book_this_space' }}</a>
                    </div>
                </div>

                <!-- Files -->
                <section class="panel" ng-if="space.space_files_attributes">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <span class="badge bg-warning pull-right">{{space.space_files_attributes.length}}</span>
                            <span translate>{{ 'space_show.files_to_download' }}</span>
                        </div>
                    </div>
                    <ul class="panel-content list-group p-l">       
                        <li ng-repeat="file in machine.machine_files_attributes" class="list-group-item">
                            <a target="_blank" ng-href="{{file.attachment_url}}">{{file.attachment | humanize : 25}}</a>
                        </li>
                    </ul>
                </section>

                <!-- Projects -->
                <section class="panel" ng-if="space.space_projects">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <span class="badge bg-warning pull-right">{{space.space_projects.length}}</span>
                            <span translate>{{ 'space_show.projects_using_the_space' }}</span>
                        </div>
                    </div>
                    <ul class="panel-content list-group p-l">
                        <li ng-repeat="project in machine.machine_projects" class="list-group-item">
                            <a ui-sref="app.public.projects_show({id:project.slug})">{{project.name}}</a>
                        </li>
                    </ul>
                </section>

            </div>
        </div>

    </div>

</section>
