<div>
  <section class="container wrapper">
    
    <div class="col-lg-12">

      <!-- TITLE -->
      <div class="row m-b">
        <div class="col-lg-12">
          <h1 class="txt-green" translate>{{ 'trainings_monitoring' }}</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-12">

          <!-- TRAINING -->
          <uib-tabset justified="true">
            <uib-tab heading="{{ 'trainings' | translate }}">

              <!-- Filter by status -->
              <div class="row m-b m-t-lg">
                  <div class="col-md-3">
                      <div class="form-group form-light-green">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-filter"></i></span>
                          <select ng-model="trainingFiltering" class="form-control">
                            <option ng-repeat="status in filterDisabled" value="{{status}}" translate>{{ 'status_'+status }}</option>
                          </select>
                        </div>
                      </div>
                  </div>
              </div>
              
              <!-- Add group -->
              <div class="row m-b">
                <div class="col-md-12">
                  <button type="button" class="btn-profile btn-small btn-medium" ui-sref="app.admin.trainings_new">
                    <i class="fa fa-plus m-r"></i>
                    <span translate>{{ 'add_a_new_training' }}</span>
                  </button>
                </div>
              </div>

              <!-- Table -->
              <table class="table table-profile">
                <thead>
                  <tr>
                    <th style="width:20%" translate>{{ 'name' }}</th>
                    <th style="width:40%" translate>{{ 'associated_machines' }}</th>
                    <th style="width:20%" translate>{{ 'number_of_tickets' }}</th>
                    <th style="width:20%"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="training in trainings | filterDisabled:trainingFiltering" ng-class="{'disabled-line' : training.disabled && trainingFiltering === 'all'}">
                    <td>{{ training.name }}</td>
                    <td>{{ showMachines(training) }}</td>
                    <td>{{ training.nb_total_places }}</td>
                    <td>
                      <div class="table-align-right">
                        <button class="btn btn-profile btn-small btn-ultralight" ui-sref="app.admin.trainings_edit({id:training.id})">
                          <i class="fa fa-edit"></i> {{ 'edit' | translate }}
                        </button>
                        <button class="btn btn-danger" ng-click="removeTraining($index, training)">
                          <i class="fa fa-trash-o"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </uib-tab>

            <!-- AUTHORISATION -->
            <uib-tab heading="{{ 'trainings_authorisation' | translate }}">

              <!-- Select a training -->
              <div class="row m-b m-t-lg">
                <div class="col-md-10">
                  <div class="form-group form-light-green">
                    <label for="training_select" translate>{{ 'select_a_training' }}</label>
                    <select ng-options="training as training.name for training in trainings" ng-model="monitoring.training" class="form-control" ng-change="selectTrainingToMonitor()" name="training_select"></select>
                  </div>
                </div>
              </div>

              <div class="row m-b m-t-lg">
                <div ng-repeat="(training_name, years) in groupedAvailabilities">
                  <div class="calendar-profile">
                    <div class="col-md-12" ng-repeat="months in years | toArray | orderBy:'$key':true" ng-if="!months.name">
                      <div class="calendar-title title-year">{{ 'year_NUMBER' | translate:{NUMBER:months.$key} }}</div>
                      <div class="row m-b">
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="days in months | toArray | orderBy:'$key':true" ng-if="days.$key">
                          <div class="calendar-title title-month">{{ 'month_of_NAME' | translate:{NAME:formatMonth(days.$key)} }}</div>
                          <div ng-repeat="(day, availabilities) in days">
                            <ul class="list-unstyled">
                              <li ng-repeat="a in availabilities">
                                <a ng-click="showReservations(years.training, a)" class="btn btn-profile btn-small btn-ultralight">{{ a.start_at | amDateFormat:'LLL' }} - {{ a.end_at | amDateFormat:'LT' }}</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>

            </uib-tab>
          </uib-tabset>

        </div>
      </div>
    
    </div>

  </section>

</div>