<!-- NAV -->
<div class="menu-tabs m-t-xl m-b">
  <div class="container">
    <ul>
      <li>
        <a class="unactive" ui-sref="app.public.events_list" uib-tab-heading-transclude="">ateliers et rencontres</a>
      </li>
      <li>
        <a class="active">initiations</a>
      </li>
    </ul>
  </div>
</div>

<section class="container">
  <div class="col-lg-12">

    <div class="m-b">
      <p>Nos initiations sont <b>réservées aux membres</b>.<br/>Découvrez comment vous inscrire sur la page <a href="#!/place">Comment ça marche ?</a></p>
    </div>
    
    <!-- EVENT LIST -->
    <div class="row" ng-repeat="training in (trainings.length/4 | array)">

      <!-- Event card -->
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" ng-repeat="training in trainings.slice(4*$index, 4*$index + 4)" ng-click="showTraining(training)">
        <div class="card m-b">
          <div class="card-header" style="background-image: url('/thumbnail_blank.png'); background-size: cover; background-repeat: no-repeat; background-position: center;">
            <div class="card-header-bg-m" style="background-image:url({{training.training_image}})"></div>
          </div>
          <div class="card-body">
            <div class="card-title">{{training.name}}</div> 
          </div>
        </div>
      </div>

    </div>
  </div>
</section>