<!-- NAV -->
<div class="nav-tabs-text nav-public">
  <div class="container">
    <ul>
      <li>
        <a ui-sref="app.public.events_list" uib-tab-heading-transclude="" class="ng-binding">ateliers et rencontres</a>
      </li>
      <li class="active">
        <a>initiations</a>
      </li>
    </ul>
  </div>
</div>

<section class="container wrapper">
  <div class="col-lg-12">
    
    <!-- EVENT LIST -->
    <div class="row" ng-repeat="training in (trainings.length/4 | array)">

      <!-- Event card -->
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3" ng-repeat="training in trainings.slice(4*$index, 4*$index + 4)">
        <div class="card">
          <div class="card-header" style="background-image: url('/thumb_blank.png'); background-size: cover; background-repeat: no-repeat; background-position: center;" ng-if="!training.training_image" ng-click="showTraining(training)">
            <div class="card-header-bg" style="background-image: url({{training.training_image}});"></div>
          </div>
          <div class="card-body">
            <div class="card-title">{{training.name}}</div> 
          </div>
        </div>
      </div>

    </div>
  </div>
</section>