<section class="col-lg-10 col-md-offset-1 p-n">

  <div class="row no-gutter">

    <!-- BACK -->
    <div class="col-lg-12">
      <a ui-sref="app.public.events_list">{{ 'all_the_events' | translate }}</a>
    </div>

    <!-- MAIN -->
    <div class="col-sm-12 col-md-12 col-lg-8 b-r-lg">
        <div class="article" >
          <div class="article-thumbnail" ng-if="training.training_image">
            <img ng-src="{{training.training_image}}" alt="{{training.name}}" class="img-responsive">
          </div>
          <h2>{{ training.name }}</h2>
          <p class="intro" ng-bind-html="training.description | toTrusted"></p>
        </div>
    </div>

    <!-- SIDE INFOS -->
    <div class="col-sm-12 col-md-12 col-lg-4">
      <section class="widget panel b-a m m-t-lg">
          <div class="panel-heading b-b small">
            <h2>{{ 'training' | translate }}</h2>
            <div>{{ 'msg_training_condition' | translate }}</div>
          </div>
      </section>
        
      <a ng-click="reserveTraining(training, $event)" class="btn btn-lg btn-warning bg-white b-2x rounded m-t-xs" ng-if="!isAuthorized('admin')" translate>{{ 'book_this_training' }}</a>
    </div>

</section>