<section class="container wrapper">
  <div class="col-lg-12">

    <!-- BACK -->
    <div class="row">
      <div class="col-lg-12 m-b">
        <a ui-sref="app.public.trainings_list"><i class="fa fa-chevron-left m-r-xs"></i> {{ 'all_the_events' | translate }}</a>
      </div>
    </div>

    <div class="row">
      <!-- MAIN -->
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="article">
          <div class="article-thumbnail" ng-if="training.training_image">
            <img ng-src="{{training.training_image}}" alt="{{training.name}}" class="img-responsive">
          </div>
          <h1 class="txt-orange m-b-sm">{{ training.name }}</h1>
          <p ng-bind-html="training.description | toTrusted"></p>
        </div>
      </div>

      <!-- SIDE INFOS -->
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

        <!-- Infos -->
        <section class="panel">
          <div class="panel-heading">
            <div class="panel-title-event">
              <div class="event-type">{{ 'training' | translate }}</div>
              <div class="event-conditions">{{ 'msg_training_condition' | translate }}</div>
            </div>
          </div>
          <!-- Reservation button -->
          <div class="panel-footer no-padder ng-scope">
            <a ng-click="reserveTraining(training, $event)" class="button-public link-button link-button-block" ng-if="!isAuthorized('admin')" translate>{{ 'book_this_training' }}</a>
          </div>
        </section>

      </div>
    </div>

  </div>
</section>