<section class="container wrapper">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <!-- MESSAGE -->
        <div class="news-alert m-b" ng-if="(homeBlogpost != null) && (homeBlogpost != '') && (homeBlogpost != undefined)">
            <div class="news-alert-head"><i class="fa fa-warning m-r-xs"></i> Attention</div>
            <div class="news-alert-body">
                <span ng-bind-html="homeBlogpost"></span>
            </div>
        </div>

        <!-- ADRESS / CONTACT -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padder contact-infos">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 no-padder">
                <div class="contact-adress">
                    <h2 class="txt-orange m-b">Contact</h2>
                    <div class="m-b">
                        <div class="contact-adress-title">Adresse</div>
                        <div class="contact-adress-content">Parvis de la Préfecture<br/>95000 CERGY</div>
                    </div>
                    <div class="m-b">
                        <div class="contact-adress-title">Mail</div>
                        <div class="contact-adress-content"><a href="mailto:contact@labboite.fr">contact@labboite.fr</a></div>
                    </div>
                    <div class="m-b">
                        <div class="contact-adress-title">Réseaux sociaux</div>
                        <div class="contact-adress-content">
                            <a href="https://facebook.com/labboite" target="_blank"><span class="social-facebook m-t-xs m-r-xs"></span></a>
                            <a href="https://twitter.com/labboite" target="_blank"><span class="social-twitter m-t-xs m-r-xs"></span></a>
                            <a href="https://instagram.com/labboite" target="_blank"><span class="social-instagram m-t-xs m-r-xs"></span></a>
                        </div>
                    </div>
                    <div class="m-b">
                        <a class="btn btn-public btn-small btn-medium" ui-sref="app.public.about">Espace presse et partenaires</a>
                    </div>
                    <div class="m-b">
                        <div class="contact-adress-title">Autres fablabs et tiers-lieux</div>
                        <div class="contact-adress-content">
                            <div>Découvrez d'autres structures sur <a href="https://www.makery.info/labs-map/" target="_blank">Makery</a> ou <a href="https://www.fablabs.io/labs/map" target="_blank">fablab.io</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 no-padder">
                <div class="contact-opening">
                    <h2 class="txt-orange m-b">Horaires</h2>
                    <div class="m-b-sm">
                        <div class="contact-opening-title">mardi • mercredi • vendredi</div>
                        <div class="contact-opening-content">10h00 - 20h00</div>
                    </div>
                    <div class="m-b-sm">
                        <div class="contact-opening-title">jeudi</div>
                        <div class="contact-opening-content">10h00 - 22h00</div>
                    </div>
                    <div class="m-b-sm">
                        <div class="contact-opening-title">samedi</div>
                        <div class="contact-opening-content">14h00 - 18h00</div>
                    </div>
                    <div class="m-b-sm">
                        <div class="contact-opening-title">dimanche • lundi</div>
                        <div class="contact-opening-content">fermé</div>
                    </div>
                    <div class="m-b-sm">
                        <p>Visites uniquement <span class="font-bold">à partir de 16h</span>. Ces horaires sont susceptibles d’être modifiés pendant les vacances scolaires.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- MAP -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padder">
            <div class="contact-map">
                <iframe width="100%" height="450px" frameborder="0" allowfullscreen src="https://umap.openstreetmap.fr/fr/map/labboite_362182?scaleControl=true&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=true&searchControl=false&tilelayersControl=false&embedControl=false&datalayersControl=false&onLoadPanel=undefined&captionBar=false&fullscreenControl=true&locateControl=false&measureControl=false&editinosmControl=false#18/49.03559/2.07735"></iframe>
            </div>
        </div>
    </div>
</section>

<!-- TEAM -->
<section class="container wrapper">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padder">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2 class="txt-orange m-b">L'équipe</h2>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 m-b">
            <img class="img-width-full m-b-sm" src="img/contact-bastien.jpg" />
            <div class="contact-team-name">Bastien Vernier</div>
            <div class="contact-team-role m-b-sm">fabmanager</div>
            <div class="contact-team-mail"><a href="mailto:bastien@labboite.fr">bastien@labboite.fr</a></div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 m-b">
            <img class="img-width-full m-b-sm" src="img/contact-valentin.jpg" />
            <div class="contact-team-name">Valentin Socha</div>
            <div class="contact-team-role m-b-sm">fabmanager</div>
            <div class="contact-team-mail"><a href="mailto:valentin@labboite.fr">valentin@labboite.fr</a></div>
        </div>
    </div>
</section>