<!-- HERO -->
<div class="hero-global"></div>

<!-- INTRO -->
<section class="container wrapper">
  <div class="col-sx-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
    <h2 class="txt-orange m-b">LabBoîte est une fabrique de projets et de rencontres</h2>
    <p>LabBoîte est un lieu collaboratif, ouvert à toutes et à tous. Vous souhaitez réaliser un projet ? Vous avez envie de partager des savoir-faire ? Vous êtes simplement curieux et désirez découvrir les possibilités des outils traditionnels ou numérique ? LabBoîte est pour vous !</p>
    <p>L’équipe de LabBoîte met à disposition des espaces adaptés pour travailler, étudier et créer ainsi que des outils et des machines pour concevoir, fabriquer et prototyper. Nous sommes là pour créer les conditions nécessaires à la concrétisation de vos projets, en favorisant les échanges entre les utilisateurs et en facilitant la transmission de savoirs et savoir-faire.</p>
    <p>Soyez maître de votre projet !</p>
  </div>
</section>

<!-- COMMUNITY -->
<section class="container wrapper">
    <div>
        <div class="col-sx-6 col-sm-6 col-md-3 col-lg-3">
            <a ui-sref="app.public.cond_individual">
                <div class="poster" style="background-size: cover; background-position: center; background-image: url('img/place_community_demo.jpg');">
                    <div class="poster-title">
                        Je suis un <span class="font-ebold">particulier</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sx-6 col-sm-6 col-md-3 col-lg-3">
            <a ui-sref="app.public.cond_education">
                <div class="poster" style="background-size: cover; background-position: center; background-image: url('img/place_community_demo.jpg');">
                    <div class="poster-title">
                        J'ai un <span class="font-ebold">projet pédagogique</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sx-6 col-sm-6 col-md-3 col-lg-3">
            <a ui-sref="app.public.cond_association">    
                <div class="poster" style="background-size: cover; background-position: center; background-image: url('img/place_community_demo.jpg');">
                    <div class="poster-title">
                        Je suis une <span class="font-ebold">association</span> ou une <span class="font-ebold">structure locale</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sx-6 col-sm-6 col-md-3 col-lg-3">
            <a ui-sref="app.public.cond_business">
                <div class="poster" style="background-size: cover; background-position: center; background-image: url('img/place_community_demo.jpg');">
                    <div class="poster-title">
                        J'ai un projet à but <span class="font-ebold">commercial</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>

<!-- HOW TO -->
<section class="container wrapper">
  <div class="col-sx-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
    <h2 class="txt-orange m-b">Fonctionnement</h2>
    <div class="row">
        <div class="col-sx-6 col-sm-6 col-md-6 col-lg-6 m-b">
            <img class="img-width-full m-b-sm" src="img/place_howto_demo.jpg" />
            <h3 class="txt-orange m-b-sm">Programmation</h3>
            <p>Nous proposons chaque mois une programmation d’ateliers et de rencontres ouverts à tous et animés par les utilisateurs : conception 2D et 3D, couture, jeux, entrepreneuriat…</p>
        </div>
        <div class="col-sx-6 col-sm-6 col-md-6 col-lg-6 m-b">
            <img class="img-width-full m-b-sm" src="img/place_howto_demo.jpg" />
            <h3 class="txt-orange m-b-sm">Projets</h3>
            <p>Les projets menés au sein du lieu sont exclusivement personnels ou à des fins de prototypage. L’usage des outils n’est pas destiné à la production en série ou à la vente.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sx-6 col-sm-6 col-md-6 col-lg-6 m-b">
            <img class="img-width-full m-b-sm" src="img/place_howto_demo.jpg" />
            <h3 class="txt-orange m-b-sm">Initiations</h3>
            <p>Afin de favoriser l’autonomie des utilisateurs et garantir la sécurité de tous, les adhérents doivent obligatoirement suivre une initiation pour utiliser les outils et machines nécessaires à leurs projets. Des notices et tutoriels sont disponibles en ligne et sur place.</p>
        </div>
        <div class="col-sx-6 col-sm-6 col-md-6 col-lg-6 m-b">
            <img class="img-width-full m-b-sm" src="img/place_howto_demo.jpg" />
            <h3 class="txt-orange m-b-sm">Outils</h3>
            <p>Les outils et les machines ne sont accessibles qu’aux adhérents du lieu. Certaines machines peuvent être réservées en ligne pour être utilisées.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sx-6 col-sm-6 col-md-6 col-lg-6 m-b">
            <img class="img-width-full m-b-sm" src="img/place_howto_demo.jpg" />
            <h3 class="txt-orange m-b-sm">Documentation</h3>
            <p>LabBoîte s’inscrit dans une logique de partage et de transmission des savoirs. À ce titre, chaque usager du lieu est invité à documenter ses projets.</p>
        </div>
        <div class="col-sx-6 col-sm-6 col-md-6 col-lg-6 m-b">
            <img class="img-width-full m-b-sm" src="img/place_howto_demo.jpg" />
            <h3 class="txt-orange m-b-sm">Consommables</h3>
            <p>Nous ne fournissons pas de consommables. Un chutier est néanmoins à votre disposition pour tester et prototyper. Les matériaux utilisés doivent obligatoirement être vérifiés par l’équipe.</p>
        </div>
    </div>
  </div>
</section>

<!-- HERO -->
<section class="wrapper">
    <div class="hero-global"></div>
</section>

<!-- WHAT IS A FABLAB -->
<section class="container wrapper">
  <div class="col-sx-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
    <h2 class="txt-orange m-b">Qu'est-ce qu'un fablab ?</h2>
    <div class="m-b">
        <p>Créé par le MIT à la fin des années 90, un fablab est un lieu partagé dédié à la fabrication et au prototypage, qui s’inscrit à la fois dans un réseau international et un écosystème local.</p>
        <p>Les fablabs soutiennent l’apprentissage par le faire (ou « Do it Yourself ») et la libre diffusion des savoirs. Accessibles à tous, ils proposent des espaces et des outils mutualisés. Ces espaces favorisent l’échange et le partage en réunissant une communauté d’utilisateurs aux idées et aux compétences variées.</p>
    </div>
    <div class="row">
        <div class="col-sx-6 col-sm-6 col-md-6 col-lg-6">
            <a href="files/CA-21102019_Reglement.pdf" class="btn btn-block btn-small btn-neutral btn-medium m-b-sm">Consulter le règlement du fablab</a>
        </div>
        <div class="col-sx-6 col-sm-6 col-md-6 col-lg-6">
            <a href="files/charte_fablab.pdf" class="btn btn-block btn-small btn-neutral btn-medium m-b-sm">Consulter la charte des fablabs</a>
        </div>
    </div>
  </div>
</section>