<!-- HERO -->
<div class="hero-global">
    <div class="hero-global-poster" style="background-size: cover; background-position: center; background-image: url('img/place_pano1.jpg');"></div>
</div>

<!-- INTRO -->
<section class="container wrapper">
  <div class="col-sx-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
    <h2 class="txt-orange m-b">LabBoîte est une fabrique de projets et de rencontres</h2>
    <p>LabBoîte est un lieu collaboratif, ouvert à toutes et à tous. Vous souhaitez réaliser un projet ? Vous avez envie de partager des savoir-faire ? Vous êtes simplement curieux et désirez découvrir les possibilités des outils traditionnels ou numérique ? LabBoîte est pour vous !</p>
    <p>L’équipe de LabBoîte met à disposition  des espaces adaptés pour travailler, étudier, créer, ainsi que des outils et des machines pour concevoir, fabriquer et prototyper. Nous sommes là pour créer les conditions nécessaires à la concrétisation de vos projets, en favorisant les échanges entre les utilisateurs et en facilitant la transmission de savoirs et savoir-faire.</p>
    <p>À vos projets, prêts… Partez !</p>
  </div>
</section>

<!-- COMMUNITY -->
<section class="container wrapper">
    <div>
        <div class="col-sx-6 col-sm-6 col-md-3 col-lg-3">
            <a ui-sref="app.public.cond_individual">
                <div class="poster" style="background-size: cover; background-position: center; background-image: url('img/place_community_individual.jpg');">
                    <div class="poster-title">
                        <div class="poster-title-txt">
                            Je suis un <span class="poster-title-bold">particulier</span>, je suis curieux, j'ai un projet créatif
                        </div>
                        <div class="poster-title-cta">Cliquez ici</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sx-6 col-sm-6 col-md-3 col-lg-3">
            <a ui-sref="app.public.cond_association">    
                <div class="poster" style="background-size: cover; background-position: center; background-image: url('img/place_community_association.jpg');">
                    <div class="poster-title">
                        <div class="poster-title-txt">
                            Je suis une <span class="poster-title-bold">structure locale</span>, j'ai un projet collectif
                        </div>
                        <div class="poster-title-cta">Cliquez ici</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sx-6 col-sm-6 col-md-3 col-lg-3">
            <a ui-sref="app.public.cond_education">
                <div class="poster" style="background-size: cover; background-position: center; background-image: url('img/place_community_education.jpg');">
                    <div class="poster-title">
                        <div class="poster-title-txt">
                            Je suis un <span class="poster-title-bold">acteur éducatif</span>, j’ai un projet pédagogique
                        </div>
                        <div class="poster-title-cta">Cliquez ici</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sx-6 col-sm-6 col-md-3 col-lg-3">
            <a ui-sref="app.public.cond_entrepreneur">
                <div class="poster" style="background-size: cover; background-position: center; background-image: url('img/place_community_commercial.jpg');">
                    <div class="poster-title">
                        <div class="poster-title-txt">
                            Je suis un <span class="poster-title-bold">entrepreneur</span>, j’ai un projet (pré-)commercial
                        </div>
                        <div class="poster-title-cta">Cliquez ici</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>

<!-- FABLAB TOUR -->
<section class="container wrapper">
    <div class="col-sx-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
        <h2 class="txt-orange m-b">Visitez LabBoîte !</h2>
        <div class="row">
            <div class="col-sx-6 col-sm-6 col-md-6 col-lg-6 m-b">
                <a href="https://my.matterport.com/show/?m=S9AaWyrCfvA" target="_blank"><img class="thumb-zoom img-width-full m-b-sm" src="img/ccm_tour_libre.jpg" /></a>
            </div>
            <div class="col-sx-6 col-sm-6 col-md-6 col-lg-6 m-b">
                <a href="https://my.matterport.com/show/?m=J7B37G4RExg" target="_blank"><img class="thumb-zoom img-width-full m-b-sm" src="img/ccm_tour_fablab.jpg" /></a>
            </div>
        </div>
    </div>
</section>

<!-- 3 QUESTIONS -->
<section class="container wrapper">
    <div class="col-sx-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
        <h2 class="txt-orange m-b">LabBoîte en trois questions</h2>
        <div class="row">
            <div class="col-sx-4 col-sm-4 col-md-4 col-lg-4 m-b">
                <a href="https://www.youtube.com/watch?v=XtuZXllaqGQ" target="_blank"><img class="thumb-zoom img-width-full m-b-sm" src="img/ccm_3questions_what.jpg" /></a>
            </div>
            <div class="col-sx-4 col-sm-4 col-md-4 col-lg-4 m-b">
                <a href="https://www.youtube.com/watch?v=07M8Vp1NSpw" target="_blank"><img class="thumb-zoom img-width-full m-b-sm" src="img/ccm_3questions_forwho.jpg" /></a>
            </div>
            <div class="col-sx-4 col-sm-4 col-md-4 col-lg-4 m-b">
                <a href="https://www.youtube.com/watch?v=urNp8UdBV-4" target="_blank"><img class="thumb-zoom img-width-full m-b-sm" src="img/ccm_3questions_howto.jpg" /></a>
            </div>
        </div>
    </div>
</section>

<!-- HOW TO -->
<section class="container wrapper">
  <div class="col-sx-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
    <h2 class="txt-orange m-b">Fonctionnement</h2>
    <div class="row">
        <div class="col-sx-6 col-sm-6 col-md-6 col-lg-6 m-b">
            <img class="img-width-full m-b-sm" src="img/place_schedule.jpg" />
            <h3 class="txt-orange m-b-sm">Programmation</h3>
            <p>Nous proposons chaque mois une <a ui-sref="app.public.events_list">programmation</a> d’ateliers et de rencontres autour du faire, du design, du numérique, de l’environnement et de l'entrepreneuriat. Ces événements sont ouverts à tous et animés par les utilisateurs et les structures partenaires. Vous pouvez vous aussi <a href="files/lb_form_atelier_2021.pdf">en proposer</a>.</p>
        </div>
        <div class="col-sx-6 col-sm-6 col-md-6 col-lg-6 m-b">
            <img class="img-width-full m-b-sm" src="img/place_trainings.jpg" />
            <h3 class="txt-orange m-b-sm">Initiations</h3>
            <p>Afin de favoriser l’autonomie des utilisateurs et garantir la sécurité de tous, les membres doivent obligatoirement suivre une <a ui-sref="app.public.trainings_list">initiation</a> pour utiliser les outils et machines nécessaires à leurs projets. Des notices et tutoriels sont disponibles en ligne et sur place.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sx-6 col-sm-6 col-md-6 col-lg-6 m-b">
            <img class="img-width-full m-b-sm" src="img/place_tools.jpg" />
            <h3 class="txt-orange m-b-sm">Outils</h3>
            <p>Les <a ui-sref="app.public.tools">outils et les machines</a> ne sont accessibles qu’aux membres du lieu. Certaines machines peuvent être réservées en ligne pour être utilisées. Sur notre <a href="https://documentation.labboite.fr" target="_blank">plateforme machines</a>, vous retrouverez des informations détaillées, des notices ainsi que des astuces sur les outils disponibles à LabBoîte.</p>
        </div>
        <div class="col-sx-6 col-sm-6 col-md-6 col-lg-6 m-b">
            <img class="img-width-full m-b-sm" src="img/place_materials.jpg" />
            <h3 class="txt-orange m-b-sm">Consommables</h3>
            <p>Nous ne fournissons pas de consommables. Un chutier est néanmoins à votre disposition pour tester et prototyper. Les matériaux utilisés doivent obligatoirement être vérifiés par l’équipe.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sx-6 col-sm-6 col-md-6 col-lg-6 m-b">
            <img class="img-width-full m-b-sm" src="img/place_projects.jpg" />
            <h3 class="txt-orange m-b-sm">Projets</h3>
            <p>Les <a ui-sref="app.public.projects_list">projets</a> menés au sein du lieu sont exclusivement personnels ou à des fins de prototypage. L’usage des outils n’est pas destiné à la production en série ou à la vente.</p>
        </div>
        <div class="col-sx-6 col-sm-6 col-md-6 col-lg-6 m-b">
            <img class="img-width-full m-b-sm" src="img/place_documentation.jpg" />
            <h3 class="txt-orange m-b-sm">Documentation</h3>
            <p>LabBoîte s’inscrit dans une logique de partage et de transmission des savoirs. À ce titre, chaque usager du lieu est invité à <a ui-sref="app.public.projects_list">documenter ses projets</a>.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sx-6 col-sm-6 col-md-6 col-lg-6">
            <a href="files/2021-fablab-cy-reglement.pdf" class="btn btn-block btn-small btn-neutral btn-medium m-b-sm">Consulter le règlement du fablab</a>
        </div>
        <div class="col-sx-6 col-sm-6 col-md-6 col-lg-6">
            <a href="files/2020-plaquette.pdf" class="btn btn-block btn-small btn-neutral btn-medium m-b-sm">Consulter la plaquette</a>
        </div>
    </div>
  </div>
</section>

<!-- HERO -->
<section class="wrapper">
    <div class="hero-global">
    <div class="hero-global-poster" style="background-size: cover; background-position: center; background-image: url('img/place_pano2.jpg');"></div>
    </div>
</section>

<!-- WHAT IS A FABLAB -->
<section class="container wrapper">
  <div class="col-sx-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
    <h2 class="txt-orange m-b">Qu'est-ce qu'un fablab ?</h2>
    <div class="m-b">
        <p>Créé par le MIT à la fin des années 90, un fablab est un lieu partagé dédié à la fabrication et au prototypage, qui s’inscrit à la fois dans un réseau international et un écosystème local.</p>
        <p>Les fablabs soutiennent l’apprentissage par le faire (ou « Do it Yourself ») et la libre diffusion des savoirs. Accessibles à tous, ils proposent des espaces et des outils mutualisés. Ces espaces favorisent l’échange et le partage en réunissant une communauté d’utilisateurs aux idées et aux compétences variées.</p>
    </div>
    <div class="row">
        <div class="col-sx-12 col-sm-12 col-md-12 col-lg-12">
            <a href="files/charte_fablab.pdf" class="btn btn-block btn-small btn-neutral btn-medium m-b-sm">Consulter la charte des fablabs</a>
        </div>
    </div>
  </div>
</section>