<div>
  <section class="container wrapper">
    
    <div class="col-lg-12">

      <!-- TITLE -->
      <div class="row m-b">
        <div class="col-lg-12">
          <h1 class="txt-green" translate>{{ 'project_elements.projects_elements_management' }}</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-12">

          <!-- VIEWS -->
          <uib-tabset justified="true">
            <uib-tab heading="{{ 'materials' | translate }}">
              <ng-include src="'<%= asset_path 'admin/project_elements/materials.html' %>'"></ng-include>
            </uib-tab>
            <uib-tab heading="{{ 'themes' | translate }}">
              <ng-include src="'<%= asset_path 'admin/project_elements/themes.html' %>'"></ng-include>
            </uib-tab>
            <uib-tab heading="{{ 'project_elements.licences' | translate }}">
              <ng-include src="'<%= asset_path 'admin/project_elements/licences.html' %>'"></ng-include>
            </uib-tab>
          </uib-tabset>
        </div>
      </div>
    
    </div>

  </section>
</div>