<!-- RESERVATION PROCESS -->
<div class="panel m-b-sm" ng-if="user && !events.modifiable && !events.moved">

  <!-- No selection -->
  <div class="panel-content p-l" ng-show="events.reserved.length == 0 && (!events.paid || events.paid.length == 0)">
    <i>{{ 'cart.select_one_or_more_slots_in_the_calendar' | translate:{SINGLE:limitToOneSlot}:"messageformat" }}</i>
  </div>

  <!-- Process -->
  <div class="panel-content p-l" ng-if="events.reserved.length > 0">
    <div class="m-b-sm">
      {{ 'cart.you_ve_just_selected_the_slot' | translate }}
    </div>
    <div class="resa-slot" ng-repeat="slot in events.reserved">
      <div class="p-l">
        <span class="resa-slot-data resa-process">{{ 'cart.datetime_to_time' | translate:{START_DATETIME:(slot.start | amDateFormat:'LLLL'), END_TIME:(slot.end | amDateFormat:'LT') } }}</span>
      </div>
      <div>
        <button class="btn btn-small btn-block btn-public btn-medium" ng-click="validateSlot(slot)" ng-if="!slot.isValid" translate>{{ 'cart.confirm_this_slot' }}</button>
        <a class="btn btn-small btn-block btn-neutral btn-dark" href="#" ng-click="removeSlot(slot, $index, $event)" ng-if="slot.isValid" translate>{{ 'cart.remove_this_slot' }}</a>
      </div>
    </div>
  </div>

  <!-- Confirm -->
  <div class="panel-footer no-padder" ng-if="events.reserved.length > 0">
    <button class="btn btn-default btn-block btn-public btn-medium" ng-click="payCart()" ng-if="isSlotsValid() && (!modePlans || selectedPlan)">{{ 'cart.confirm_and_pay' | translate }}</button>
  </div>

</div>


<!-- RESERVATION SUCCESS -->
<div class="panel m-b-sm">
  <div class="panel-content p-l" ng-show="events.paid && events.paid.length > 0">
    <div class="m-b-sm">
      <p>{{ 'cart.you_have_settled_the_following_TYPE' | translate:{TYPE:reservableType}:"messageformat" }}</p>
    </div>
    <div class="resa-slot" ng-repeat="paidSlot in events.paid">
      <div class="p-l">
        <!--<span class="resa-slot-data"><strong>{{reservableName}}<strong></span><br/>-->
        <span class="resa-slot-data resa-success">{{ 'cart.datetime_to_time' | translate:{START_DATETIME:(paidSlot.start | amDateFormat:'LLLL'), END_TIME:(paidSlot.end | amDateFormat:'LT') } }}</span>
      </div>
    </div>
  </div>
</div>


<!-- MODIFICATION PROCESS -->
<div class="panel m-b-sm" ng-if="events.modifiable || events.moved">
  <div class="panel-content p-l" ng-if="events.modifiable">
    <div class="m-b-sm" translate>
      {{ 'cart.i_want_to_change_the_following_reservation' }}
    </div>
    <div class="resa-slot">
      <div class="p-l">
        <span class="resa-slot-data resa-process">{{ 'cart.datetime_to_time' | translate:{START_DATETIME:(events.modifiable.start | amDateFormat:'LLLL'), END_TIME:(events.modifiable.end | amDateFormat:'LT') } }}</span>
      </div>
      <div>
        <a class="btn btn-small btn-block btn-neutral btn-dark" href="#" ng-click="cancelModifySlot($event)" translate>{{ 'cart.cancel_my_selection' }}</a>
      </div>
    </div>
    <div class="m-b-sm">
      <p><i>{{ 'cart.select_a_new_slot_in_the_calendar' | translate }}</p></i>
    </div>
    <div class="resa-slot" ng-if="events.placable">
      <div class="p-l">
        <span class="resa-slot-data resa-process">{{ 'cart.datetime_to_time' | translate:{START_DATETIME:(events.placable.start | amDateFormat:'LLLL'), END_TIME:(events.placable.end | amDateFormat:'LT') } }}</span>
      </div>
      <div>
        <a class="btn btn-small btn-block btn-neutral btn-dark" href="#" ng-click="removeSlotToPlace($event)" translate>{{ 'cart.cancel_my_selection' }}</a>
      </div>
    </div>
  </div>

  <!-- Confirm -->
  <div class="panel-footer no-padder" ng-if="events.modifiable && events.placable">
    <!--<button class="btn btn-invalid btn-default btn-block p-l btn-lg text-u-c r-n text-base" ng-click="cancelModifySlot()" translate>{{ 'cancel' }}</button>-->
    <div>
      <button class="btn btn-default btn-block btn-public btn-medium" ng-click="modifySlot()" translate>{{ 'cart.confirm_my_modification' }}</button>
    </div>
  </div>

</div>


<!-- MODIFICATION SUCCESS -->
<div class="panel m-b-sm" ng-show="events.moved">
  <div class="panel-content p-l">
    <div class="m-b-sm" translate>
      {{ 'cart.your_booking_slot_was_successfully_moved_from_' }}
    </div>
    <div class="resa-slot">
      <div class="p-l">
        <span class="resa-slot-data resa-process">{{ 'cart.datetime_to_time' | translate:{START_DATETIME:(events.moved.oldSlot.start | amDateFormat:'LLLL'), END_TIME:(events.moved.oldSlot.end | amDateFormat:'LT') } }}</span>
      </div>
    </div>
    <div class="m-b-sm">
      <p class="text-center font-sbold" translate>{{ 'cart.to_date' }}</p>
    </div>
    <div class="resa-slot">
      <div class="p-l">
        <span class="resa-slot-data resa-success">{{ 'cart.datetime_to_time' | translate:{START_DATETIME:(events.moved.newSlot.start | amDateFormat:'LLLL'), END_TIME:(events.moved.newSlot.end | amDateFormat:'LT') } }}</span>
      </div>
    </div>
  </div>
</div>
