<section class="container wrapper">
  <div class="col-sx-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">

    <div class="m-b">
      <h1 class="txt-orange m-b">À propos</h1>
      <p>Destinée au monde académique, au grand public et aux entreprises, LabBoîte est une fabrique de rencontres et un atelier partagé d’expérimentation, de conception et de fabrication. Support au développement d’une innovation qui se veut ouverte et collective, elle puise sa substance dans le partage et la transmission de connaissances.</p>
      <p>Située dans le Grand Centre de Cergy-Pontoise, LabBoîte est un tiers-lieu/fablab géré par l’Université Paris-Seine. Première réalisation concrète du <a href="http://www.campusinternational-parisseine.com/">Campus International Paris-Seine</a>, LabBoîte se veut ouverte sur la ville et son environnement par le soutien au développement de projets multiples et transversaux.</p>
    <div>
    
  </div>
</section>