<section class="container wrapper">

  <!-- INTRO -->
  <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8 wrapper">
    <div class="m-b">
      <h1 class="txt-orange">À propos de LabBoîte</h1>
    </div>
    <div class="m-b">
      <h3 class="txt-orange m-b-sm">Présentation</h3>
      <p>Destinée au monde académique, au grand public et aux entreprises, LabBoîte est une fabrique de rencontres et un atelier partagé d’expérimentation, de conception et de fabrication. Support au développement d’une innovation qui se veut ouverte et collective, elle puise sa substance dans le partage et la transmission de connaissances.</p>
      <p>Située dans le Grand Centre de Cergy-Pontoise, LabBoîte est un tiers-lieu/fablab géré par l’Université Paris-Seine. Première réalisation concrète du <a href="http://www.campusinternational-parisseine.com/">Campus International Paris-Seine</a>, LabBoîte se veut ouverte sur la ville et son environnement par le soutien au développement de projets multiples et transversaux.</p>
    </div>
  </div>

  <!-- SPONSORS -->
  <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8 wrapper">
    <div class="m-b">
      <h3 class="txt-orange m-b-sm">Nos partenaires</h3>
      <p>Labboite est aussi un support de développement pour les structures à vocation entrepreneuriale, éducative, associative… Elle peut accompagner, supporter et participer à la réalisation de leurs projets.</p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="panel">
          <div class="panel-heading">
            <div class="panel-title">Grand public</div>
          </div>
          <div class="panel-content p-l">
            <ul class="list-neutral">
              <li><a href="http://associationaacs.e-monsite.com/">AACS</a></li>
              <li><a href="https://www.facebook.com/cergy.alternativ.fr/">Alternativ</a></li>
              <li><a href="https://ateliers.org/">Les Ateliers de Cergy</a></li>
              <li><a href="http://art-osons.org/">Art Osons</a></li>
              <li><a href="http://www.atelierboiscreation.fr/">Atelier bois et création</a></li>
              <li><a href="http://ateliersarroses.fr/">Ateliers arrosés</a></li>
              <li><a href="https://www.facebook.com/carreaudecergyofficiel/">Le Carreau de Cergy</a></li>
              <li><a href="https://www.caue95.org/">CAUE95</a></li>
              <li><a href="https://www.cergy.fr/sinvestir/dans-la-vie-citoyenne/instances-participatives/conseil-des-jeunes-11-15-ans/">Conseil des jeunes</a></li>
              <li><a href="https://cij.valdoise.fr/">CIJ</a></li>
              <li><a href="https://www.eragny.fr/article/atelier-fablab">Fablab d’Eragny</a></li>
              <li><a href="http://lesincroyablescomestibles.fr/france/ile-de-france/cergy/">Incroyables Comestibles</a></li>
              <li><a href="http://www.lejeupourtous.org/">Le Jeu pour Tous</a></li>
              <li><a href="https://www.facebook.com/ludikaccess.asso">Ludikaccess</a></li>
              <li><a href="https://www.facebook.com/maplanet.collectif/">MaPlaNet</a></li>
              <li><a href="http://quelleterredemain.over-blog.com/">Quelle Terre Demain ?</a></li>
              <li><a href="http://www.radiorgb.net/">RGB</a></li>
              <li><a href="http://www.assolaruche.fr/">La Ruche</a></li>
              <li><a href="http://www.vorobotics.com/">VO Robotique</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="panel">
          <div class="panel-heading">
            <div class="panel-title">Éducatif</div>
          </div>
          <div class="panel-content p-l">
            <ul class="list-neutral">
              <li><a href="https://ares.asso-ensea.fr/">Ares</a></li>
              <li><a href="https://asso-astrum.com/">Astrum</a></li>
              <li><a href="https://www.facebook.com/ConseilEtudiantCP/">CECP</a></li>
              <li><a href="https://www.facebook.com/DemainUCP/">Demain UCP</a></li>
              <li><a href="http://digitowl.school/">Digit’owl</a></li>
              <li><a href="http://www.efabrik.fr/">E-Fabrik</a></li>
              <li><a href="https://fr-fr.facebook.com/MakersEISTI/">EISTI Maker</a></li>
              <li><a href="http://espace-cesame.org/">Espace Cesame</a></li>
              <li><a href="https://www.facebook.com/francasenidf/">Francas</a></li>
              <li><a href="#">GéO</a></li>
              <li><a href="https://fr-fr.facebook.com/hazybot/">Hazybot</a></li>
              <li><a href="https://www.ligue95.com/">Ligue de l’enseignement</a></li>
              <li><a href="http://www.lyc-claudel-vaureal.ac-versailles.fr/">Lycée Camille Claudel</a></li>
              <li><a href="http://www.raidessec.com/">Raid ESSEC</a></li>
              <li><a href="http://www.groupe-sos.org/actus/2785/TEAME_le_serious_game_de_l_insertion_professionnelle_des_jeunes">Teame</a></li>
              <li><a href="https://zefabtruck.fr/">Ze Fab Truck</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="panel">
          <div class="panel-heading">
            <div class="panel-title">Entrepreneuriat</div>
          </div>
          <div class="panel-content p-l">
            <ul class="list-neutral">
              <li><a href="https://ambitions-lemag.fr/">Ambitions</a></li>
              <li><a href="https://www.bge.asso.fr/">BGE</a></li>
              <li><a href="https://www.facebook.com/Boostavenir/">Boost Avenir</a></li>
              <li><a href="http://www.cabinet-girardeau.fr/">Cabinet Girardeau</a></li>
              <li><a href="https://www.initiactive95.fr/">Initiactive95</a></li>
              <li><a href="https://www.koala-cafe.fr/">Koala Café</a></li>
              <li><a href="http://www.mercilescopines.com/">Merci Les Copines</a></li>
              <li><a href="http://www.pepite-valleedeseine.fr/vos-referents-dans-le-val-d-oise-27941.kjsp">Pépite</a></li>
              <li><a href="https://portparallele.com/">Port Parallèle</a></li>
              <li><a href="https://joinstarlabs.com/">Starlabs</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- PRESS -->
  <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8 wrapper">
    <h3 class="txt-orange m-b-sm">Presse</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="card">
          <div class="card-header" style="background-image: url(); background-size: cover; background-repeat: no-repeat; background-position: center;">
            <div class="card-header-bg" style="background-image:url({{machine.machine_image}});"></div>
          </div>
          <div class="card-body">
            <div class="card-title-press m-b-xs">Cergy-Pontoise : le FabLab ne veut pas toucher que les geeks</div>
            <div class="card-data-press">Le Parisien</div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="card">
          <div class="card-header" style="background-image: url(); background-size: cover; background-repeat: no-repeat; background-position: center;">
            <div class="card-header-bg" style="background-image:url({{machine.machine_image}});"></div>
          </div>
          <div class="card-body">
            <div class="card-title-press m-b-xs">Un FabLab ouvre dans le campus de Cergy-Pontoise</div>
            <div class="card-data-press">Les Échos</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="card">
          <div class="card-header" style="background-image: url(); background-size: cover; background-repeat: no-repeat; background-position: center;">
            <div class="card-header-bg" style="background-image:url({{machine.machine_image}});"></div>
          </div>
          <div class="card-body">
            <div class="card-title-press m-b-xs">Cergy-Pontoise : le FabLab ne veut pas toucher que les geeks</div>
            <div class="card-data-press">Le Parisien</div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="card">
          <div class="card-header" style="background-image: url(); background-size: cover; background-repeat: no-repeat; background-position: center;">
            <div class="card-header-bg" style="background-image:url({{machine.machine_image}});"></div>
          </div>
          <div class="card-body">
            <div class="card-title-press m-b-xs">Un FabLab ouvre dans le campus de Cergy-Pontoise</div>
            <div class="card-data-press">Les Échos</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>