<div class="modal-header">
  <h1>{{object.title}}</h1>
</div>
<div class="modal-body">
  <p ng-bind-html="object.msg"></p>
</div>
<div class="modal-footer">
  <button class="btn btn-default btn-public btn-medium" ng-click="ok()" translate>{{ 'confirm' }}</button>
  <button class="btn btn-default btn-neutral btn-medium" ng-click="cancel()" translate>{{ 'cancel' }}</button>
</div>
