<div class="footer">
    <div class="container">
        <div class="col-lg-12">
        
            <div class="footer-logo">
                <a href="https://www.cycampus.fr/">
                    <img src="img/logo_cycampus.png" alt="CY Campus"/>
                </a>
            </div>
            
            <div class="row footer-links">
                <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
                    <ul class="footer-links-menu">
                        <li>
                            <a ui-sref="app.public.about">à propos</a>
                        </li>
                        <li>
                            <a ui-sref="app.public.legal">mentions légales</a>
                        </li>
                        <li>
                            <a ui-sref="app.public.contact">infos pratiques</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
                    <ul class="footer-links-menu">
                        <li>
                            <a href="https://www.facebook.com/labboite/">Facebook</a>
                        </li>
                        <li>
                            <a href="https://twitter.com/labboite">Twitter</a>
                        </li>
                        <li>
                            <a href="https://instagram.com/labboite">Instagram</a>
                        </li>
                        <li>
                            <a href="http://documentation.labboite.fr">Documentation</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer-credit">
                <div>
                    Powered by <a href="https://www.fab-manager.com/"><span class="font-bold">Fab Manager</span></a>
                </div>
            </div>

        </div>
    </div>
</div>