<div class="footer col-md-12 p-n">
    <div class="col-md-10 col-md-offset-1">
        <div class="footer-wrapper">
            <div class="footer-logo">
                <a href="http://www.universiteparisseine.fr/"><img src="/logo_comue.png" alt="Université Paris Seine"/></a>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <ul class="footer-links">
                        <li>
                            <a href="#">à propos</a>
                        </li>
                        <li>
                            <a href="#">mentions légales</a>
                        </li>
                        <li>
                            <a href="#">contacts</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="footer-links">
                        <li>
                            <a href="https://www.facebook.com/labboite/">Facebook</a>
                        </li>
                        <li>
                            <a href="https://twitter.com/labboite">Twitter</a>
                        </li>
                        <li>
                            <a href="https://instagram.com/labboite">Instagram</a>
                        </li>
                        <li>
                            <a href="http://documentation.labboite.fr">Documentation</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="footer-credit col-md-12">
                    Powered by <a href="https://www.fab-manager.com/"><span class="font-bold">Fab Manager</span></a>
                </div>
            </div>
        </div>
    </div>
</div>