<div class="footer">
    <div class="container">
        <div class="col-lg-12">
        
            <div class="footer-logo">
                <div class="footer-logo-item">
                    <a href="https://www.cyu.fr/universite/decouvrir-cyu/nos-ambitions-et-valeurs/nos-projets/campus-international">
                        <img src="img/logo_cycampus.png" alt="CY Campus"/>
                    </a>
                </div>
                <div class="footer-logo-item">
                    <a href="https://www.cyu.fr/cy-alliance">
                        <img src="img/logo_cyalliance.png" alt="CY Alliance"/>
                    </a>
                </div>
                <div class="footer-logo-item">
                    <a href="https://www.cyu.fr/reseau-des-fablabs">
                        <img src="img/logo_cyfablabs.png" alt="Réseau des fablabs CY"/>
                    </a>
                </div>
            </div>
            
            <div class="row footer-links">
                <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                    <ul class="footer-links-menu">
                        <li>
                            <a ui-sref="app.public.about">à propos</a>
                        </li>
                        <li>
                            <a ui-sref="app.public.legal">mentions légales</a>
                        </li>
                        <li>
                            <a ui-sref="app.public.contact">infos pratiques</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                    <ul class="footer-links-menu">
                        <li>
                            <a href="https://www.facebook.com/labboite/" target="_blank">Facebook</a>
                        </li>
                        <li>
                            <a href="https://twitter.com/labboite" target="_blank">Twitter</a>
                        </li>
                        <li>
                            <a href="https://instagram.com/labboite" target="_blank">Instagram</a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/labboite/" target="_blank">LinkedIn</a>
                        </li>
                        <li>
                            <a href="https://documentation.labboite.fr">Plateforme machines</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer-credit">
                <div>
                    Powered by <a href="https://www.fab-manager.com/" target="_blank"><span class="font-bold">Fab Manager</span></a>
                </div>
            </div>

        </div>
    </div>
</div>