<div class="mobile-menu-content">
  <div class="container">
    <div class="col-xs-12 col-sm-12 col-md-hidden col-lg-hidden">

      <div class="header-logo">
        <a ui-sref="app.public.home" ng-click="goabout = false" class="header-logo-img" onClick="hideMobileMenu();">
          <img src="/logo_head.png" alt="Logo de LabBoite"/>
        </a>
        <a id="hamburger" onClick="showMobileMenu();"><span class="close-menu"></span></a>
      </div>

      <!-- COMMON -->
      <ul class="nav-mobile" data-ride="collapse">
        <li class="nav-mobile-link" ng-repeat="navLink in navLinks" >
          <a ng-click="toggleNavSize($event)" ui-sref="{{navLink.state}}" class="link-common" onClick="hideMobileMenu();">
            <span>{{navLink.linkText | translate}}</span>
          </a>
        </li>
        <li class="nav-mobile-link" ng-if-start="!isAuthenticated()">
          <a href="#" class="link-connect" ng-click="signup($event)" onClick="hideMobileMenu();">
            <span translate>{{ 'sign_up' }}</span>
          </a>
        </li>
        <li class="nav-mobile-link" ng-if-end>
          <a href="#" class="link-connect" ng-click="login($event)" onClick="hideMobileMenu();">
            <span translate>{{ 'sign_in' }}</span>
          </a>
        </li>
      </ul>

      <!-- PROFILE -->
      <ul class="nav-mobile nav-mobile-separator" data-ride="collapse" ng-if="isAuthenticated()">
        <li class="nav-mobile-section">
          <span class="nav-mob-profile m-r-xs"></span> <span translate>{{ 'my_profile' }}</span>
        </li>
        <li class="nav-mobile-link">
          <a href="#" class="link-common" ui-sref="app.logged.notifications" onClick="hideMobileMenu();">
            <span translate>{{ 'notifications' }}</span>
          </a>
        </li>
        <li class="nav-mobile-link">
          <a href="#" class="link-common" ui-sref="app.logged.dashboard.settings" onClick="hideMobileMenu();">
            <span translate>{{ 'my_settings' }}</span>
          </a>
        </li>
        <li class="nav-mobile-link">
          <a href="#" class="link-common" ui-sref="app.logged.dashboard.projects" onClick="hideMobileMenu();">
            <span translate>{{ 'my_projects' }}</span>
          </a>
        </li>
        <li class="nav-mobile-link">
          <a href="#" class="link-common" ui-sref="app.logged.dashboard.trainings" onClick="hideMobileMenu();">
            <span translate>{{ 'my_trainings' }}</span>
          </a>
        </li>
        <li class="nav-mobile-link">
          <a href="#" class="link-common" ui-sref="app.logged.dashboard.events" onClick="hideMobileMenu();">
          <span translate>{{ 'my_events' }}</span>
          </a>
        </li>
        <li class="nav-mobile-link">
          <a href="#" class="link-connect" ng-click="logout($event)" onClick="hideMobileMenu();">
            <span translate>{{ 'sign_out' }}</span>
          </a>
        </li>
      </ul>

      <!-- ADMIN -->
      <ul class="nav-mobile nav-mobile-separator" ng-if="isAuthorized('admin')">
        <li class="nav-mobile-section">
          <span class="nav-mob-admin m-r-xs"></span> <span translate>{{ 'admin' }}</span>
        </li>
        <li class="nav-mobile-link" ng-repeat="navLink in adminNavLinks">
          <a ng-click="toggleNavSize($event)" ga ui-sref="{{navLink.state}}" class="link-common" onClick="hideMobileMenu();">
            <span>{{navLink.linkText | translate}}</span>
          </a>
        </li>
      </ul>

    </div>
  </div>
</div>