<section class="container wrapper">
  <div class="col-sx-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">

    <h1 class="txt-orange m-b">Mentions légales</h1>

    <div class="m-b">
        <h3 class="txt-orange m-b-sm">Description du site</h3>
        <p>LabBoîte est un tiers-lieu et fabLab qui fait partie de CY Cergy Paris Université. Ce site rassemble toutes les informations autour des activités de LabBoîte.</p>
        <p>Raison sociale : EPSCP</p>
    </div>

    <div class="m-b">
        <h3 class="txt-orange m-b-sm">Éditeur du site</h3>
        <p>CY Cergy Paris Université<br/>
        33, boulevard du Port<br/>
        95011 Cergy-Pontoise cedex<br/>
        Tel : 01 34 25 60 00</p>
    </div>

    <div class="m-b">
        <h3 class="txt-orange m-b-sm">Directeur de la publication</h3>
        <p>François Germinet<br/>
        Administrateur de CY Cergy Paris Université<br/>
        3 avenue Bernard Hirsch<br/>
        95021 Cergy-Pontoise<br/>
        France<br/>
        presidence@u-cergy.fr</p>
    </div>

    <div class="m-b">
        <h3 class="txt-orange m-b-sm">Hébergement</h3>
        <p>OVH<br/>
        2 rue Kellermann<br/>
        59100 Roubaix<br/>
        France<br/>
    </div>

    <div class="m-b">
        <h3 class="txt-orange m-b-sm">Gestionnaire des statistiques</h3>
        <p>Google Analytics</p>
    </div>

    <div class="m-b">
        <h3 class="txt-orange m-b-sm">Crédits</h3>
        <p>Design : Valentin Socha<br/>
        Développement : Riwad Salim</p>
    </div>
    
  </div>
</section>