<section class="container wrapper">
  <div class="col-sx-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">

    <h1 class="txt-orange m-b">Mentions légales</h1>

    <div class="m-b">
        <h3 class="txt-orange m-b-sm">Description du site</h3>
        <p>LabBoîte est un tiers-lieu et fabLab qui fait partie de CY Cergy Paris Université. Ce site rassemble toutes les informations autour des activités de LabBoîte.</p>
        <p>Raison sociale : EPSCP</p>
    </div>

    <div class="m-b">
        <h3 class="txt-orange m-b-sm">Éditeur du site</h3>
        <p>CY Cergy Paris Université<br/>
        33 boulevard du Port<br/>
        95011 Cergy-Pontoise Cedex<br/>
        France<br/>
        Tel : +33 (0)1 34 25 60 00</p>
    </div>

    <div class="m-b">
        <h3 class="txt-orange m-b-sm">Directeur de la publication</h3>
        <p>François Germinet<br/>
        Administrateur de CY Cergy Paris Université<br/>
        <a href="mailto:presidence@u-cergy.fr">presidence@u-cergy.fr</a></p>
    </div>

    <div class="m-b">
        <h3 class="txt-orange m-b-sm">Hébergement</h3>
        <p>Gandi SAS<br/>
        63-65 boulevard Masséna<br/>
        75013 Paris<br/>
        France<br/>
        Tel : +33 (0)1 70 37 76 61</p>
    </div>

    <div class="m-b">
        <h3 class="txt-orange m-b-sm">Gestionnaire des statistiques</h3>
        <p>Google Analytics</p>
    </div>

    <div class="m-b">
        <h3 class="txt-orange m-b-sm">Crédits</h3>
        <p>Design : Valentin Socha<br/>
        Développement : Riwad Salim</p>
    </div>
    
  </div>
</section>