<section class="container wrapper">
  <div class="col-sx-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">

    <h1 class="txt-orange m-b">Mentions légales</h1>

    <div class="m-b">
        <h3 class="txt-orange m-b-sm">Description du site</h3>
        <p>LabBoîte est un FabLab qui fait partie de l’Université Paris Seine. L’Université Paris Seine est une Communauté d’universités et établissements. Ce site rassemble toutes les informations autour des activités du FabLab.</p>
        <p>Raison sociale : EPSCP</p>
    </div>

    <div class="m-b">
        <h3 class="txt-orange m-b-sm">Éditeur du site</h3>
        <p>Université Paris Seine<br/>
        3 avenue Bernard Hirsch<br/>
        95021 Cergy-Pontoise<br/>
        Tel : 01 34 43 96 98<br/>
        contact@universiteparisseine.fr</p>
    </div>

    <div class="m-b">
        <h3 class="txt-orange m-b-sm">Directeur de la publication</h3>
        <p>François Germinet<br/>
        Administrateur provisoire de l’Université Paris Seine<br/>
        3 avenue Bernard Hirsch<br/>
        95021 Cergy-Pontoise<br/>
        francois.germinet@u-cergy.fr</p>
    </div>

    <div class="m-b">
        <h3 class="txt-orange m-b-sm">Hébergement</h3>
        <p>Gandi<br/>
        15 place de la Nation<br/>
        75011 Paris<br/>
        Tel : 01 43 73 78 51</p>
    </div>

    <div class="m-b">
        <h3 class="txt-orange m-b-sm">Gestionnaire des statistiques</h3>
        <p>Google Analytics</p>
    </div>

    <div class="m-b">
        <h3 class="txt-orange m-b-sm">Crédits</h3>
        <p>Design : Valentin Socha<br/>
        Développement : Riwad Salim</p>
    </div>
    
  </div>
</section>