<!-- TITLE -->
<div class="row m-b">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="member-title">
      <div class="member-title-avatar">
        <fab-user-avatar ng-model="user.profile.user_avatar" avatar-class="thumb-38"></fab-user-avatar>
      </div>
      <div class="member-title-username">
        <h1 class="txt-orange m-b">{{user.username}}</h1>
        <span ng-show="!user.is_allow_contact"><i class="fa fa-lock" aria-hidden="true"></i></span>
      </div>
    </div>
  </div>
</div>


<div class="row">

  <!-- SIDE -->
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="m-b-xl">

      <h3 class="txt-orange m-b-sm">Son profil</h3>

      <!-- Trainings to come -->
      <section class="panel">
        <div class="panel-heading">
          <div class="panel-title">
            <i class="fa fa-graduation-cap m-r-xs"></i>
            <span translate>{{ 'trainings_to_come' }}</span>
          </div>
        </div>
        <div class="panel-content p-l">
          <ul class="list-group" ng-if="user.training_reservations.length > 0">
            <li ng-repeat="r in user.training_reservations | trainingReservationsFilter:'future'">
              {{r.reservable.name}}
            </li>
          </ul>
          <div ng-if="user.training_reservations.length == 0" translate>{{ 'no_trainings' }}</div>
        </div>
      </section>

      <!-- Trainings approved -->
      <section class="panel">
        <div class="panel-heading">
          <div class="panel-title">
            <i class="fa fa-graduation-cap m-r-xs"></i>
            <span translate>{{ 'trainings_approved' }}</span>
          </div>
        </div>
        <div class="panel-content p-l">
          <ul class="list-group" ng-if="user.trainings.length > 0">
            <li ng-repeat="t in user.trainings">
              {{t.name}}
            </li>
          </ul>
          <div ng-if="user.trainings.length == 0" translate>{{ 'no_trainings' }}</div>
        </div>
      </section>

      <!-- Interests -->
      <section class="panel">
        <div class="panel-heading">
          <div class="panel-title">
            <i class="fa fa-heart m-r-xs"></i>
            <span translate>{{ 'interests' }}</span>
          </div>
        </div>
        <div class="panel-content p-l">
          <div>{{user.profile.interest}}</div>
        </div>
      </section>

      <!-- Software skills -->
      <section class="panel">
        <div class="panel-heading">
          <div class="panel-title">
            <i class="fa fa-laptop m-r-xs"></i>
            <span translate>{{ 'CAD_softwares_mastered' }}</span>
          </div>
        </div>
        <div class="panel-content p-l">
          <div>{{user.profile.software_mastered}}</div>
        </div>
      </section>

    </div>
  </div>

  <!-- PROJECTS -->
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    <h3 class="txt-orange m-b-sm">Ses projets</h3>
    <div class="row">
      <div ng-if="user.all_projects.length > 0">
        <a class="col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-repeat="project in user.all_projects" ui-sref="app.public.projects_show({id:project.slug})" style="display: block;">
          <div class="card m-b card-project">
            <div class="card-header" style="background-image: url('/thumbnail_blank.png'); background-size: cover; background-repeat: no-repeat; background-position: center;">
              <div class="card-header-bg-l" style="background-image: url({{project.project_image}});"></div>
            </div>
            <div class="card-body">
              <div class="card-title">{{project.name}}</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div ng-if="user.all_projects.length == 0">
          <span class="txt-neutral" translate>{{ 'no_projects' }}</span>
        </div>
      </div>
    </div>
  </div>

</div>