<div>
  <section class="container wrapper">

    <div class="col-lg-12">

      <!-- BACK -->
      <div class="row m-b">
        <div class="col-lg-12">
          <a class="link-profile m-b" ui-sref="app.admin.members"><i class="fa fa-chevron-left"></i> {{ 'cancel' | translate }}</a>
        </div>
      </div>

      <!-- TITLE -->
      <div class="row m-b">
        <div class="col-lg-12">
          <h1 class="txt-green" translate>{{ 'add_an_administrator' }}</h1>
        </div>
      </div>

      <!-- FORM -->
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
          <form role="form" name="adminForm" class="form-horizontal" novalidate>
            <section class="panel">
              <div class="panel-body p-lg">
                <ng-include src="'<%= asset_path 'shared/_admin_form.html' %>'"></ng-include>
              </div>
              <div class="panel-footer no-padder">
                <input type="submit" value="{{ 'save' | translate}}" class="btn-big btn-block btn-profile btn-medium" ng-click="saveAdmin()" ng-disabled="adminForm.$invalid"/>
              </div>
            </section>
          </form>
        </div>
      </div>

  </section>
</div>