<ul class="nav nav-pills nav-stacked nav-proile">
  <li ui-sref-active="active"><a href="#" ui-sref="app.logged.notifications" translate>{{ 'my_notifications' }}</a></li>
  <li ui-sref-active="active"><a href="#" ui-sref="app.logged.dashboard.settings" translate>{{ 'my_settings' }}</a></li>
  <li ui-sref-active="active"><a href="#" ui-sref="app.logged.dashboard.events" translate>{{ 'my_events' }}</a></li>
  <li ui-sref-active="active"><a href="#" ui-sref="app.logged.dashboard.trainings" translate>{{ 'my_trainings' }}</a></li>
  <li ui-sref-active="active"><a href="#" ui-sref="app.logged.dashboard.projects" translate>{{ 'my_projects' }}</a></li>
</ul>