<section class="container wrapper">
  <div class="col-lg-12">
    <div class="row">

      <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
        <ng-include src="'<%= asset_path 'dashboard/nav.html' %>'"></ng-include>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 min-h">
        <h1 class="txt-green m-b">{{ 'my_projects' | translate }}</h2>

        <div class="m-b">
          <a class="btn-small btn-profile btn-medium" ui-sref="app.logged.projects_new" role="button">
            <i class="fa fa-plus m-r-xs"></i> 
            <span translate>{{ 'add_a_project' }}</span>
          </a>
        </div>

        <!-- No projects registered -->
        <div class="txt-neutral" ng-if="user.all_projects.length == 0" translate>{{ 'you_dont_have_any_projects' }}</div>

        <!-- Project item -->
        <div ng-if="user.all_projects.length > 0">
          <div class="event-item" ng-repeat="project in user.all_projects">
            <div class="event-content">
              <div class="event-icon"><i class="fa fa-cube"></i></div>
              <div class="event-data">
                <span class="event-name"><a class="link-profile" ui-sref="app.public.projects_show({id:project.slug})">{{project.name}}</a></span><br/>
              </div>
            </div>
          </div>
        </div>
          
      </div>

    </div>
  </div>
</section>