<section class="container wrapper">
  <div class="col-lg-12">
    <div class="row">
      
      <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
          <ng-include src="'<%= asset_path 'dashboard/nav.html' %>'"></ng-include>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 min-h">
        <h1 class="txt-green m-b">{{ 'my_trainings' | translate }}</h2>
        
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h5 class="m-b-sm">{{ 'your_approved_trainings' | translate }}</h5>
            <div ng-if="user.trainings.length > 0">
              <div class="event-item" ng-repeat="t in user.trainings">
                  <div class="event-content">
                    <div class="event-icon"><i class="fa fa-graduation-cap"></i></div>
                    <div class="event-data">
                      <span class="event-name">{{t.name}}</span><br/>
                    </div>
                  </div>
              </div>
            </div>
            <div class="event-item" ng-if="user.training_reservations.length == 0" translate>
              {{ 'no_trainings' }}
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h5 class="m-b-sm">{{ 'your_next_trainings' | translate }}</h5>
            <div ng-if="user.training_reservations.length > 0">
              <div class="event-item" ng-repeat="r in user.training_reservations | trainingReservationsFilter:'future'">
                  <div class="event-content">
                    <div class="event-icon"><i class="fa fa-graduation-cap"></i></div>
                    <div class="event-data">
                      <span class="event-name">{{r.reservable.name}}</span><br/>
                      <span class="event-date">{{ r.start_at | amDateFormat:'LLL' }} - {{ r.end_at | amDateFormat:'LT' }}</span>
                    </div>
                  </div>
              </div>
            </div>
            <div class="event-item" ng-if="user.training_reservations.length == 0" translate>
              {{ 'no_trainings' }}
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>