<div>
    <section class="container wrapper">
      
      <div class="col-lg-12">
  
        <!-- TITLE -->
        <div class="row m-b">
          <div class="col-lg-12">
            <h1 class="txt-green" translate>{{ 'manage_abuses.abuses_list' }}</h1>
          </div>
        </div>
  
        <div class="row">
          <div class="col-sm-12 col-md-12">
  
            <!-- ABUSES -->
            <span class="message-default" ng-show="abuses.length === 0" translate>{{ 'manage_abuses.no_reports' }}</span>
            <ul ng-show="abuses.length > 0">
              <li class="abuse" ng-repeat="abuse in abuses">
                <div class="signaled">
                  <a ui-sref="app.public.projects_show({id:abuse.signaled.slug})">{{abuse.signaled.name}}</a>,
                  <span translate>{{ 'manage_abuses.published_by' }}</span>
                  <a ui-sref="app.admin.members_edit({id:abuse.signaled.author.id})">{{abuse.signaled.author.full_name}}</a>,
                  <span translate>{{ 'manage_abuses.at_date' }}</span>
                  <span>{{abuse.signaled.published_at | amDateFormat:'LL' }}</span>
                  <button class="btn btn-success" ng-click="confirmProcess(abuse.id)">
                    <i class="fa fa-check"></i>
                  </button>
                </div>
                <div class="report">
                  <span translate>{{ 'manage_abuses.at_date' }}</span>
                  <span>{{abuse.created_at | amDateFormat:'LL' }}</span>,
                  <a href="mailto:{{abuse.email}}">{{abuse.first_name}} {{abuse.last_name}}</a>
                  <span translate>{{ 'manage_abuses.has_reported' }}</span>
                  <cite>{{ abuse.message }}</cite>
                </div>
              </li>
            </ul>

          </div>
        </div>
      
      </div>
  
    </section>
</div>