<div class="panel m-t-lg">
    <div class="panel-body p-lg">

      <!-- SELECT PRIVACY -->
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
          <div class="settings-item">
            <select class="form-control m-b" ng-options="d.id as d.name for d in privacyDraftsHistory" ng-model="privacyPolicy.version" ng-change="handlePolicyRevisionChange()">
              <option value="" translate>{{ 'settings.privacy.current_policy' }}</option>
            </select>
          </div>
        </div>
      </div>

      <!-- CONTENT -->
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="settings-item">
            <div class="text-justify" ng-model="privacyPolicy.bodyTemp" medium-editor options='{"placeholder": "{{ "settings.input_the_main_content" | translate }}","buttons": ["bold", "italic", "anchor", "header1", "header2" ]}'></div>
            <span class="help-block text-info text-xs"><i class="fa fa-lightbulb-o"></i> {{ 'settings.drag_and_drop_to_insert_images' | translate }}</span>
            <button name="button" class="btn btn-profile btn-small btn-medium" ng-click="savePrivacyPolicy()" translate>{{ 'save' }}</button>
          </div>
        </div>
      </div>

      <!-- REFERENT -->
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
          <div class="settings-item">
            <div ng-model="privacyDpoSetting.value" medium-editor options='{"placeholder": "{{ "settings.privacy.input_the_dpo" | translate }}","buttons": ["bold", "italic", "anchor", "header1", "header2" ]}'></div>
            <span class="help-block text-info text-xs"><i class="fa fa-lightbulb-o"></i> {{ 'settings.shift_enter_to_force_carriage_return' | translate }}</span>
            <button name="button" class="btn btn-profile btn-small btn-medium" ng-click="save(privacyDpoSetting)" translate>{{ 'save' }}</button>
          </div>
        </div>
      </div>

    </div>
</div>
