<!-- PARAMETERS -->
<div class="panel m-t-lg">

    <div class="panel-heading">
        <h3 class="txt-green" translate>{{ 'settings.reservations_parameters' }}</h3>
    </div>

    <div class="panel-body p-lg">
        <div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h4 class="txt-green m-b-sm" translate>{{ 'settings.confine_the_booking_agenda' }}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="settings-item">
                        <div class="settings-label m-b-sm" translate>{{ 'settings.opening_time' }}</div>
                        <uib-timepicker ng-model="windowStart.value" hour-step="timepicker.hstep" minute-step="timepicker.mstep" show-meridian="false"></uib-timepicker>
                        <button name="button" class="btn btn-profile btn-small btn-medium" ng-click="save(windowStart)" translate>{{ 'save' }}</button>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="settings-item">
                        <div class="settings-label m-b-sm" translate>{{ 'settings.closing_time' }}</div>
                        <uib-timepicker ng-model="windowEnd.value" hour-step="timepicker.hstep" minute-step="timepicker.mstep" show-meridian="false"></uib-timepicker>
                        <button name="button" class="btn btn-profile btn-small btn-medium" ng-click="save(windowEnd)" translate>{{ 'save' }}</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h4 class="txt-green m-b-sm" translate>{{ 'settings.max_visibility' }}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="settings-item">
                        <form name="visibilityYearlyForm">
                            <label for="yearlySubscribers" class="settings-label m-b-sm" translate>{{ 'settings.visibility_for_yearly_members' }}</label>
                            <div class="form-group form-medium-green">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="number" class="form-control" id="yearlySubscribers" ng-model="visibilityYearly.value" min="1" required>
                                </div>
                            </div>
                            <button name="button" class="btn btn-profile btn-small btn-medium" ng-click="save(visibilityYearly)" ng-disabled="visibilityYearlyForm.$invalid" translate>{{ 'save' }}</button>
                        </form>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="settings-item">
                        <form name="visibilityOthersForm">
                            <label for="others" class="settings-label m-b-sm" translate>{{ 'settings.visibility_for_other_members' }}</label>
                            <div class="form-group form-medium-green">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="number" class="form-control" id="others" ng-model="visibilityOthers.value" min="1" required>
                                </div>
                            </div>
                            <button name="button" class="btn btn-profile btn-small btn-medium" ng-click="save(visibilityOthers)" ng-disabled="visibilityOthersForm.$invalid" translate>{{ 'save' }}</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h4 class="txt-green m-b-sm" translate>{{ 'settings.ability_for_the_users_to_move_their_reservations' }}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="settings-item">
                        <div class="form-group form-medium-green">
                            <label for="enableMove" class="settings-label m-b-sm" translate>{{ 'settings.reservations_shifting' }}</label>
                            <input bs-switch
                                ng-model="enableMove.value"
                                id="enableMove"
                                type="checkbox"
                                class="form-control"
                                switch-on-text="{{ 'settings.enabled' | translate }}"
                                switch-off-text="{{ 'settings.disabled' | translate }}"
                                switch-animate="true"/>
                            <button name="button" class="btn btn-profile btn-small btn-medium" ng-click="save(enableMove)" translate>{{ 'save' }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="enableMove.value">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="settings-item">
                        <form name="moveDelayForm">
                            <label for="moveDelay" class="settings-label m-b-sm" translate>{{ 'settings.prior_period_hours' }}</label>
                            <div class="form-group form-medium-green">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <input type="number" class="form-control" id="moveDelay" ng-model="moveDelay.value" min="0" ng-required="enableMove.value">
                                </div>
                            </div>
                            <button name="button" class="btn btn-profile btn-small btn-medium" ng-click="save(moveDelay)" ng-disabled="moveDelayForm.$invalid" translate>{{ 'save' }}</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h4 class="txt-green m-b-sm" translate>{{ 'settings.ability_for_the_users_to_cancel_their_reservations' }}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="settings-item">
                        <div class="form-group form-medium-green">
                            <label for="enableCancel" class="settings-label m-b-sm" translate>{{ 'settings.reservations_cancelling' }}</label>
                            <input bs-switch
                                ng-model="enableCancel.value"
                                id="enableCancel"
                                type="checkbox"
                                class="form-control"
                                switch-on-text="{{ 'settings.enabled' | translate }}"
                                switch-off-text="{{ 'settings.disabled' | translate }}"
                                switch-animate="true"/>
                            <button name="button" class="btn btn-profile btn-small btn-medium" ng-click="save(enableCancel)" translate>{{ 'save' }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="enableCancel.value">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="settings-item">
                        <form name="cancelDelayForm">
                            <label for="cancelDelay" class="settings-label m-b-sm" translate>{{ 'settings.prior_period_hours' }}</label>
                            <div class="form-group form-medium-green">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <input type="number" class="form-control" id="cancelDelay" ng-model="cancelDelay.value" min="0" ng-required="enableCancel.value">
                                </div>
                            </div>
                            <button name="button" class="btn btn-profile btn-small btn-medium" ng-click="save(cancelDelay)" ng-disabled="cancelDelayForm.$invalid" translate>{{ 'save' }}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- REMINDERS -->
<div class="panel m-t-lg">

    <div class="panel-heading">
        <h3 class="txt-green" translate>{{ 'settings.reservations_reminders' }}</h3>
    </div>
    
    <div class="panel-body p-lg">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h4 class="txt-green m-b-sm" translate>{{ 'settings.notification_sending_before_the_reservation_occurs' }}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="settings-item">
                    <div class="form-group">
                        <label for="enableReminder" class="settings-label m-b-sm" translate>{{ 'settings.reservations_reminders' }}</label>
                        <input bs-switch
                            ng-model="enableReminder.value"
                            id="enableReminder"
                            type="checkbox"
                            class="form-control"
                            switch-on-text="{{ 'settings.enabled' | translate }}"
                            switch-off-text="{{ 'settings.disabled' | translate }}"
                            switch-animate="true"/>
                        <button name="button" class="btn btn-profile btn-small btn-medium" ng-click="save(enableReminder)" translate>{{ 'save' }}</button>
                    </div>
                </div>
            </div> 
        </div>
        <div class="row" ng-show="enableReminder.value">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="settings-item">
                    <form name="reminderDelayForm">
                        <label for="reminderDelay" class="settings-label m-b-sm" translate>{{ 'settings.prior_period_hours' }}</label>
                        <div class="form-group form-medium-green">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                                <input type="number" class="form-control" id="reminderDelay" ng-model="reminderDelay.value" min="0">
                            </div>
                            <span class="help-block text-info text-xs">
                                <i class="fa fa-lightbulb-o"></i> {{ 'settings.default_value_is_24_hours' | translate }}
                            </span>
                        </div>
                        <button name="button" class="btn btn-profile btn-small btn-medium" ng-click="save(reminderDelay)" ng-disabled="reminderDelayForm.$invalid" translate>{{ 'save' }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CONFIDENTIALITY -->
<div class="panel m-t-lg">

    <div class="panel-heading">
        <h3 class="txt-green" translate>{{ 'settings.confidentiality' }}</h3>
    </div>

    <div class="panel-body p-lg">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="settings-item">
                    <div class="settings-label m-b-sm" translate>{{ 'settings.display_machine_reservation_user_name' }}</div>
                    <div class="form-group">
                        <label for="displayNameEnable" class="control-label m-r" translate>{{ 'settings.display_name' }}</label>
                        <input bs-switch
                            ng-model="displayNameEnable.value"
                            id="displayNameEnable"
                            type="checkbox"
                            class="form-control"
                            switch-on-text="{{ 'settings.enabled' | translate }}"
                            switch-off-text="{{ 'settings.disabled' | translate }}"
                            switch-animate="true"/>
                        <button name="button" class="btn btn-profile btn-small btn-medium" ng-click="save(displayNameEnable)" translate>{{ 'save' }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
