.cookies-consent {
  display: flex;
  flex-direction: column;
  width: 100vw;
  bottom: 0;
  padding-top: 20px;
  padding-bottom: 30px;
  z-index: 100;
  position: fixed;
  background-color: rgba(20,20,20,.95);
  text-align: left;

  .cookies-title {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: normal;
    color: #FFFFFF;
  }

  .cookies-infos {
    font-size: 15px;
    font-weight: 400;
    color: #FFFFFF;
  }

  .cookies-actions {
    button.decline {
      background-color: #3f3f3f;
      color: #9b9b9b;
      border: 0;
      padding: 7px 10px;
      font-size: 14px;
      font-weight: 600;
    }
    
    button.decline:hover {
      background-color: #393939;
      color: #9b9b9b;
    }
    
    button.decline:focus, button.decline:active {
      background-color: #323232;
      color: #9b9b9b;
    }

    button.accept {
      background-color: #E1580A;
      color: #FFFFFF;
      border: 0;
      padding: 7px 10px;
      font-size: 14px;
      font-weight: 600;
    }
    
    button.accept:hover {
      background-color: #CA4F09;
      color: #FFFFFF;
    }
    
    button.accept:focus, button.accept:active {
      background-color: #9D3D07;
      color: #FFFFFF;
    }
  }
}
