<!-- FILTER -->
<div class="row m-b m-t-lg">
  <div class="col-md-5">
    <div class="form-group form-light-green">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-filter"></i></span>
        <select ng-model="filter.coupon" class="form-control" ng-change="updateCouponFilter()">
          <option ng-repeat="status in couponStatus" value="{{status}}" translate>{{ 'pricing.'+status }}</option>
        </select>
      </div>
    </div>
  </div>
</div>

<!-- ACTIONS -->
<div class="row m-b">
  <div class="col-md-12">
    <button type="button" class="btn btn-profile btn-small btn-medium" ui-sref="app.admin.coupons_new">
      <i class="fa fa-plus m-r"></i>
      <span translate>{{ 'pricing.add_a_new_coupon' }}</span>
    </button>
  </div>
</div>

<!-- TABLE -->
<div class="row m-b">
  <div class="col-md-12">
    <table class="table table-profile">
      <thead>
        <tr>
          <th translate>{{ 'pricing.name' }}</th>
          <th translate>{{ 'pricing.discount' }}</th>
          <th translate>{{ 'pricing.nb_of_usages' }}</th>
          <th translate>{{ 'pricing.status' }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="coupon in coupons">
          <td>{{coupon.name}}</td>
          <td>
            <span ng-show="coupon.type == 'percent_off'">{{coupon.percent_off}} %</span>
            <span ng-show="coupon.type == 'amount_off'">{{coupon.amount_off}} {{currencySymbol}}</span>
          </td>
          <td>{{coupon.usages}}</td>
          <td translate>{{'pricing.'+coupon.status}}</td>
          <td>
            <button type="button" class="btn btn-profile btn-small btn-ultralight" ng-click="sendCouponToUser(coupon)">
              <i class="fa fa-send-o"></i> 
            </button>
            <button type="button" class="btn btn-profile btn-small btn-ultralight" ui-sref="app.admin.coupons_edit({id:coupon.id})">
              <i class="fa fa-pencil-square-o"></i>
            </button>
            <button type="button" class="btn btn-small btn-danger" ng-click="deleteCoupon(coupons, coupon.id)">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> 

<div class="text-center">
  <button class="btn-small btn-profile btn-light" ng-click="loadMore()" ng-hide="coupons.length === 0 || coupons.length >= coupons[0].total">
    <i class="fa fa-search-plus" aria-hidden="true"></i> 
    {{ 'pricing.display_more_coupons' | translate }}
  </button>
</div>
