<div class="modal-header">
  <h1 translate class="txt-orange" translate>{{ 'pricing.send_a_coupon' }}</h1>
</div>
<div class="modal-body">
  <select-member></select-member>
  <div class="panel">
    <div class="panel-heading">
      <div class="panel-title" translate>{{ 'pricing.coupon' }}</div>
    </div>
    <div class="panel-body">
      <table>
        <thead>
        <tr><th style="width:60%"></th></tr>
        </thead>
        <tbody>
        <tr><td translate>{{'pricing.code'}}</td>               <td>{{coupon.code}}</td></tr>
        <tr><td translate>{{'pricing.discount'}}</td>           <td><span ng-show="coupon.type == 'percent_off'">{{coupon.percent_off}} %</span><span ng-show="coupon.type == 'amount_off'">{{coupon.amount_off}} {{currencySymbol}}</span></td></tr>
        <tr><td translate>{{'pricing.validity_per_user'}}</td>  <td translate>{{'pricing.'+coupon.validity_per_user}}</td></tr>
        <tr><td translate>{{'pricing.valid_until'}}</td>        <td>{{coupon.valid_until | amDateFormat:'L'}}</td></tr>
        <tr><td translate>{{'pricing.usages'}}</td>             <td>{{coupon.usages}} / {{coupon.max_usages | maxCount}}</td></tr>
        <tr><td translate>{{'pricing.enabled'}}</td>            <td>{{coupon.active | booleanFormat}}</td></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-public btn-small btn-medium" ng-click="ok()" ng-disabled="ctrl.member == null" translate>{{ 'confirm' }}</button>
  <button class="btn btn-public btn-small btn-ultralight" ng-click="cancel()" translate>{{ 'cancel' }}</button>
</div>