<section class="container wrapper">
  <div class="col-lg-12">
    <div class="row">
      
      <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
          <ng-include src="'<%= asset_path 'dashboard/nav.html' %>'"></ng-include>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <section>
          <h1 class="txt-green m-b-sm" translate>{{ 'notifications_center' }}</h1>
          <button type="button" class="btn-small btn-profile btn-light m-b" ng-click="markAllAsRead()" ng-disabled="totalUnread == 0">{{ 'mark_all_as_read' | translate }} ({{totalUnread}})</button>
          
          <div ng-if="notificationsUnread.length > 0">
            <div class="event-item" ng-repeat="notification in notificationsUnread">
              <div class="event-content">
                <div class="event-icon">
                  <button class="btn-small btn-profile btn-medium" ng-click="markAsRead(notification, $event)">
                    <i class="fa fa-check"></i>
                  </button>
                </div>
                <div class="event-data">
                  <span class="event-name" ng-bind-html="notification.message.description"></span><br/>
                  <span class="event-date">{{ notification.created_at | amDateFormat:'LLL' }}</span><br/>
                </div>
              </div>
            </div>
          </div>
          <div class="event-item" ng-if="notificationsUnread.length == 0" translate>
            {{ 'no_new_notifications' }}
          </div>
        </section>

        <section class="wrapper">
          <div ng-hide="notificationsRead.length == 0 && notificationsUnread.length < total">
            <h5 class="m-b-sm" translate>{{ 'archives' }}</h5>
            <div class="event-item read" ng-repeat="n in notificationsRead | orderBy:'created_at':true" ng-if="notificationsRead.length > 0">
              <div class="event-content">
                <div class="event-data">
                  <span class="event-name" ng-bind-html="n.message.description"></span><br/>
                  <span class="event-date">{{ n.created_at | amDateFormat:'LLL' }}</span><br/>
                </div>
              </div>
            </div>
          </div>
          <div class="event-item" ng-if="notificationsRead.length == 0" translate>
            {{ 'no_archived_notifications' }}
          </div>
    
          <a class="btn-small btn-profile btn-light" ng-click="addMoreNotifications()" ng-if="paginateActive" translate>{{ 'load_the_next_notifications' }}</a>
    
          </div>
        </section>

      </div>

    </div>
  </div>
</section>