<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LabBoîte - Abonnement confirmé</title>
    <link rel="shortcut icon" type="TYPE_MIME" href="../../img/favicon.ico">
    <style type="text/css">
      .container {
        font-family: "Open Sans", Arial, sans-serif;
        font-weight: 400;
        text-align: center;
        max-width: 540px;
        border: 3px solid #e1580b;
        padding-top: 30px;
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 30px;
        direction: ltr;
        margin-left: auto;
        margin-right: auto;
        background-color: #FFFFFF;
        margin-top: 32px;
        margin-bottom: 32px;
      }
      .img {
        width: 400px;
        height: 105px;
        max-width: 100%;
        padding-bottom: 18px;
        margin-top: 0px;
        padding-top: 18px;
      }
      h2 {
        font-family: "Open Sans", Arial, sans-serif;
        font-size: 24px;
        font-weight: 700;
        color: #E1580A;
      }
      .text {
        text-align: left;
        color:#3c4858;
        padding-top: 10px;
        padding-bottom: 50px;
      }
      .button {
        display: block;
        text-shadow: 0px 0px;
        background-color: #E1580A;
        color: #FFFFFF;
        padding-top: 15px;
        padding-bottom: 15px;
        font-weight: 700;
        margin-left: auto;
        margin-right: auto;
        border-style: none;
        cursor: pointer;
        text-decoration: none;
      }
    </style>
  </head>

  <body style="background-color: #f9f9f9;">
    <div class="container">
      <div><img src="https://img.mailinblue.com/5831146/images/content_library/original/6580324d78532a9d9d15c0b5.png" alt="LabBoîte aux lettres, la newsletter" class="img" title="LabBoîte aux lettres, la newsletter"></div>
      <div><h2>Abonnement confirmé</h2></div>
      <div class="text">
        <p>Votre abonnement à la newsletter est confirmé ! Vous recevrez bientôt de nos nouvelles.</p>
        <p>Merci de votre intérêt pour la newsletter.</p>
      </div>
      <div><a href="/" class="button">RETOURNER À L'ACCUEIL</a></div>
    </div>
  </body>
</html>