// XS Small devices (landscape phones, 767px and under)
@media (max-width: 767px) {
	.container {
		width: 92%;
		margin-left: auto;
		margin-right: auto;
		padding: 0;
	}

	.wrapper{
		padding-top: 50px;
	}

	.hero-claim {
		font-size: 28px;
	}
}

// SM Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
	.container {
		width: 92%;
		margin-left: auto;
		margin-right: auto;
		padding: 0;
	}

	.wrapper{
		padding-top: 50px;
	}

	.hero-claim {
		font-size: 32px;
	}
}

// MD Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
	.container {
		width: 92%;
		margin-left: auto;
		margin-right: auto;
		padding: 0;
	}

	.wrapper{
		padding-top: 60px;
	}

	.hero-claim {
		font-size: 35px;
	}
}

// LG Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	.container {
		width: 88%;
		margin-left: auto;
		margin-right: auto;
		padding: 0;
	}

	.wrapper{
		padding-top: 60px;
	}

	.hero-claim {
		font-size: 40px;
	}
}


/*-- HEADER --*/

.header-public {
	width: 100%;
	background-color: #f9f9f9;
}

.header-logo {
	display: flex;
    flex-direction: row;
}

.notification-open {
  a {
    position: relative;
    .badge {
      position: absolute;
      top: 40px; right: 12px;
    }
    .menu-badge {
      position: absolute;
      top: 0; right: 0;
      padding: 2px 4px 1px 3px;
      border: 2px solid white;
    }
  }
  .fa { color: #777777; font-size: rem-calc(24); }
}

.user-profile-nav {
  .fa { color: #777777; font-size: rem-calc(24); }
}



/*-- FOOTER --*/

.footer {
	width: 100%;
	margin-top: 90px;
	padding-top: 30px;
	padding-bottom: 60px;
	background: #E1580A;
	color: #FFFFFF;
	.footer-logo {
		margin-bottom: 30px;
		display: flex;
		flex-direction: row;
		.footer-logo-item {
			margin-right: 20px;
			img {
				height: 45px;
			}
		}
	}
	.footer-links-title {
		font-weight: 800;
	}
	.footer-links {
		margin-bottom: 30px;
		ul {
			font-weight: 600;
			font-size: 12px;
			padding: 0;
			li {
				list-style: none;
			}
			a {
				color: #FFFFFF;
			}
			a:hover {
				color: #000;
			}
		}
	}
	.footer-credit {
		width: 100%;
		font-size: 8pt;
		a {
			color: #FFFFFF;
		}
		a:hover {
			color: #000;
		}
	}
}



/*-- ICONS --*/

.nav-desk-profile, .nav-desk-admin, .nav-mob-profile, .nav-mob-admin, .open-menu, .close-menu {
	display: inline-block;
	background-image: url("icons_nav.svg");
	background-size: 150px 150px;
	background-repeat: no-repeat;
}

.nav-desk-profile {
	width: 30px;
	height: 20px;
	background-position: -0px -0px;
}

.nav-desk-profile:hover {
	background-position: -0px -25px; 
}

.nav-desk-admin {
	width: 28px;
	height: 20px;
	background-position: -35px -0px;
}

.nav-desk-admin:hover {
	background-position: -35px -25px; 
}

.nav-mob-profile {
	width: 25px;
	height: 25px;
	background-position: -0px -50px;
}

.nav-mob-admin {
	width: 20px;
	height: 25px;
	background-position: -30px -50px;
}

.open-menu {
	width: 30px;
	height: 30px;
	margin-top: 5px;
	background-position: -70px -0px;
}

.close-menu {
	width: 30px;
	height: 30px;
	margin-top: 5px;
	background-position: -105px -0px;
}


.social-facebook, .social-linkedin, .social-instagram, .social-youtube {
	display: inline-block;
	background-image: url("icons_social.svg");
	background-size: 160px 80px;
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
}

.social-facebook {
	background-position: -0px -0px; 
}

.social-linkedin {
	background-position: -40px -0px; 
}

.social-instagram {
	background-position: -80px -0px; 
}

.social-youtube {
	background-position: -120px -0px; 
}

.social-facebook:hover {
	background-position: -0px -40px; 
}

.social-linkedin:hover {
	background-position: -40px -40px; 
}

.social-instagram:hover {
	background-position: -80px -40px; 
}

.social-youtube:hover {
	background-position: -120px -40px; 
}

/*layout*/
.header,
.footer{
	min-height: 50px;
	> p{
		margin-top: 15px;
		display: inline-block;
	}
	> .btn,
	> .btn-group,
	> .btn-toolbar
	{
		margin-top: 14px;
	}
	> .btn-lg{
		margin-top: 0;
	}
	.nav-tabs {
		border: none;
		margin-left: -15px;
		margin-right: -15px;
		margin-bottom: 30px;
		> li {
			a{
				border: none !important;
				border-radius: 0;
				padding-top: 15px;
				padding-bottom: 15px;
				line-height: 20px;
				&:hover,
				&:focus
				{
					background-color: transparent;
				}
			}
			&.active a{
				color: $text-color;
				&,
				&:hover{
					background-color: $body-bg;
				}
			}
		}
		&.nav-white{
			> li.active a{
				&,
				&:hover{
					background-color: #fff;
				}
			}
		}
	}
	&.navbar{
		border-radius: 0;
		border: none;
		margin-bottom: 0;
		padding:0;
		position: relative !important;
	}
}



.heading {

	.heading-btn {
		a {
			width: 100%;
			padding: 35px 40%;
			display: inline-block;
			cursor: pointer;
			color: black;
			&:hover {
				//background-color: $yellow;
			}
			i:before { content: "\f177"; }
		}
	}
  .heading-icon {
    width: 100%;
    padding: 35px 40%;
    display: inline-block;
    color: black;
  }
	.heading-title {
		//overflow: hidden;
		height: 94px;
		h1 {
		  margin: 0 0 0 15px;
		  padding: 36px 15px;
		}
	}
	.heading-actions {
		height: 94px;
		text-align: center;
	}
}

/*-- Display pages --*/

.hero-global {
	display: flex;
	text-align: left;
	flex-direction: column;
	justify-content: flex-end;
	background: #CCCCCC;
	height: 400px;
}

.hero-content {
	margin-bottom: 45px;
}

.hero-claim {
	margin-bottom: 30px;
	font-weight: normal;
	line-height: 115%;
	color: #FFFFFF;
}

.hero-global-poster {
	width: 100vw;
	height: 400px;
}

.poster {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-bottom: 30px;
	background: #CCCCCC;
	height: 400px;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	transition: all 0.3s;

	.poster-title {
		font-size: 18px;
		line-height: 130%;
	}

	.poster-title-txt {
		padding: 13px 15px;
		background: #CC4F00;
		color: #FFFFFF;
		font-weight: 400;
	}

	.poster-title-bold {
		font-weight: 800;
	}

	.poster-title-cta {
		padding: 10px 15px;
		background: #E1580A;
		width: 100%;
		color: #FFFFFF;
		font-weight: 800;
		text-transform: uppercase;
		text-align: center;
		font-size: 13px;
	}
}

.poster:hover {
	transform: scale(1.03);
	-webkit-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.15);
}

.thumb-zoom {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	transition: all 0.3s;
}

.thumb-zoom:hover {
	transform: scale(1.03);
	-webkit-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.15);
}

.news-alert {
	background: #FCEEE6;
}

.news-alert p, .news-alert ul { 
	color: #E1580A;
}

.news-alert-head {
	width: 100%;
    box-sizing: border-box;
    color: #E1580A;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
	padding: 10px 5px;
	border-bottom: solid 1px #f6cdb5;
}

.news-alert-body {
	box-sizing: border-box;
    color: #E1580A;
	padding: 15px;
}

.newsletter {
	background: #F6F6F6;
	padding: 20px;
}

.newsletter-text {
	text-align: left;
}

.newsletter-text-bold {
	font-weight: 700;
	color: #E1580A;
}

.newsletter-text-normal {
	font-weight: 600;
	color: #777777;
}

.newsletter-text-cta {
	margin-top: 15px;
}

.tips-item {
	background: #F6F6F6;
	padding: 20px;
	display: flex;
	flex-direction: row;
}

.tips-icon {
	margin-right: 20px;
}

.tips-icon img {
	height: 40px;
	weight: 40px;
}

.tips-text {
	font-weight: 400;
	color: #777777;
}

.tips-text a, .tips-text a:visited {
	border-bottom: 1px solid #E1580A;
	padding-bottom: 1px;
}

.tips-text a:hover, .tips-text a:focus {
	border: none;
}

.tips-text-bold {
	font-weight: 600;
}

.tips-text-cta {
	margin-top: 15px;
}



/*-- Contact --*/

.contact-infos {
	background: #f9f9f9;
}

.contact-adress, .contact-opening {
	padding: 30px;
}

.contact-adress-title {
	font-weight: 900;
	font-size: 11px;
	letter-spacing: normal;
	color: #777777;
	text-transform: uppercase;
}

.contact-adress-content {
	font-weight: 400;
	font-size: 15px;
	letter-spacing: normal;
	color: #777777;
}

.contact-opening-title {
	font-weight: 600;
	font-size: 15px;
	letter-spacing: normal;
	color: #E1580A;
}

.contact-opening-content {
	font-weight: 400;
	font-size: 15px;
	letter-spacing: normal;
	color: #777777;
}

.contact-map {
	background: #CCCCCC;
	width: 100%;
	height: 450px;
}

.contact-team-photo {
	width: 100%;
}

.contact-team-name {
	font-weight: 600;
	font-size: 17px;
	letter-spacing: normal;
	color: #E1580A;
}

.contact-team-role {
	font-weight: 400;
	font-size: 15px;
	letter-spacing: normal;
	color: #E1580A;
}

.contact-team-mail {
	font-weight: 400;
	font-size: 15px;
	letter-spacing: normal;
}



.aside-md{
	width: 250px;
}

@media (min-width: 768px) {
	.app{
		&,
		body{
			height:100%;
		}
		.hbox{
			&.stretch{
				height:100%;
			}
		}
		.vbox{
			&.flex{
				> section{
					> section{
						overflow: auto;
					}
				}
			}
		}
	}

	.hbox{
		display: table;
		table-layout: fixed;
		border-spacing: 0;
		width: 100%;
		> aside,
		> section{
			display: table-cell;
			vertical-align: top;
			height: 100%;
			float: none;
			&.show,
			&.hidden-sm	{
				display: table-cell !important;
			}
		}
	}

	.vbox{
		display: table;
		border-spacing:0;
		position: relative;
		height: 100%;
		width: 100%;
		> section,
		> footer {
			top: 0;
			bottom: 0;
			width: 100%;
		}
		> header{
			~ section {
				top: 50px;
			}
			&.header-md{
				~ section {
					top: $header-md-height+2;
				}
			}
		}
		> section{
			&.w-f{
				bottom: 50px;
			}
		}
		> footer {
			top: auto;
			z-index: 100;
			~ section {
				bottom: 50px;
			}
		}
		&.flex{
			> header,
			> section,
			> footer {
				position: inherit;
			}
			> section{
				display: table-row;
				height: 100%;
				> section {
					position: relative;
					height: 100%;
					-webkit-overflow-scrolling:touch;
					.ie & {
						display: table-cell;
					}
					> section {
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
					}
				}
			}
		}
	}

	.aside-xs{
		width: 60px;
	}
	.aside-sm{
		width: 150px;
	}
	.aside{
		width: 200px;
	}
	.aside-md{
		width: 250px;
	}
	.aside-lg{
		width: 300px;
	}
	.aside-xl{
		width: 360px;
	}
	.aside-xxl{
		width: 480px;
	}

	.header-md{
		.navbar-form{
			margin-top: floor( ($header-md-height - 30)/2 );
			margin-bottom: floor( ($header-md-height - 30)/2 );
		}
	}

	.scrollable{
		-webkit-overflow-scrolling:touch;
	}

	::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	}
	::-webkit-scrollbar-thumb {
		background-color:rgba(50,50,50,0.25);
		border: 2px solid transparent;
		border-radius: 10px;
		background-clip: padding-box;
	}
	::-webkit-scrollbar-thumb:hover{
		background-color:rgba(50,50,50,0.5);
	}
	::-webkit-scrollbar-track {
		background-color:rgba(50,50,50,0.05);
	}
}

.scrollable{
	overflow-x: hidden;
	overflow-y: auto;
}

.no-touch {
	.scrollable.hover {
		overflow-y: hidden;
		&:hover
		{
			overflow: visible;
			overflow-y: auto;
		}
	}
	::-webkit-scrollbar-button {
		width: 10px;
		height: 6px;
		background-color:rgba(50,50,50,0.05);
	}
}

.slimScrollBar{
	border-radius: 5px;
	border: 2px solid transparent;
	border-radius: 10px;
	background-clip: padding-box !important;
}


@media print {
  html, body, .hbox, .vbox{
    height: auto;
  }
  .vbox{
		> section,
		> footer{
			position: relative;
		}
	}
}



.datepicker-container {
  position: relative;
  z-index: 100;
}

.datepicker-dropdown {
  border: 1px solid #c7c5c5;
  border-radius: 0.3em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  position: absolute;
  right:0;
  left: 0;
  background-color: #ffffff;

  li {
    padding-left: 0.8em;
    padding-right: 0.8em;
    margin-bottom: 1em;
    line-height: 2.4em;
    vertical-align: middle;

    div.input-group {
      float:right;

      ul.dropdown-menu {
        left: -5em !important;
      }
    }
  }
}

.customMenuButton {
  min-width: 15em;
  max-width: 15em;
  overflow-x: hidden;
}

.customMenuInput {
  width:100% !important;
}


.reservations-locked {
  background-color: #f5f5f5;
}

.reservation-canceled {
  color: #E0E0E0;

  &:before {
    content: "Annulée";
    display: block;
    background-color: #D82A21;
    padding: 15px;
	text-align: center;
	width: 100%;
    color: #FFFFFF;
    margin-bottom: 15px;
  }

}

.custom-logo-container {
  max-width: 240px;
  height: 100%;

  .custom-logo {
    height: 100px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px dashed #c4c4c4;
    border-radius: 10px;
    padding: 15px;
	margin-bottom: 15px;

    img {
      display: block;
      width: auto;
      max-height: 44px;
      max-width: 100%;
      margin:auto;
    }

    &:hover .tools-box {
      opacity: 1;
    }

    .tools-box {
      opacity: 0;
      position: absolute;
      bottom: 10px;
      left: 0;
      right: 0;
      text-align: center;
    }
  }

  .bg-dark {
    background-color: #000;
    opacity: 0.9;
  }
}

.custom-favicon-container {
  max-width: 70px;
  height: 100%;

  .custom-favicon {
    height: 100px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px dashed #c4c4c4;
    border-radius: 10px;
    padding: 15px;
	margin-bottom: 15px;

    img {
      display: block;
      width: auto;
      max-height: 16px;
      max-width: 16px;
      margin:auto;
    }

    &:hover .tools-box {
      opacity: 1;
    }

    .tools-box {
      opacity: 0;
      position: absolute;
      bottom: -7px;
      left: 51px;
      right: 0;
      text-align: center;
    }
  }
}

.custom-profile-image-container {
  max-width: 100%;
  height: 100%;

  .custom-profile-image {
    height: 240px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px dashed #c4c4c4;
    border-radius: 10px;
    padding: 15px;
	margin-bottom: 15px;

    img {
      display: block;
      width: auto;
      max-height: 185px;
      max-width: 100%;
      margin:auto;
    }

    &:hover .tools-box {
      opacity: 1;
    }

    .tools-box {
      opacity: 0;
      position: absolute;
      bottom: 10px;
      left: 0;
      right: 0;
      text-align: center;
    }
  }

  .bg-dark {
    background-color: #000;
    opacity: 0.9;
  }
}

.flash-message {
  position: absolute;
  top: 1%;
  z-index: 1001;
  width: 33%;
  left: 33%;
}

// profile edition -- add a social network buttons
.social-icons {
  & > div {
    cursor: pointer;
    padding: 0.2em;
    width: 3em;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid $border-color;
    }
  }
}

// public profile view
.profile-top {
  background-size: cover !important;

  .profile-top-infos {
    padding: 30px 15px 30px 15px;


    .private-profile {
      color: #000;
      border: 1px solid $border-color;
      background-color: $border-color;
      border-radius: 3px;
      padding: 0 5px 0 5px;
      margin-left: 2em;

      i {
        padding-right: 5px;
      }
    }
  }

  .profile-top-pictos {
    padding: 43px 15px 15px 15px;
    text-align: center;


    .avatar {
      display: inline-block;
      width: 140px;
      img {
        border: 9px solid #fff;
        background-color: #fff;
        box-shadow: 1px 2px 2px 0 #1f1f1f;
      }
    }

    .social-links {
      width: 133px;
      display: inline-block;
      text-align: left;

      a {
        border: 1px solid #fff;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        background-color: #fff;
        cursor: pointer;
        color: $input-color;
        margin-bottom: 5px;

        i { vertical-align: middle; }
      }
    }

    .links-center {
      text-align: center !important;
    }
  }
}

.bio-title {
  display: inherit;
  text-align: center;
  height: 50px;
}

.calendar-filter {
  h3 {
    line-height: 2.1rem !important;
  }
}

.calendar-filter-aside {
  padding: 20px;
}

.home-events {
  .event-description {
    overflow: hidden;
  }
}

.disabled-line {
  color: $gray;
  background-color: $gray-lighter;

  & td:first-child:before {
    font-family: 'fontawesome' !important;
    content: '\f070';
    position: absolute;
    left: -4px;
  }
}