.btn-block {
  display: block;
  width: 100%;
}


.btn-default {
  padding: 15px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 800;
  border: none;
  cursor: pointer;
}

.btn-small {
  padding: 7px 10px;
  font-size: 15px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.btn-big {
  padding: 30px;
  font-size: 20px;
  font-weight: 800;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}


.btn-public.btn-medium {
  background-color: #E1580A;
  color: #FFFFFF;
}

.btn-public.btn-medium:hover {
  background-color: #CA4F09;
  color: #FFFFFF;
}

.btn-public.btn-medium:focus, .btn-public.btn-medium:active {
  background-color: #9D3D07;
  color: #FFFFFF;
}

.btn-public.btn-light {
  background-color: #FCEEE6;
  color: #E1580A;
}

.btn-public.btn-light:hover {
  background-color: #F9DECE;
  color: #E1580A;
}

.btn-public.btn-light:focus, .btn-public.btn-light:active {
  background-color: #F6CDB5;
  color: #E1580A;
}

.btn-public.btn-ultralight {
  background-color: #f9f9f9;
  color: #777777;
}

.btn-public.btn-ultralight:hover {
  background-color: #f9f9f9;
  color: #E1580A;
}

.btn-public.btn-ultralight:focus, .btn-public.btn-ultralight:active {
  background-color: #f9f9f9;
  color: #E1580A;
}



.btn-profile.btn-medium {
  background-color: #58BAAB;
  color: #FFFFFF;
}

.btn-profile.btn-medium:hover {
  background-color: #4FA79A;
  color: #FFFFFF;
}

.btn-profile.btn-medium:focus, .btn-profile.btn-medium:active {
  background-color: #3D8277;
  color: #FFFFFF;
}

.btn-profile.btn-light {
  background-color: #EEF8F6;
  color: #58BAAB;
}

.btn-profile.btn-light:hover {
  background-color: #DEF1EE;
  color: #58BAAB;
}

.btn-profile.btn-light:focus, .btn-profile.btn-light:active {
  background-color: #CDEAE6;
  color: #58BAAB;
}

.btn-profile.btn-ultralight {
  background-color: #f9f9f9;
  color: #777777;
}

.btn-profile.btn-ultralight:hover {
  background-color: #f9f9f9;
  color: #58BAAB;
}

.btn-profile.btn-ultralight:focus, .btn-profile.btn-ultralight:active {
  background-color: #f9f9f9;
  color: #58BAAB;
}


.btn-public.btn-light {
  background-color: #FCEEE6;
  color: #E1580A;
}

.btn-neutral.btn-light {
  background-color: #FFFFFF;
  color: #777777;
}

.btn-neutral.btn-light:hover {
  background-color: #FFFFFF;
  color: #777777;
}

.btn-neutral.btn-light:focus, .btn-neutral.btn-light:active {
  background-color: #FFFFFF;
  color: #777777;
}

.btn-neutral.btn-medium {
  background-color: #f9f9f9;
  color: #777777;
}

.btn-neutral.btn-medium:hover {
  background-color: #f9f9f9;
  color: #E1580A;
}

.btn-neutral.btn-medium:focus, .btn-neutral.btn-medium:active {
  background-color: #f9f9f9;
  color: #E1580A;
}


.btn{
	> i{
		&.pull-left,
		&.pull-right{
			line-height: 1.428571429;
		}
	}
}

.btn-warning-full {
	outline: 0;
	text-transform: uppercase;
	//border: 3px solid $yellow;
	//background-color: $yellow;
	&:hover {
		background-color: white;
	}
}

.btn-facebook {
  border: 1px solid #8b9dc3;
  background-color: #3b5998;
  color: white;

  &:hover {
    border: 1px solid #7d8fb4;
    background-color: #394c89;
    color: white;
  }
}

.btn-twitter {
  border: 1px solid #ccd6dd;
  background-color: #55acee;
  color: white;

  &:hover {
    border: 1px solid #bdc7ce;
    background-color: #539fdf;
    color: white;
  }
}


.btn-block {
	padding-left: 12px;
	padding-right: 12px;
}

.btn-group-vertical > .btn:first-child:not(:last-child){
	border-top-right-radius: $border-radius-base;
}

.btn-group-vertical > .btn:last-child:not(:first-child){
	border-bottom-left-radius: $border-radius-base;
}

.btn-inactive{
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.btn-loading:after {
  margin-left: 1em;
  display: inline-block;
  content: "\f110";
  font-family: FontAwesome;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

.btn-no-overflow {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
