// XS Small devices (landscape phones, 767px and under)
@media (max-width: 767px) {
	.article {
    	margin-bottom: 50px;
	}
	  
	.contact-adress {
		border-top: none;
		border-bottom: solid 1px #EAEAEA;
		border-left: none;
		border-right: none;
	}

	.modal-dialog { top: 90px; }
	.modal-header {
		.modal-logo {
		display: none;
		}
	}

	.about-fablab {
		.about-title {
			font-size: rem-calc(30);
			line-height: rem-calc(28);
			text-align: center;
		}
		.about-picture {
		padding: 70px 0;
		height: 226px;
		}
	}

	// fix for full-calendar display on small devices
	.fc-toolbar {
		margin-bottom: 2.5em !important;
	}

	.newsletter-content {
		display: flex;
		flex-direction: column;
	}

	.newsletter-icon {
		margin-bottom: 15px;
		margin-right: 0;
	}

	.newsletter-icon-img {
		width: 70px;
		height: 54px;
	}
}

// SM Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
	.article {
    	margin-bottom: 50px;
	  }
	  
	.contact-adress {
		border-top: none;
		border-bottom: solid 1px #EAEAEA;
		border-left: none;
		border-right: none;
	}

	.heading {
		.heading-title {
			h1 {
		  		font-size: rem-calc(16);
		  		padding: 26px 15px;
			}
		}
	}

	.m-t-xxl-on-md { margin-top: 60px; }
	.m-t-3xl-on-md { margin-top: 80px; }
	.m-t-4xl-on-md { margin-top: 100px; }

	.newsletter-content {
		display: flex;
		flex-direction: row;
	}

	.newsletter-icon {
		margin-bottom: 0;
		margin-right: 20px;
	}

	.newsletter-icon-img {
		width: 70px;
		height: 54px;
	}
}

// MD Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
	.article {
    	margin-bottom: 60px;
  	}

	.contact-adress {
		border-top: none;
		border-bottom: none;
		border-left: none;
		border-right: solid 1px #EAEAEA;
	}

	.newsletter-content {
		display: flex;
		flex-direction: row;
	}

	.newsletter-icon {
		margin-bottom: 20px;
		margin-right: 20px;
	}

	.newsletter-icon-img {
		width: 100px;
		height: 77px;
	}
}

// LG Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	.article {
    	margin-bottom: 60px;
	}

  	.contact-adress {
		border-top: none;
		border-bottom: none;
		border-left: none;
		border-right: solid 1px #EAEAEA;
	}

	.newsletter-content {
		display: flex;
		flex-direction: row;
	}

	.newsletter-icon {
		margin-bottom: 20px;
		margin-right: 20px;
	}

	.newsletter-icon-img {
		width: 100px;
		height: 77px;
	}
}