<%= render 'notifications_mailer/shared/hello', recipient: @recipient %>

<p>
  <%= t('.body.this_is_a_reminder_about_your_reservation_RESERVABLE_to_be_held_on_DATE_html',
        RESERVABLE: @attached_object.reservable.name,
        DATE: I18n.l(@attached_object.slots.order(:start_at).first.start_at, format: :long)
      )
  %>
</p>

<p>
  <%= t('.body.this_reservation_concerns_the_following_slots') %>
  <ul>
    <% @attached_object.slots.order(:start_at).each do |slot| %>
    <li><%= "#{I18n.l slot.start_at, format: :long} - #{I18n.l slot.end_at, format: :hour_minute}" %></li>
    <% end %>
  </ul>
</p>

<% if @attached_object.reservable_type == 'Event' || @attached_object.reservable_type == 'Training' %>
  <p>Merci d'arriver cinq minutes avant le début de l'activité. Si vous ne pouvez pas venir ou si vous prévoyez d'être en retard, merci de prévenir l'équipe en contactant le 06 22 77 97 90 ou en envoyant un mail à <a href="mailto:contact@labboite.fr">contact@labboite.fr</a></p>
<% end %>