<section class="container wrapper">
  <div class="col-lg-12">

    <!-- INTRO -->
    <div class="m-b">
      <h2 class="txt-orange m-b-sm">Espace fablab</h2>
      <p>Ici, on construit, on fabrique, on teste ! Nous mettons à disposition des outils dédiés à la conception, à la fabrication et au prototypage. Son accès est réservé aux membres ainsi qu’aux projets des structures partenaires.</p>
    </div>

    <!-- LINK TO MACHINES WEBSITE-->
    <div class="tips-list m-b-lg">
      <div class="tips-item">
        <div class="tips-icon">
          <img src="img/tips_documentation.png"/>
        </div>
        <div class="tips-content">
          <div class="tips-text">Sur notre <span class="tips-text-bold">plateforme de documentation</span>, retrouvez les caractéristiques, les notices et les astuces des machines et outils du fablab.</div>
          <div class="tips-text-cta">
            <a href="https://documentation.labboite.fr" class="btn btn-public btn-small btn-medium" target="_blank">Documentation des machines</a>
          </div>
        </div>
      </div>
    </div>

    <!-- MACHINES LIST -->
    <div class="row" ng-repeat="machine in (machines.length/4 | array)">
      <!-- Machine card -->
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" ng-repeat="machine in machines.slice(4*$index, 4*$index + 4)" ng-click="showMachine(machine)">
        <div class="card m-b">
          <div class="card-header" style="background-image: url('/thumbnail_blank.png'); background-size: cover; background-repeat: no-repeat; background-position: center;">
            <div class="card-header-bg-m" style="background-image:url({{machine.machine_image}});"></div>
          </div>
          <div class="card-body">
            <div class="card-title">{{machine.name}}</div> 
          </div>
        </div>
      </div>
    </div>

    <!-- ADMIN CONTROLS -->
    <a class="btn-profile btn-small btn-medium" ui-sref="app.admin.machines_new" role="button" ng-if="isAuthorized('admin')">
      <i class="fa fa-plus m-r-xs"></i> 
      <span translate>{{ 'machines_list.add_a_machine' }}</span>
    </a>

  </div>
</section>