<section class="col-lg-10 col-md-offset-1 p-n wrapper">      
  
  <div class="col-lg-12">
    <h2>Espace fablab</h2>
    <p>Cet espace est dédié à la conception, à la fabrication et au prototypage. Son accès est réservé aux adhérents ainsi qu’aux aux projets d’associations, d’entreprises ou d’enseignants encadrés</p>
  </div>

  <div class="col-lg-12">
    <!-- FILTERS to be hidden -->
    <div class="form-group row">
      <div class="input-group col-md-3 m-l-lg m-b">
        <span class="input-group-addon"><i class="fa fa-filter"></i></span>
        <select ng-model="machineFiltering" class="form-control">
          <option ng-repeat="status in filterDisabled" value="{{status}}" translate>{{ 'machines_list.status_'+status }}</option>
        </select>
      </div>
    </div>
  </div>

  <!-- MACHINES LIST -->
  <!-- Machine card -->
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" ng-class="{'disabled-reservable' : machine.disabled && machineFiltering === 'all'}" ng-repeat="machine in machines | filterDisabled:machineFiltering">
    <div class="card">
      <div class="card-header" ng-if="!machine.machine_image" ng-click="showMachine(machine)">
        <img src="data:image/png;base64," data-src="holder.js/100%x100%/text:&#xf03e;/font:FontAwesome/icon" bs-holder class="img-responsive">
      </div>
      <div class="card-header" style="background-image:url({{machine.machine_image}})" ng-if="machine.machine_image" ng-click="showMachine(machine)"></div>
      <div class="card-body">
        <h2>{{machine.name}}</h2>
      </div>
  </div>

</section>
