<div>
  <section class="container wrapper">
    
    <div class="col-lg-12">

      <!-- TITLE -->
      <div class="row m-b">
        <div class="col-lg-12">
          <h1 class="txt-green" translate>{{ 'declare_a_new_machine' }}</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
          <div class="alert alert-warning" role="alert">
            {{ 'watch_out_when_creating_a_new_machine_its_prices_are_initialized_at_0_for_all_subscriptions' | translate}}
            {{ 'consider_changing_them_before_creating_any_reservation_slot' | translate }}
          </div>

          <ng-include src="'<%= asset_path 'machines/_form.html' %>'"></ng-include>
        </div>
      </div>

    </div>
  
  </section>
</div>