<div class="modal-header">
  <h1 class="txt-green" translate>
    {{member.name}}
  </h1>
</div>

<div class="modal-body">
  <p class="text-center font-sbold" translate translate-values="{MACHINE:machine.name, TRAINING: humanizeTrainings()}">{{ 'to_book_the_MACHINE_you_must_have_completed_the_TRAINING' }}</p>
  <p class="text-center"><button ng-click="ok()" class="btn btn-warning-full rounded width-70" translate>{{ 'register_for_the_training' }}</button></p>
</div>
<div class="modal-footer">
  <p class="text-center">{{ 'i_dont_want_to_register_now' | translate }} <br/> 
  <a class="btn btn-profile btn-small btn-ultralight" href="#" ng-click="cancel($event)" translate>{{ 'close' }}</a></p>
</div>
