<div>
  <section class="container wrapper">
    
    <div class="col-lg-12">

      <!-- TITLE -->
      <div class="row m-b">
        <div class="col-lg-12">
          <h1 class="txt-orange m-b-xs">{{ machine.name }}</h1>
          <span class="title-tips txt-orange m-b">Faites défiler le calendrier pour voir les plages de réservation disponibles, puis sélectionnez un ou plusieurs créneau(x)</span>
        </div>
      </div>

      <div class="row">

        <!-- CALENDAR -->
        <div class="col-sm-12 col-md-12 col-lg-9">
          <div ui-calendar="calendarConfig" ng-model="eventSources" calendar="calendar" ng-show="!plansAreShown"></div>
          <ng-include ng-if="!fablabWithoutPlans" src="'<%= asset_path 'plans/_plan.html' %>'"></ng-include>
        </div>

        <!-- SIDE -->
        <div class="col-sm-12 col-md-12 col-lg-3">

          <div ng-if="currentUser.role === 'admin'">
            <select-member></select-member>
          </div>

          <cart slot="selectedEvent"
            slot-selection-time="selectionTime"
            events="events"
            user="ctrl.member"
            mode-plans="plansAreShown"
            plan="selectedPlan"
            plan-selection-time="planSelectionTime"
            settings="settings"
            on-slot-added-to-cart="markSlotAsAdded"
            on-slot-removed-from-cart="markSlotAsRemoved"
            on-slot-start-to-modify="markSlotAsModifying"
            on-slot-modify-success="modifyMachineSlot"
            on-slot-modify-cancel="cancelModifyMachineSlot"
            on-slot-modify-unselect="changeModifyMachineSlot"
            on-slot-cancel-success="slotCancelled"
            after-payment="afterPayment"
            reservable-id="{{machine.id}}"
            reservable-type="Machine"
            reservable-name="{{machine.name}}"></cart>

          <uib-alert type="warning m-b-sm">
            <i class="fa fa-warning m-r-xs"></i>
            <span ng-bind-html="machineExplicationsAlert"></span>
          </uib-alert>

        </div>

      </div>

    </div>

  </section>
</div>