<section class="container wrapper">

  <div class="col-lg-12">

    <!-- BACK -->
    <div class="row">
      <div class="col-lg-12 m-b">
        <a ui-sref="app.public.tools">{{ 'all_the_tools' | translate }}</a>
      </div>
    </div>

    <div class="row">
      <!-- MAIN -->
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="article">
          <div class="article-thumbnail" ng-if="machine.machine_image">
            <img ng-src="{{machine.machine_image}}" alt="{{machine.name}}" class="img-responsive">
          </div>
          <h1 class="txt-orange m-b-sm">{{ machine.name }}</h1>
          <p ng-bind-html="machine.description | toTrusted"></p>
        </div>
      </div>

      <!-- SIDE INFOS -->
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

        <!-- Specs -->
        <div class="panel">
          <div class="panel-heading">
            <h3 translate>{{ 'technical_specifications' }}</h3>
          </div>
          <div class="panel-content p-l">
            <h3></h3>
            <p ng-bind-html="machine.spec | toTrusted"></p>
          </div>
          <!-- Reservation button -->
          <div class="panel-footer no-padder ng-scope">
            <a ng-click="reserveMachine(machine, $event)" class="button-public link-button link-button-block" ng-if="!isAuthorized('admin')" ng-hide="machine.disabled" translate>{{ 'book_this_machine' }}</a>
          </div>
        </div>

        <!-- Files -->
        <section class="panel" ng-if="machine.machine_files_attributes">
          <div class="panel-heading">
            <span class="badge bg-warning pull-right">{{machine.machine_files_attributes.length}}</span>
            <h3 translate>{{ 'files_to_download' }}</h3>
          </div>
          <ul class="panel-content list-group">       
            <li ng-repeat="file in machine.machine_files_attributes" class="list-group-item">
              <a class="p-l" target="_blank" ng-href="{{file.attachment_url}}">{{file.attachment | humanize : 25}}</a>
            </li>             
          </ul>
        </section>

        <!-- Projects -->
        <section class="panel" ng-if="machine.machine_projects">
          <div class="panel-heading">
            <span class="badge bg-warning pull-right">{{machine.machine_projects.length}}</span>
            <h3 translate>{{ 'projects_using_the_machine' }}</h3>
          </div>
          <ul class="panel-content list-group">
            <li ng-repeat="project in machine.machine_projects" class="list-group-item">
              <a class="p-l" ui-sref="app.public.projects_show({id:project.slug})">{{project.name}}</a>
            </li>
          </ul>
        </section>

      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 m-b">
        <a ui-sref="app.admin.machines_edit({id: machine.id})" ng-if="isAuthorized('admin')" class="btn-profile btn-small btn-medium">{{ 'edit' | translate }}</a>
        <a ng-click="delete(machine)" ng-if="isAuthorized('admin')" class="btn-profile btn-small btn-medium">{{ 'delete' | translate }}</a>
      </div>
    </div>

  </div>

</section>
