<section class="container wrapper">

  <div class="col-lg-12">

    <!-- BACK -->
    <div class="row">
      <div class="col-lg-12 m-b">
        <a ui-sref="app.public.tools">
          <i class="fa fa-chevron-left m-r-xs"></i> 
          <span>tous les outils</span>
        </a>
      </div>
    </div>

    <div class="row">
      <!-- MAIN -->
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="article">
          <div class="article-thumbnail" ng-if="machine.machine_image">
            <img ng-src="{{machine.machine_image}}" alt="{{machine.name}}" class="img-responsive">
          </div>
          <h1 class="txt-orange m-b-sm">{{ machine.name }}</h1>
          <p ng-bind-html="machine.description | toTrusted"></p>
        </div>
      </div>

      <!-- SIDE INFOS -->
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

        <!-- ADMIN -->
        <div class="m-b" ng-if="isAuthorized('admin')">
          <a ui-sref="app.admin.machines_edit({id: machine.id})" ng-if="isAuthorized('admin')" class="btn-profile btn-small btn-medium"><i class="fa fa-edit m-r-xs"></i> {{ 'edit' | translate }}</a>
          <a ng-click="delete(machine)" ng-if="isAuthorized('admin')" class="btn-profile btn-small btn-medium"><i class="fa fa-trash m-r-xs"></i> {{ 'delete' | translate }}</a>
        </div>

        <!-- Specs -->
        <div class="panel">
          <div class="panel-heading">
            <div class="panel-title">
              <span translate>{{ 'technical_specifications' }}</span>
            </div>
          </div>
          <div class="panel-content p-l">
            <h3></h3>
            <p ng-bind-html="machine.spec | toTrusted"></p>
          </div>
          <!-- Reservation button -->
          <div class="panel-footer no-padder ng-scope">
            <a ng-click="reserveMachine(machine, $event)" class="button-public link-button link-button-block" ng-hide="machine.disabled" translate>{{ 'book_this_machine' }}</a>
          </div>
        </div>

        <!-- Files -->
        <section class="panel" ng-if="machine.machine_files_attributes.length > 0">
          <div class="panel-heading">
            <div class="panel-title">
              <span class="badge bg-warning pull-right">{{machine.machine_files_attributes.length}}</span>
              <span translate>{{ 'files_to_download' }}</span>
            </div>
          </div>
          <ul class="panel-content list-group p-l">       
            <li ng-repeat="file in machine.machine_files_attributes" class="list-group-item">
              <a target="_blank" ng-href="{{file.attachment_url}}">{{file.attachment | humanize : 25}}</a>
            </li>             
          </ul>
        </section>

        <!-- Projects -->
        <section class="panel" ng-if="machine.machine_projects">
          <div class="panel-heading">
            <div class="panel-title">
              <span class="badge bg-warning pull-right">{{machine.machine_projects.length}}</span>
              <span translate>{{ 'projects_using_the_machine' }}</span>
            </div>
          </div>
          <ul class="panel-content list-group p-l">
            <li ng-repeat="project in machine.machine_projects" class="list-group-item">
              <a ui-sref="app.public.projects_show({id:project.slug})">{{project.name}}</a>
            </li>
          </ul>
        </section>

      </div>
    </div>

  </div>

</section>
