<!-- INTRO -->
<div class="hero-global" style="background-size: cover; background-position: center; background-image: url('img/homepage_pano.jpg');">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="container">
      <div class="hero-content">
        <div class="hero-claim">
          LabBoîte est un atelier de <span class="font-bold">conception</span><br/> et de <span class="font-bold">fabrication partagé<span>
        </div>
        <a ui-sref="app.public.place" class="btn btn-public btn-default btn-medium">{{ 'more_info' | translate }}</a>
      </div>
    </div>
  </div>
</div>

<section class="container m-t">
  <div class="col-lg-12"> 
    <!-- MESSAGE -->
    <div class="news-alert m-b" ng-if="(homeBlogpost != null) && (homeBlogpost != '') && (homeBlogpost != undefined)">
        <div class="news-alert-head">Attention</div>
        <div class="news-alert-body">
            <span ng-bind-html="homeBlogpost"></span>
        </div>
    </div>
  </div>
</section>

<!-- NEWSLETTER -->
<section class="container wrapper">
  <div class="col-lg-12">
    <div class="newsletter">
      <div class="newsletter-content">
        <div class="newsletter-icon">
          <img class="newsletter-icon-img" src="img/newsletter_icon.png" />
        </div>
        <div class="newsletter-text">
          <div class="newsletter-text-body">
            <span class="newsletter-text-bold">Vous souhaitez être tenu au courant de l'actualité de LabBoîte ?</span><br/>
            <span class="newsletter-text-normal">Abonnez-vous à notre newsletter ! Elle vous sera envoyée une fois par mois, directement dans votre boîte mail.</span>
          </div> 
          <div class="newsletter-text-cta">
            <a href="http://eepurl.com/hniVOT" class="btn btn-public btn-small btn-medium" target="_blank">Je m'abonne</a>
          </div>
        </div>    
      </div>
    </div>
  </div>
</section>

<!-- NEXT EVENTS -->
<section class="container wrapper">
  <div class="col-lg-12">
    <h2 class="txt-orange m-b">{{ 'fablab_s_next_events' | translate }}</h2>
    <div class="row" ng-repeat="event in (upcomingEvents.length/4 | array)">  
      
      <!-- Event card -->
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" ng-repeat="event in upcomingEvents.slice(4*$index, 4*$index + 4)">
        <div class="card m-b" ui-sref="app.public.events_show({id: event.id})">
          <div class="card-header" style="background-image: url('/thumbnail_blank.png'); background-size: cover; background-repeat: no-repeat; background-position: center;">
            <div class="card-header-bg-m" style="background-image: url({{event.event_image_medium}});"></div>
          </div>
          <div class="card-body">
            <div class="card-data m-b-xs" ng-hide="isOneDayEvent(event)">{{ 'from_date_to_date' | translate:{START:(event.start_date | amDateFormat:'LL'), END:(event.end_date | amDateFormat:'LL')} }}</div> 
            <div class="card-data m-b-xs" ng-show="isOneDayEvent(event)">{{ 'on_the_date' | translate:{DATE:(event.start_date | amDateFormat:'LL')} }}</div> 
            <div class="card-title">{{event.title}}</div>
          </div>
        </div>  
      </div>

    </div>
    <a ui-sref="app.public.events_list" class="pull-right">{{ 'every_events' | translate }}</a>
  </div>
</section>

<!-- SPONSORS -->
<section class="container wrapper">
  <div class="col-lg-12">
    <h2 class="txt-orange m-b">{{ 'fablab_s_sponsors' | translate }}</h2>
    <div class="home-sponsors">
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
          <a href="https://www.u-cergy.fr/fr/index.html" target="_blank">
            <img class="img-width-full m-b" src="img/sponsor_cy.png" />
          </a>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
          <a href="https://www.cergypontoise.fr/" target="_blank">
            <img class="img-width-full m-b" src="img/sponsor_cacp.png" />
          </a>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
          <a href="http://www.valdoise.fr/" target="_blank">
            <img class="img-width-full m-b" src="img/sponsor_valoise.png" />
          </a>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
          <a href="https://www.iledefrance.fr/" target="_blank">
            <img class="img-width-full m-b" src="img/sponsor_idf.png" />
          </a>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
          <a href="http://www.europe-en-france.gouv.fr/" target="_blank">
            <img class="img-width-full m-b" src="img/sponsor_europesengage.png" />
          </a>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
          <a href="https://europa.eu/" target="_blank">
            <img class="img-width-full m-b" src="img/sponsor_unioneuropeenne.png" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container wrapper">
  <div class="col-lg-12">
    <h2 class="txt-orange m-b">{{ 'fablab_s_patrons' | translate }}</h2>
    <div class="home-sponsors">
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
          <a href="http://fondation.u-cergy.fr/" target="_blank">
            <img class="img-width-full m-b" src="img/sponsor_cyfondation.png" />
          </a>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
          <a href="https://www.capenfants.com/" target="_blank">
            <img class="img-width-full m-b" src="img/sponsor_capenfants_v2.png" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>