<div class="alert alert-warning m-sm text-center" ng-if="(homeBlogpost != null) && (homeBlogpost != '') && (homeBlogpost != undefined)">
	<span ng-bind-html="homeBlogpost"></span>
</div>

<!-- INTRO -->
<div class="home-intro">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="container">
      <div class="home-content">
        <div class="home-claim">
          LabBoîte est un atelier de <span class="font-bold">conception</span><br/> et de <span class="font-bold">fabrication partagé<span>
        </div>
        <a class="link-button btn-default">Découvrir le lieu</a>
      </div>
    </div>
  </div>
</div>

<!-- NEXT EVENTS -->
<section class="container wrapper">
  <div class="col-lg-12">
    <h2>{{ 'fablab_s_next_events' | translate }}</h2>
    <div class="row" ng-repeat="event in (upcomingEvents.length/4 | array)">  
      
      <!-- Event card -->
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3" ng-repeat="event in upcomingEvents.slice(4*$index, 4*$index + 4)">
        <div class="card" ui-sref="app.public.events_show({id: event.id})">
          <div class="card-header" style="background-image: url({{event.event_image_medium}});" >
            <img src="data:image/png;base64," data-src="holder.js/100%x100%/text:&#xf03e;/font:FontAwesome/icon" bs-holder ng-if="!event.event_image" class="img-responsive">
          </div>
          <div class="card-body">
              <h3 ng-hide="isOneDayEvent(event)">{{ 'from_date_to_date' | translate:{START:(event.start_date | amDateFormat:'LL'), END:(event.end_date | amDateFormat:'LL')} }}</h3>
              <h3 ng-show="isOneDayEvent(event)">{{ 'on_the_date' | translate:{DATE:(event.start_date | amDateFormat:'LL')} }}</h3>
              <h2>{{event.title}}</h2>
          </div>
        </div>  
      </div>

    </div>
    <a ui-sref="app.public.events_list" class="pull-right">{{ 'every_events' | translate }}</a>
  </div>
</section>

<!-- SPONSORS -->
<section class="container wrapper">
  <div class="col-lg-12">
    <h2>{{ 'fablab_s_sponsors' | translate }}</h2>
    <div class="home-sponsors">
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
        <img src="/sponsor_agglo.png" />
      </div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
        <img src="/sponsor_comue.png" />
      </div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
        <img src="/sponsor_valdoise.png" />
      </div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
        <img src="/sponsor_iledefrance.png" />
      </div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
        <img src="/sponsor_feder.png" />
      </div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
        <img src="/sponsor_ue.png" />
      </div>
    </div>
  </div>
</section>